<nav class="tabs_WindowMenu" data-group="groupWindowContent">

    <a data-tab="actor" data-group="groupWindowContent">  
       <div class="_bookmark">
        <div class="_imgButton"
                data-tooltip="{{localize 'common.menuCharacter'}}">
        </div>
       </div> 
    </a>        
    <a data-tab="skills" data-group="groupWindowContent">        
       <div class="_bookmark">
        <div class="_imgButton"
                data-tooltip="{{localize 'common.menuSkills'}}">
        </div>
       </div>
     </a>        
     <a data-tab="equipment" data-group="groupWindowContent">  
       <div class="_bookmark">
        <div class="_imgButton"
                data-tooltip="{{localize 'common.menuEquipment'}}">
        </div>
       </div>
     </a>        
     <a data-tab="magic" data-group="groupWindowContent">        
       <div class="_bookmark">
        <div class="_imgButton"
            data-tooltip="{{localize 'common.menuMagic'}}">
        </div>
       </div>
     </a>        
     <a data-tab="combat" data-group="groupWindowContent">
       <div class="_bookmark">
        <div class="_imgButton"
            data-tooltip="{{localize 'common.menuCombat'}}">
        </div>
       </div>
     </a>        

</nav>