<div class="_bookmarks">{{>actorWbookmarks}}</div>
<div class="tabs_WindowContent">
    
    
    
    {{!-- TEMP --}}
    <info>Este es un modo de ficha reducida para criaturas y PNJs. En breve será implementada.</info>
       
    
    
    <div class="tab _content" 
         data-group="groupWindowContent" 
         data-tab="actor">
            {{>actorWSheetActor}}
    </div>      
    <div class="tab _content" 
         data-group="groupWindowContent" 
         data-tab="skills">
            {{>actorWSheetSkills}}
    </div>
    <div class="tab _content" 
         data-group="groupWindowContent" 
         data-tab="combat">
            {{>actorWSheetCombat}}
    </div>
    <div class="tab _content" 
         data-group="groupWindowContent" 
         data-tab="magic">
            {{>actorWSheetMagic}}
    </div>
    <div class="tab _content" 
         data-group="groupWindowContent" 
         data-tab="equipment">
            {{>actorWSheetEquipment}}
    </div>                  

</div>