{{!-- ITEM LIST --}}
<div class="_itemList">

    <div class="_header">
        <a class="_frameButton _openCompendium" 
            data-action="compendium"
            data-itemid="armors">
            <button>{{localize 'common.openCompendium'}}</button>
        </a>
    </div>

    {{#if backArmor.noItems}}
    <label class="_info">{{localize 'info.noItems'}}</label>
    {{/if}}

    {{#each backArmor.items as |item index|}}
    <div class="_item">
        <a class="_frameButton _mainItemWrap" 
           data-action="showItem"
           data-itemid="{{item._id}}">
        <div class="_mainItem">
            <img class="_itemImg" src="{{item.img}}">
            <div class="_itemBody">
                <div class="_title">{{item.name}}</div>
                <div class="_properties">
                    <label>{{localize 'common.prot'}}: <span class="_bold">{{item.system.protection}}</span>
                           {{localize 'common.end'}}: <span class="_bold">{{item.system.endurance}}</span>/{{item.system.endInitial}}</label>
                </div>
            </div>
        </div>
        </a>
        <div class="_utils">
            <a class="_frameButton _big" 
                data-action="deleteItem"
                data-itemid="{{item._id}}">
                <button data-img="icons/delete.svg" 
                        data-icon="true"
                        data-tooltip="{{localize 'common.delete'}}"></button>
            </a>
        </div>
    </div>
    {{/each}}


</div>

{{>actorEquipmentArmorTree}}