<formSection class="_100">
    <formColumn class="_50">
        <formBlock>
            <formTitle class="_100">{{localize 'common.experience'}}</formTitle>
            <formField class="_100">
                <label class="_50">{{localize "common.experience"}}</label>
                <input class="_25"
                        {{#unless systemData.type.fencing}}disabled{{/unless}}
                        name="system.fencing.experience" 
                        type="number" 
                        value="{{systemData.fencing.experience}}"  /> 
            </formField>
        </formBlock>
    </formColumn>
    <formColumn class="_50">
        <formBlock>
            <formTitle class="_100">{{localize 'common.requirements'}}</formTitle>
            <formField class="_100">
                <label class="_50">{{localize "common.fencing"}}</label>
                <input class="_25"
                        {{#unless systemData.type.fencing}}disabled{{/unless}}
                        name="system.fencing.requirements.fencing" 
                        type="number" 
                        value="{{systemData.fencing.requirements.fencing}}"  /> 
            </formField>
            <formField class="_100">
                <label class="_50">{{localize "common.dodge"}}</label>
                <input class="_25"
                        {{#unless systemData.type.fencing}}disabled{{/unless}}
                        name="system.fencing.requirements.dodge" 
                        type="number" 
                        value="{{systemData.fencing.requirements.dodge}}"  /> 
            </formField>   
            <formField class="_100">
                <label class="_50">{{localize "common.fight"}}</label>
                <input class="_25"
                        {{#unless systemData.type.fencing}}disabled{{/unless}}
                        name="system.fencing.requirements.fight" 
                        type="number" 
                        value="{{systemData.fencing.requirements.fight}}"  /> 
            </formField>     
            <formField class="_100">
                <label class="_50">{{localize "common.dagger"}}</label>
                <input class="_25"
                        {{#unless systemData.type.fencing}}disabled{{/unless}}
                        name="system.fencing.requirements.dagger" 
                        type="number" 
                        value="{{systemData.fencing.requirements.dagger}}"  /> 
            </formField> 
            <formField class="_100">
                <label class="_50">{{localize "common.shield"}}</label>
                <input class="_25"
                        {{#unless systemData.type.fencing}}disabled{{/unless}}
                        name="system.fencing.requirements.shield" 
                        type="number" 
                        value="{{systemData.fencing.requirements.shield}}"  /> 
            </formField>  
        </formBlock>                     
    </formColumn>
</formSection>