<div class="_magicThrow">
    <div class="_hexRoll">
        <div class="_contentRoll">
            <div class="_rollStats">

                <div class="_statRow">
                    <label>{{localize "characteristics.conc"}}</label>
                    <div class="_combo">
                        <div class="_magicBar">
                            <div class="_back"></div>
                            <div class="_front" style="width: {{backMagic.properties.concPer}}%; background: #e10d1669;"></div>
                        </div>
                        <label class="_stat">{{backMagic.properties.conc}} / {{backMagic.properties.concMax}}</label>
                    </div>
                </div>

                <div class="_statRow">
                    <label>{{localize "characteristics.irr"}}</label>
                    <label class="_stat">{{backMagic.spell.roll.base}} %</label>
                </div>
                <div class="_statRow">
                    <label>{{localize "common.modByArmor"}}
                        {{#if backMagic.spell.roll.armorApply}}
                            ({{backMagic.spell.roll.armorName}})
                        {{/if}}
                    </label>
                    <label class="_stat">{{backMagic.spell.roll.armorMod}} %</label>
                </div>
                <div class="_statRow">
                    <label>{{localize "common.modCusto"}}</label>
                    <div class="_combo">
                        {{#if isGM}}
                            <input name="system.control.combat.spell.custoMod"
                                   data-tooltip="{{localize 'info.combatMod'}}"
                                   type="text" 
                                   class="_spellCustoMod"
                                   value="{{systemData.control.combat.spell.custoMod}}"/>
                            <label class="_stat"> %</label>
                        {{else}}
                            <label class="_stat">{{systemData.control.combat.spell.custoMod}} %</label>
                        {{/if}}
                    </div>                    
                </div>

            </div>
        </div>
    </div>
</div>