<div class="_actorModes">

    {{#each backModes as |mode index|}}
    <div class="_mode {{#if mode.removable}}_removable{{/if}}" 
         data-mode="{{index}}">
        <div class="_img" style="background-image: url({{mode.img}})"></div>
        <div class="_title">{{mode.label}}</div>
        
        {{#if ../isGM}}
        <a class="_frameButton _delete" 
            data-action="deleteMode"
            data-stepid="{{index}}"
            data-index="{{index}}">
                <button data-img="icons/delete.svg" 
                        data-icon="true"></button>
        </a>
        {{/if}}

    </div>
    {{/each}}

    <div class="_mode _removable _addMode" 
         data-tooltip="{{localize 'common.addMode'}}"
         data-action="addMode">
        <div class="_img" style="background-image: url({{path}}/assets/modes/add.png)"></div>
    </div>       
</div>