<div class="_line _simple">
    <label>{{localize 'common.name'}}</label>
    <input type="text"
           class="_updater"
           data-path="name"
           data-control="input[name='name']"
           value="{{actor.name}}" />

    <input name="system.attributes.female" 
           class="_femaleCBox"
           id="cFemale"
           type="checkbox" 
           style="opacity: 0.6;"
           {{#if systemData.lockFemale}} disabled {{else}} {{locked}} {{/if}}
           {{checked systemData.attributes.female}} />                                    
    <label for="cFemale" style="margin: 0 10px">{{localize "common.female"}}</label>           
</div>
<div class="_line _simple">
    
    <label class="_main">{{localize 'common.height'}}</label>
    <input class="_attributeValue"
           {{locked}}
           name="system.attributes.height" 
           type="number" 
           value="{{systemData.attributes.height}}" />    
    <label class="_light">{{backLore.hUnit}}</label>

    <label class="_main">{{localize 'common.weight'}}</label>
    <input class="_attributeValue"
           {{locked}}
           name="system.attributes.weight" 
           type="number" 
           value="{{systemData.attributes.weight}}" />       
    <label class="_light">{{backLore.wUnit}}</label>

    <label class="_main">{{localize 'common.age'}}</label>
    <input class="_attributeValue"
           {{locked}}
           name="system.attributes.age" 
           type="number" 
           value="{{systemData.attributes.age}}" />       
    <label class="_light">{{common.years}}</label>    
</div>

{{!-- RULES --}}
<div class="_line _simple _rules">
    <label>{{localize 'common.rules'}}</label>
    <select name="system.control.rules"
            disabled
            id="selectLoreRules">
        {{selectOptions backLore.rules 
                        selected=systemData.control.rules
                        localize=false
                        nameAttr="key"
                        labelAttr="name" }}
    </select>     
</div>

{{!-- KINGDOM --}}
<div class="_line">

    <label>{{localize 'common.kingdom'}}</label>
    
    {{#unless backLore.kingdom.noItem}}
    <img src="{{backLore.kingdom.item.img}}" class="_loreIcon" />
    {{/unless}}

    <a class="_frameButton" 
       data-action="showItem"
       data-itemid="{{backLore.kingdom.item._id}}">
       <label class="_lore">{{backLore.kingdom.label}}</label>
    </a>
    {{#unless backLore.kingdom.noItem}}  
        {{#unless (isLocked)}}
        <a class="_frameButton" 
            data-action="deleteLoreItem"
            data-itemid="{{backLore.kingdom.item._id}}">
            <button data-img="icons/delete.svg" 
                    data-icon="true"
                    data-big="true"
                    data-tooltip="{{localize 'common.deleteKingdom'}}"></button>
        </a>
        {{/unless}}
    {{else}}
        <a class="_frameButton" 
            data-action="addItemLore"
            data-target="loreKingdom">
            <button data-img="icons/add.svg" 
                    data-icon="true"
                    data-tooltip="{{localize 'common.addKingdom'}}"></button>
        </a>        
    {{/unless}}
</div>

{{!-- NATION --}}
<div class="_line">

    <label>{{localize 'common.origin'}}</label>

    {{#unless backLore.nation.noItem}}
    <img src="{{backLore.nation.item.img}}" class="_loreIcon" />
    {{/unless}}

    <a class="_frameButton" 
       data-action="showItem"
       data-itemid="{{backLore.nation.item._id}}">
       <label class="_lore">{{backLore.nation.label}} 
            {{#unless backLore.nation.noItem}}({{backLore.society.label}}){{/unless}}</label>
    </a>    
    {{#unless backLore.nation.noItem}}
        {{#unless (isLocked)}}
        <a class="_frameButton" 
            data-action="deleteLoreItem"
            data-itemid="{{backLore.nation.item._id}}">
            <button data-img="icons/delete.svg" 
                    data-icon="true"
                    data-big="true"
                    data-tooltip="{{localize 'common.deleteNation'}}"></button>
        </a> 
        {{/unless}}
    {{else}}
        {{#unless backLore.kingdom.noItem}}
            <a class="_frameButton" 
            data-action="addItemLore"
            data-target="loreNation">
            <button data-img="icons/add.svg" 
                    data-icon="true"
                    data-tooltip="{{localize 'common.addNation'}}"></button>
            </a>
        {{/unless}}
    {{/unless}}              
</div>

{{!-- STRATUM --}}
<div class="_line">

    <label>{{localize 'common.stratum'}}</label>

    {{#unless backLore.stratum.noItem}}
    <img src="{{backLore.stratum.item.img}}" class="_loreIcon" />
    {{/unless}}    

    <a class="_frameButton" 
       data-action="showItem"
       data-itemid="{{backLore.stratum.item._id}}">
       <label class="_lore">{{backLore.stratum.label}}</label>
    </a> 
    {{#unless backLore.stratum.noItem}}   
        {{#unless (isLocked)}}    
        <a class="_frameButton" 
            data-action="deleteLoreItem"
            data-itemid="{{backLore.stratum.item._id}}">
            <button data-img="icons/delete.svg" 
                    data-icon="true"
                    data-big="true"
                    data-tooltip="{{localize 'common.deleteStratum'}}"></button>
        </a>  
        {{/unless}}   
    {{else}}
        {{#unless backLore.society.noItem}}
            <a class="_frameButton" 
            data-action="addItemLore"
            data-target="loreStratum">
            <button data-img="icons/add.svg" 
                    data-icon="true"
                    data-tooltip="{{localize 'common.addStratum'}}"></button>
            </a>
        {{/unless}}
    {{/unless}}          
</div>

{{!-- POSITION --}}
<div class="_line">

    <label>{{localize 'common.position'}}</label>

    {{#unless backLore.position.noItem}}
    <img src="{{backLore.position.item.img}}" class="_loreIcon" />
    {{/unless}}

    <a class="_frameButton" 
       data-action="showItem"
       data-itemid="{{backLore.position.item._id}}">
       <label class="_lore">{{backLore.position.label}}</label>
    </a> 
    {{#unless backLore.position.noItem}}   
        {{#unless (isLocked)}}
        <a class="_frameButton" 
            data-action="deleteLoreItem"
            data-itemid="{{backLore.position.item._id}}">
            <button data-img="icons/delete.svg" 
                    data-icon="true"
                    data-big="true"
                    data-tooltip="{{localize 'common.deletePosition'}}"></button>
        </a>   
        {{/unless}}  
    {{else}}
        {{#unless backLore.stratum.noItem}}
            <a class="_frameButton" 
            data-action="addItemLore"
            data-target="lorePosition">
            <button data-img="icons/add.svg" 
                    data-icon="true"
                    data-tooltip="{{localize 'common.addPosition'}}"></button>
            </a>
        {{/unless}}
    {{/unless}}          
</div>

{{!-- PATERN PROFESSION --}}
<div class="_line">

    <label>{{localize 'common.paternProfession'}}</label>

    {{#unless backLore.paternProfession.noItem}}
    <img src="{{backLore.paternProfession.item.img}}" class="_loreIcon" />
    {{/unless}}

    <a class="_frameButton" 
       data-action="showItem"
       data-itemid="{{backLore.paternProfession.item._id}}">
       <label class="_lore">{{backLore.paternProfession.label}}</label>
    </a>    
    {{#unless backLore.paternProfession.noItem}}
        {{#unless (isLocked)}}
        <a class="_frameButton" 
            data-action="deleteLoreItem"
            data-itemid="{{backLore.paternProfession.item._id}}">
            <button data-img="icons/delete.svg" 
                    data-icon="true"
                    data-big="true"
                    data-tooltip="{{localize 'common.deleteProfession'}}"></button>
        </a> 
        {{/unless}}             
    {{else}}
        {{#unless backLore.position.noItem}}
            <a class="_frameButton" 
            data-action="addItemLore"
            data-target="lorePaternProfession">
            <button data-img="icons/add.svg" 
                    data-icon="true"
                    data-tooltip="{{localize 'common.addProfession'}}"></button>
            </a>
        {{/unless}}
    {{/unless}} 
</div>


{{!-- PROFESSION --}}
<div class="_line _profession">

    <label>{{localize 'common.profession'}}</label>

    {{#unless backLore.profession.noItem}}
    <img src="{{backLore.profession.item.img}}" class="_loreIcon" />
    {{/unless}}

    <a class="_frameButton" 
       data-action="showItem"
       data-itemid="{{backLore.profession.item._id}}">
       <label class="_lore">{{backLore.profession.label}}</label>
    </a>    
    {{#unless backLore.profession.noItem}}
        {{#unless (isLocked)}}
        <a class="_frameButton" 
            data-action="deleteLoreItem"
            data-itemid="{{backLore.profession.item._id}}">
            <button data-img="icons/delete.svg" 
                    data-icon="true"
                    data-big="true"
                    data-tooltip="{{localize 'common.deleteProfession'}}"></button>
        </a>
        {{/unless}}      
    {{else}}
        {{#unless backLore.position.noItem}}
            <a class="_frameButton" 
            data-action="addItemLore"
            data-target="loreProfession">
            <button data-img="icons/add.svg" 
                    data-icon="true"
                    data-tooltip="{{localize 'common.addProfession'}}"></button>
            </a>
        {{/unless}}
    {{/unless}}        
</div>