<div class="_magicBook">
    <div class="_itemList">

        {{#if isGM}}
        <div class="_header">
            <a class="_frameButton _openCompendium" 
                data-action="compendium"
                data-itemid="spells">
                <button>{{localize 'common.openCompendium'}}</button>
            </a>
        </div>
        {{/if}}
    
        {{#if backMagic.noSpells}}
        <label class="_info">{{localize 'info.noItems'}}</label>
        {{/if}}

        {{#each backMagic.spells as |spell index|}}
        <div class="_item _spell">
            <a class="_frameButton _mainItemWrap" 
               data-action="showItem"
               data-itemid="{{spell._id}}">
            <div class="_mainItem">
                <img class="_itemImg" src="{{spell.img}}">
                <div class="_itemBody">
                    <div class="_title">{{spell.name}}</div>
                    <div class="_properties">                     
                        {{#if spell.system.type.vis}}
                        <label>{{localize 'common.vis'}}: <span class="_bold" style="margin-right: 10px">{{spell.system.level}} 
                            ({{localizeBy 'spell.vis' spell.system.level}})</span>                           
                            {{localize 'common.shape'}}: <span class="_bold">{{spellShape spell}}</span>
                        </label>
                        {{/if}}        
                        {{#if spell.system.type.ordo}}
                        <label>{{localize 'common.ordo'}}: <span class="_bold" style="margin-right: 10px">{{spell.system.level}} 
                            ({{localizeBy 'spell.ordo' spell.system.level}})</span>
                        </label>
                        {{/if}}
                        <label>{{localize 'common.status'}}: <span class="_bold {{#unless spell.system.learned}}_red{{/unless}}">
                            {{#if spell.system.learned}} {{localize 'common.learnedM'}}
                                                {{else}} {{localize 'common.learnedS'}}{{/if}}</span>
                        </label>
                        {{#if spell.system.study.fromBook}}
                        <label>{{localize 'common.grimoire'}}: <span class="_bold">{{bookName spell.system.study.book}}</span></label>
                        {{/if}}
                    </div>
                </div>
            </div>
            </a>            
            <div class="_utils">
                {{#if ../isGM}}
                <a class="_frameButton _big" 
                    data-action="deleteItem"
                    data-itemid="{{spell._id}}">
                    <button data-img="icons/delete.svg" 
                            data-icon="true"
                            data-tooltip="{{localize 'common.delete'}}"></button>
                </a>
                {{/if}}
            </div>
        </div>            
        {{/each}}

    </div>
</div>