{{!-- ************ ACTIONS ************ --}}
<div class="_actions">
    <div class="_header">
        <a class="_frameButton" data-action="compendium" data-itemid="actions">
            <button data-img="icons/scroll.svg" 
                    data-label="common.openCompendium"
                    data-tooltip="{{localize 'common.openCompendium'}}"></button>
        </a>        
        <a class="_frameButton" data-action="importActions">
            <button data-img="icons/add.svg" 
                    data-label="common.importActions"
                    data-tooltip="{{localize 'info.importActions'}}"></button>
        </a>        
    </div>
    <div class="_items">
        {{#each backCombat._actions as |item index|}}
        <div class="_item">
            <img class="_img" src="{{item.img}}"/>
            <div class="_content">
                <a class="_frameButton _pointer" data-action="showItem"
                                        data-itemid="{{item._id}}">
                    <label class="_itemTitle">{{item.name}}</label>
                </a>
                <label class="_itemDescr">{{actionDescr item}}</label>
            </div>
            <div class="_actions">
                <a class="_frameButton" data-action="deleteItem"
                                        data-itemid="{{item._id}}">
                    <button data-img="icons/delete.svg" 
                            data-icon="true"
                            data-big="true"
                            data-tooltip="{{localize 'common.delete'}}" 
                            data-tooltip-direction="UP"></button>
                </a>                 
            </div>
        </div>
        {{/each}}
    </div>
</div>