<div class="_rationality">
    <div class="_boxRationality">
        <div class="_statRow _rrStat">
            <label>{{localize 'characteristics.rr'}}</label>
            <input class="_attributeValue _maxSpaced _rrValue"
                    {{locked}}
                    name="system.secondaries.rr.value" 
                    type="number" 
                    value="{{systemData.secondaries.rr.value}}" />
        </div>         
        <div class="_statRow">
            <label>{{localize 'characteristics.faith'}}</label>
            <div class="_combo">
                <input class="_attributeValue"
                       {{locked}}
                       name="system.secondaries.faith.value" 
                       type="number" 
                       value="{{systemData.secondaries.faith.value}}" />   
                <label class="_max"> / {{systemData.secondaries.faith.max}}</label>             
            </div>
        </div>       
    </div>

    <div class="_boxLuck">
        <div class="_statColumn _50 _statLuck" style="padding-top: 1.5%;">
            <label>{{localize 'characteristics.luck'}}</label>
            <label class="_whiteBorderHard _big _luckBig">{{systemData.secondaries.luck.value}}</label>
        </div>
        <div class="_statColumn _50" style="align-items: flex-end;">
            <div class="_statRow" style="justify-content: flex-end;">
                {{!-- <label class="_small" style="margin-right: 5px; margin-top: 5%;">{{localize 'common.current'}}</label> --}}
                <div class="_combo">
                    <input class="_attributeValue"
                            {{locked}}
                            name="system.secondaries.luck.value" 
                            type="number" 
                            value="{{systemData.secondaries.luck.value}}" />
                    <label class="_max"> / {{systemData.secondaries.luck.max}}</label>   
                </div>
            </div>
            
            <a class="_frameButton _rollLuck" style="margin-right: calc(var(--hSize)* 0.004);"
                data-action="roll"
                data-target="luck"
                data-actorid="{{actor.id}}"
                data-tokenid="{{tokenId actor}}"                
                data-rolltitle="{{localize 'common.luckRoll'}}"
                data-nohelps="true"
                data-rollbase="{{systemData.secondaries.luck.max}}"
                data-rollvalue="{{systemData.secondaries.luck.max}}">
                <button data-img="icons/roll.svg" 
                        data-label="common.roll"></button>
            </a>            

        </div>
    </div>
  
    <div class="_boxExperience">
        <div class="_statRow">
            <label>{{localize 'characteristics.exper'}}</label>
            <div class="_combo">
                <input class="_attributeValue"
                        {{locked}}
                        name="system.secondaries.exper.value" 
                        type="number" 
                        value="{{systemData.secondaries.exper.value}}" />  
                <input class="_max"
                        {{locked}}
                        name="system.secondaries.exper.max" 
                        type="number" 
                        value="{{systemData.secondaries.exper.max}}" />
            </div>
        </div>
    </div>    

    <div class="_boxTemplance">
        <div class="_statRow">
            <label>{{localize 'characteristics.temp'}}</label>
            <input class="_attributeValue"
                    {{locked}}
                    name="system.secondaries.temp.value" 
                    type="number" 
                    value="{{systemData.secondaries.temp.value}}" />            
        </div>
    </div>    
</div>
