<div class="_weaponPageInfo">
    <div class="_backImg" style="background-image: url({{backCombat._weaponsInUse.main.img}})"></div>
    <div class="_title _whiteBorderHard">{{backCombat._weaponsInUse.main.name}}</div>
    <div class="_form">
        <div class="_row">
            {{#if backCombat._weaponsInUse.main.system.contact}}<div class="_property">{{localize 'common.wContact'}}</div>{{/if}}
            {{#if backCombat._weaponsInUse.main.system.twoHands}}<div class="_property">{{localize 'common.twoHands'}}</div>{{/if}}
            {{#if backCombat._weaponsInUse.main.system.rangearm}}<div class="_property">{{localize 'common.wRangearm'}}</div>{{/if}}
            {{#if backCombat._weaponsInUse.main.system.firearm}}<div class="_property">{{localize 'common.wFirearm'}}</div>{{/if}}
            {{#if backCombat._weaponsInUse.main.system.throwarm}}<div class="_property">{{localize 'common.wThrowarm'}}</div>{{/if}}
            {{#if backCombat._weaponsInUse.main.system.shield}}<div class="_property">{{localize 'common.shield'}}</div>{{/if}}
            {{#if backCombat._weaponsInUse.main.system.secondary}}<div class="_property">{{localize 'common.secondary'}}</div>{{/if}}
        </div>                            
        <div class="_row">
            <label>{{localize 'common.weaponLevel'}}: </label>
            <label class="_stat">{{labelFromWeaponLevel backCombat._weaponsInUse.main}}</label>                                
        </div>
        {{#unless (bCheckWeaponLevel backCombat._weaponsInUse.main)}}
        <div class="_row">
            <label class="_stat _red"> ({{localize 'common.forbiddenWeapon'}})</label>
        </div>
        {{/unless}}
        <div class="_row">
            <label>{{localize 'common.skill'}}: </label>
            <label class="_stat">{{labelWSkill null backCombat._weaponsInUse.main.system.skillkey}}</label>
            <label class="_stat"> ( {{skillValueByKey backCombat._weaponsInUse.main.system.skillkey null}}% )</label>
        </div>

        <div class="_row">
            <label>{{localize 'common.size'}}: </label>
            <label class="_stat" style="margin-right: 3%">{{labelFromSize backCombat._weaponsInUse.main.system.size}}</label>
            <label>{{localize 'common.damage'}}: </label>
            <label class="_stat">{{backCombat._weaponsInUse.main.system.damage.base}}</label>
        </div>
        <div class="_row">
            <label>{{localize 'common.useDamageBono'}}: </label>
            {{#if backCombat._weaponsInUse.main.system.damage.base}}
                <label class="_stat">{{systemData.attributes.damage.value}}</label>
            {{else}}
                <label class="_stat">{{localize 'common.no'}}</label>
            {{/if}}
        </div>
        <div class="_row">
            <label>{{localize 'common.meleeAllowed'}}: </label>                                        
            {{#if backCombat._weaponsInUse.main.system.melee}}
                <label class="_stat">{{localize 'common.yes'}}</label>
            {{else}} 
                <label class="_stat {{#if (checkMode 'melee')}}_red{{/if}}">{{localize 'common.no'}}</label>
            {{/if}}
        </div>                                    
        {{#if backCombat._weaponsInUse.main.system.damage.impale}}
        <div class="_row">
            <label class="_stat" style="margin-left: 5%">{{localize 'common.impale'}}</label>
        </div>
        {{/if}}
        {{#if backCombat._weaponsInUse.main.system.damage.noArmor}}
        <div class="_row">
            <label class="_stat" style="margin-left: 5%">{{localize 'common.noArmor'}}</label>
        </div>
        {{/if}}                            
        <div class="_row">
            <label>{{localize 'common.minStr'}}: </label>
            <label class="_stat" style="margin-right: 3%">{{backCombat._weaponsInUse.main.system.strMin}}</label>
            <label>/ {{localize 'common.curStr'}}: </label>
            <label class="_stat {{#unless (checkStrMin backCombat._weaponsInUse.main null)}} _red{{/unless}}">{{charValue null 'str'}}</label>
        </div>
        {{#unless (checkStrMin backCombat._weaponsInUse.main null)}}
        <div class="_row">
            <label class="_red">{{localize 'common.penalInitiative'}}: {{backCombat._weaponsInUse.main.system.strMin}} - {{charValue null 'str'}} x 1 = -{{PenalByStrMin backCombat._weaponsInUse.main null '1'}}</label>
        </div>                            
        <div class="_row">
            <label class="_red">{{localize 'common.penalDamage'}}: {{backCombat._weaponsInUse.main.system.strMin}} - {{charValue null 'str'}} x 1 = -{{PenalByStrMin backCombat._weaponsInUse.main null '1'}} Pt.</label>
        </div>
        <div class="_row">
            <label class="_red">{{localize 'common.penalSkill'}}: {{backCombat._weaponsInUse.main.system.strMin}} - {{charValue null 'str'}} x 5 = -{{PenalByStrMin backCombat._weaponsInUse.main null '5'}}%</label>
        </div>                            
        {{/unless}}
        {{#if (ModsByInitiative backCombat._weaponsInUse.main)}}
        <div class="_row">
            <label>{{localize 'common.modInitiative'}}: </label>
            <label class="_stat">{{backCombat._weaponsInUse.main.system.initiative.first}}</label>
            <label>/ {{localize 'common.initAfter'}}: </label>
            <label class="_stat">{{backCombat._weaponsInUse.main.system.initiative.after}}</label>
        </div>
        {{/if}}
        {{#if (ModsByAttackDefense backCombat._weaponsInUse.main)}}
        <div class="_row">
            <label>{{localize 'common.skillModAttack'}}: </label>
            <label class="_stat">{{backCombat._weaponsInUse.main.system.skillMod}}% </label>
            <label>/ {{localize 'common.skillModDefense'}}: </label>
            <label class="_stat">{{backCombat._weaponsInUse.main.system.skillModDefense}}%</label>
        </div>
        {{/if}} 
        {{#if (ModsByArmor backCombat._weaponsInUse.main)}}
        <div class="_row">
            <label>{{localize 'common.armorMod'}}: </label>
            <label class="_stat">{{ModsByArmorTxt backCombat._weaponsInUse.main}}</label>
        </div>                           
        {{/if}}
        {{#if (isRangeWeapon backCombat._weaponsInUse.main)}}
        <div class="_row">
            <label>{{localize 'common.recharge'}}: </label>
            <label class="_stat">{{backCombat._weaponsInUse.main.system.recharge}}</label>
        </div>
        <div class="_row">
            <label>{{localize 'common.range'}}: </label>
            <label class="_stat">{{backCombat._weaponsInUse.main.system.range.short}} /
                                 {{backCombat._weaponsInUse.main.system.range.middle}} /
                                 {{backCombat._weaponsInUse.main.system.range.large}}
            </label>                                        
        </div>
        {{/if}}
    </div>
</div>