{{!-- ************ ENCOUNTER ************ --}}
<div class="_encounter">
    
        <div class="_header">
            {{#unless backCombat.control.noCombat }}

                {{#if isGM}}
                    <a class="_frameButton" data-action="changeRound" data-flow="prev">
                        <button data-img="icons/previous.svg"
                                data-icon="true"
                                data-tooltip="{{localize 'common.previousRound'}}"></button>
                    </a> 

                    <label>{{localize 'common.round'}}: {{backCombat.control.txtRound}}</label>
                    
                    <a class="_frameButton" data-action="changeRound" data-flow="next">
                        <button data-img="icons/next.svg" 
                                data-icon="true"
                                data-tooltip="{{localize 'common.nextRound'}}"></button>
                    </a>                      
                {{else}}
                    <label>{{localize 'common.round'}}: {{backCombat.control.txtRound}}</label>
                {{/if}}
            
            {{/unless}}
        </div> 

    <div class="_content">
       
       {{#if backCombat.control.noCombat }}

            {{!-- ************ NO COMBAT ************ --}}
            <div style="width: 100%">
                <info>{{localize 'info.noCombat'}}</info>
                {{#if isGM}}
                <div class="_buttonBar">
                    <a class="_frameButton" data-action="createCombat">
                        <button data-img="icons/add.svg" 
                                data-label="common.createCombat"></button>
                    </a>
                </div>
                {{/if}}
            </div> 

       {{else}}

            {{#if backCombat.selection.combatantSelected}}
            <div class="_addSteps">
                    <div class="_combatantImg" style="background-image: url({{backCombat.selection.combatant.actor.img}})"></div>
                    {{#if isGM}}
                    <a class="_frameButton" data-action="selectCombatant"
                                            data-tooltip="{{localize 'info.selectCombatant'}}">
                        <label class="_combatantName _whiteBorderHard">{{backCombat.selection.combatant.actor.name}}</label>
                    </a>
                    {{else}}
                    <div class="_selectCombatant">
                        <label class="_combatantName _whiteBorderHard">{{backCombat.selection.combatant.actor.name}}</label>
                    </div>
                    {{/if}}
                    <input type="hidden" name="system.control.selection.combatant" 
                                        value="systemData.control.selection.combatant" />

                    {{#if backCombat.selection.actionSelected}}
                    <div class="_actionImg" style="background-image: url({{backCombat.selection.action.img}})"></div>
                    <a class="_frameButton _contextButton" data-action="selectAction"
                                            data-contextTarget="{{backCombat.selection.combatant.id}}"
                                            data-contextId="{{backCombat.selection.action.id}}"
                                            data-tooltip="{{localize 'info.selectAction'}}">
                        <label class="_actionName _whiteBorderHard">{{backCombat.selection.action.name}}</label>
                    </a>
                    {{else}}
                    <div class="_actionImg" style="background-image: url(systems/{{systemId}}/assets/texture/noaction.png)"></div>
                    <a class="_frameButton" data-action="selectAction"
                                            data-tooltip="{{localize 'info.selectAction'}}">
                        <label class="_actionName _whiteBorderHard">{{localize 'common.selectAction'}}</label>
                    </a>
                    {{/if}}
                    <input type="hidden" name="system.control.selection.action" 
                                        value="systemData.control.selection.action" />  
            </div>

            <div class="_bar _100" style="height: calc(var(--buttonHeight)* 1.7);">
                <div class="_row _50">
                    {{#if backCombat.selection.showCount}}
                        {{#if backCombat.selection.actionSelected}}
                        <label>{{localize 'common.steps'}}: </label>
                        <label class="_stats">{{backCombat.selection.action.system.flow.steps}}</label>
                        <label>{{localize 'common.total'}}: </label>
                        <label class="_stats">{{backCombat.selection.totalSteps}} / {{backCombat.selection.maxSteps}}</label>
                        {{/if}}
                    {{/if}}
                </div>
                <div class="_row _50 _rightAlign">
                    {{#if backCombat.selection.avalStep}}
                    <a class="_frameButton" data-action="addTurn">
                        <button data-img="icons/add.svg" data-label="common.addTurn">
                        </button>
                    </a>
                    {{/if}}
                </div>
            </div>

            <div class="_text">   
                {{#if (hasText backCombat.selection.action.system.requirements)}}
                <label class="_title">{{localize 'common.requirements'}}</label>
                <div class="_block">
                    {{{backCombat.selection.action.system.requirements}}}
                </div>
                {{/if}}                
                <label class="_title">{{backCombat.selection.action.name}}</label>
                <div class="_block">
                    {{{backCombat.selection.action.system.abstract}}}
                </div>
                <div class="_block">
                    {{{backCombat.selection.action.system.description}}}
                </div>
            </div>
            {{else}}

            <info>
                {{#if isGM}}
                    {{localize 'info.noActorInCombat2'}}
                {{else}}
                    {{localize 'info.noActorInCombat'}}
                {{/if}}
            </info>
            {{/if}}

       {{/if}}

    </div>    
</div>