<div class="_magicStudy">

    {{!-- WAITING FOR STUDY... ---}}
    {{#unless systemData.magic.study.learning}}
    <a class="_frameButton"
        data-action="learnSpell">
        <div class="_still">
            <info>{{localize 'info.stillNoLearning'}}</info>
        </div>
    </a>
    {{else}}

        {{#if backMagic.study.ordo}}
        <div class="_still">
            <info>{{localize 'info.studyingSpells'}}</info>
        </div>    
        {{else}}

            {{!-- TITLE ---}}
            <div class="_title">
                <div class="_combo _90">
                    <label>{{localize 'common.learning'}}: </label>
                    <a class="_frameButton"
                        data-action="showItem"
                        data-itemid="{{backMagic.study.spell.id}}">
                        <label class="_bold">{{backMagic.study.spell.name}}</label>
                    </a>
                </div>
                <div class="_utils">
                    <a class="_frameButton _big" 
                        data-action="unlearning"
                        data-itemid="{{item._id}}">
                        <button data-img="icons/delete.svg" 
                                data-icon="true"
                                data-tooltip="{{localize 'info.unlearn'}}"></button>
                    </a>
                </div>        
            </div>

            {{!-- PROGRESS ---}}
            <div class="_progress">
                {{#if backMagic.study.showReadButton}}
                <div class="_row">
                    <label>{{localize 'common.grimoire'}}: </label>
                    <label class="_bold">{{backMagic.study.book.name}}</label>
                </div>
                <div class="_row">
                    <label>{{localize 'common.language'}}: {{backMagic.study.languageTxt}} </label>
                    <label class="_bold">({{backMagic.study.language}}%)</label>
                </div>
                {{/if}}
                {{#if backMagic.study.showLearnProgress}}
                <div class="_studyBar">
                    <input type="range" 
                        name="system.magic.study.learnedDays"
                        min="0" 
                        max="{{backMagic.study.learnDaysMax}}" 
                        value="{{systemData.magic.study.learnedDays}}" 
                        class="slider">
                    <label>{{systemData.magic.study.learnedDays}} / {{backMagic.study.learnDaysMax}} {{localize 'common.days'}}</label>
                </div>
                {{/if}}
                {{#if backMagic.study.showTeacher}}
                <div class="_teacher">
                    <label class="_name">{{backMagic.study.teacher}}</label>
                    <input type="number"
                        class="_teachPercent"
                        {{#if backMagic.study.fromBook}} disabled {{/if}}
                        name="system.magic.study.teachPercent"
                        value="{{systemData.magic.study.teachPercent}}" />
                    <label>%</label>            
                    <a class="_frameButton" 
                        data-action="roll"
                        data-target="study"
                        data-subtarget="teach"
                        data-actorid="{{actor.id}}"
                        data-tokenid="{{tokenId actor}}"
                        data-rollbase="{{systemData.magic.study.teachPercent}}"
                        data-rollvalue="{{systemData.magic.study.teachPercent}}"
                        data-rolltitle="{{localize 'common.teach'}}"
                        data-nohelps="true">
                        <button>{{localize 'common.teach'}}</button>
                    </a>
                </div>
                {{/if}}
                {{#if backMagic.study.showMemory}}
                <div class="_memory">
                    <label class="_name">{{localize 'characteristics.irr'}}</label>
                    <label class="_irr">{{backMagic.study.irrRoll}}</label>
                    <label>%</label>            
                    <a class="_frameButton" 
                        data-action="roll"
                        data-target="study"
                        data-subtarget="memory"
                        data-actorid="{{actor.id}}"
                        data-tokenid="{{tokenId actor}}"
                        data-rollbase="{{backMagic.study.irrRoll}}"
                        data-rollvalue="{{backMagic.study.irrRoll}}"
                        data-rolltitle="{{localize 'common.memorize'}}"
                        data-nohelps="true">
                        <button>{{localize 'common.memorize'}}</button>
                    </a>
                </div>
                {{/if}}
            </div>

            {{!-- STEPS ---}}
            <div class="_steps">
                <div class="_read">
                    {{#if systemData.magic.study.read}} 
                        <label class="_done">{{localize 'common.read'}}</label>
                    {{else}}
                        {{#if backMagic.study.showReadButton}}
                            <a class="_frameButton" 
                                data-action="roll"
                                data-target="study"
                                data-subtarget="read"
                                data-actorid="{{actor.id}}"
                                data-tokenid="{{tokenId actor}}"
                                data-rollbase="{{backMagic.study.language}}"
                                data-rollvalue="{{backMagic.study.language}}"
                                data-rolltitle="{{backMagic.study.languageTxt}}"
                                data-skillkey="{{backMagic.study.languageKey}}"
                                data-nohelps="true">
                                <button>{{localize 'common.read'}}</button>
                            </a>
                        {{else}}
                            <label class="_lighted">{{localize 'common.read'}}</label>
                        {{/if}}
                    {{/if}}
                </div>
                <div class="_learn">
                    {{#if systemData.magic.study.learned}} 
                        <label class="_done">{{localize 'common.studying'}}</label>
                    {{else}}
                        {{#if backMagic.study.showLearnProgress}}
                            <label class="_doing">{{localize 'common.studying'}}</label>
                        {{else}}
                            <label class="_lighted">{{localize 'common.studying'}}</label>
                        {{/if}}            
                    {{/if}}
                </div>
                <div class="_teach">
                    {{#if systemData.magic.study.teached}} 
                        <label class="_done">{{localize 'common.transmit'}}</label>
                    {{else}}
                        {{#if backMagic.study.showTeacher}}
                            <label class="_doing">{{localize 'common.transmit'}}</label>
                        {{else}}
                            <label class="_lighted">{{localize 'common.transmit'}}</label>
                        {{/if}}             
                    {{/if}}
                </div>
                <div class="_memorize">
                    {{#if systemData.magic.study.memorized}} 
                        <label class="_done">{{localize 'common.memorize'}}</label>
                    {{else}}
                        {{#if backMagic.study.showMemory}}
                            <label class="_doing">{{localize 'common.memorize'}}</label>
                        {{else}}
                            <label class="_lighted">{{localize 'common.memorize'}}</label>
                        {{/if}}             
                    {{/if}}
                </div>
            </div>
            
        {{/if}}

    {{/unless}}
</div>


