{{>frame}}
<div class="_mainFrame">
    <div class="_leftSide"
          style="background: linear-gradient(202deg, #1b223fc4 0%, 
                                                     transparent {{addValue systemData.secondaries.rr.value '-3'}}%, 
                                                     transparent {{addValue systemData.secondaries.rr.value '+3'}}%, 
                                                     #611717 100%);">
                                                     
        {{!-- PORTRAIT --}}
        <div class="_actorPortraitFrame"></div>
        <div class="_actorPortrait">
            {{>actorActorPortrait}}
        </div>

        {{#if isGM}}
        <div class="_resetAttributes">
            <a class="_frameButton"
               data-action="resetAttributes">
               <button data-img="icons/character.svg" 
                       data-label="common.resetAttributes">
                </button>
            </a>
        </div>
        {{/if}}
        
        
        {{!-- RATIONALITY --}}
        <div class="_rrBox">
            {{>actorActorRationality}}
        </div>
        <div class="_progressRR">
            <progressBar data-value="{{systemData.secondaries.rr.value}}"
                         data-max="100"
                         data-backgroundColor="#181e37db"
                         data-foreColor="#5c8ca98a">
            </progressBar>
        </div>

        {{!-- IRRATIONALITY --}}
        <div class="_irrBox">
            {{>actorActorIrrationality}}
        </div>  
        <div class="_progressIRR">
            <progressBar data-value="{{systemData.secondaries.irr.value}}"
                         data-max="100"
                         data-backgroundColor="#391717f0"
                         data-foreColor="#bf3b3bb0">
            </progressBar>
        </div>
        
        {{!-- CHAR OCTAGON --}}
        <div class="_octagonSwitch">
            {{#if systemData.control.main.octagon}}
                <img src="{{assets}}icons/2column.svg" class="_tadaIcon _octagonIcon" 
                     style="height: calc(var(--vFont)* 1.5); margin-right: calc(var(--vFont)* 0.3); opacity: 0.8;"
                     data-tooltip="{{localize 'common.changeToColumn'}}"/>
            {{else}}
                <img src="{{assets}}icons/octagon.svg" class="_tadaIcon _octagonIcon" 
                     data-tooltip="{{localize 'common.changeToOctagon'}}"/>
            {{/if}}
            <input style="display: none"
                   name="system.control.main.octagon" 
                   type="checkbox"
                   id="switchOctagon" 
                   {{checked systemData.control.main.octagon}} />                  
        </div>        
        <div class="_octagon">
            {{#if systemData.control.main.octagon}}
                {{>actorActorOctagon}}
            {{else}}
                {{>actorActorCharacteristics}}
            {{/if}}
        </div>                
    </div>

    <div class="_rightSide">

        {{!-- HEALTH BAR --}}
        <div class="_healthBox">
            <input class="_hitPoints _stellar"
                   {{locked}}
                   id="pseudoHits"
                   type="number" 
                   value="{{systemData.secondaries.hits.value}}"
                   min="{{systemData.secondaries.hits.min}}"
                   max="{{systemData.secondaries.hits.max}}" />             
        </div>
        <div class="_progressHealth">
            <progressHBar data-value="{{systemData.secondaries.hits.value}}"
                          data-min="{{systemData.secondaries.hits.min}}"
                          data-max="{{systemData.secondaries.hits.max}}"
                          data-label1="{{localize systemData.lifeStatus.s1.i18n}}"
                          data-point1="{{systemData.lifeStatus.s1.max}}"
                          data-label2="{{localize systemData.lifeStatus.s2.i18n}}"
                          data-point2="{{systemData.lifeStatus.s2.max}}"
                          data-label3="{{localize systemData.lifeStatus.s3.i18n}}"
                          data-point3="{{systemData.lifeStatus.s3.max}}"
                          data-label4="{{localize systemData.lifeStatus.s4.i18n}}"
                          data-point4="{{systemData.lifeStatus.s4.max}}"                          
                          data-backgroundColor="#c9c2b54f"
                          data-foreColor1="#e30b0b96"
                          data-foreColor2="#530d05b5">
            </progressHBar>
        </div>         


        <div class="_actorPage">

            {{!-- CONTEXT --}}
            <div class="_actorContext">
                {{>actorActorLore}}
            </div>

            <div class="_treatsSequels">
                {{!-- TREATS --}}
                <div class="_actorTraits">
                    {{>actorActorTraits}}
                </div>

                {{!-- SEQUELS --}}
                <div class="_actorSequels">
                    {{>actorActorSequels}}
                </div>
            </div>
        </div>

    </div>
</div>

{{>actorModes}}
<a class="_closeSheet">
    <div class="_closeSheetButton"
         data-tooltip="{{localize 'common.close'}}"></div>
</a>
<a class="_shortSheet">
    <div class="_shortSheetButton"
         data-tooltip="{{localize 'common.shorting'}}"></div>
</a>