<div class="_combatMainMenu">
    <nav class="tabs_CombatMenu" data-group="combatMenu">
        <a class="_menuOption" data-tab="myCombat" data-group="combatMenu">
            <label>{{localize 'common.menuMyCombat'}}</label>
        </a>           
        <a class="_menuOption" data-tab="combat" data-group="combatMenu">
            {{#unless backCombat.control.noCombat}}
            <label>{{localize 'common.menuInitCombat'}}</label>
            {{else}}
            <label>{{localize 'common.combatInit'}}</label>
            {{/unless}}
        </a>
        {{#unless backCombat.control.noCombat}}
        <a class="_menuOption" data-tab="encounter" data-group="combatMenu">
            <label>{{localize 'common.menuEncounter'}}</label>
        </a>      
        
            {{#unless backCombat.control.noSteps}}  
            <a class="_menuOption" data-tab="combatant" data-group="combatMenu">
                <div class="_warningMe"></div>
                <label>{{localize 'common.menuCombatant'}}</label>
            </a> 
            {{/unless}}

        <a class="_menuOption" data-tab="summary" data-group="combatMenu">
            <label>{{localize 'common.menuSummary'}}</label>
        </a>     
        {{/unless}}        
    </nav>
</div>