<div class="_irrationality">
    <div class="_statRow" style="justify-content: flex-start;">
        <input class="_attributeValue _irrValue"
               {{locked}}
               name="system.secondaries.irr.value" 
               type="number" 
               value="{{systemData.secondaries.irr.value}}" /> 
        <label style="margin-left: 10px;">{{localize 'characteristics.irr'}}</label>               
    </div>    
    <div class="_statRow" style="justify-content: flex-start;">
        <label>{{localize 'characteristics.conc'}}</label>
        <div class="_combo">
            <input class="_attributeValue"
                    {{locked}}
                    name="system.secondaries.conc.value" 
                    type="number" 
                    value="{{systemData.secondaries.conc.value}}" />
            <label class="_max"> / {{systemData.secondaries.conc.max}}</label>   
        </div> 
    </div>
</div>

{{!--
    <div class="_boxSocial">        
        <div class="_statRow" style="justify-content: flex-start;">
            <label>{{localize 'common.socialMods'}}</label>
        </div>
        <div class="_statRow" >
            <div class="_statColumn _25">
                <label class="_small">{{localize 'common.socialAppearance'}}</label>
                <input class="_attributeValue"
                       {{locked}}
                       name="system.attributes.social.appearance" 
                       type="number" 
                       value="{{systemData.attributes.social.appearance}}" />                 
            </div>
            <div class="_statColumn _25">
                <label class="_small">{{localize 'common.socialRenown'}}</label>
                <input class="_attributeValue"
                       {{locked}}
                       name="system.attributes.social.renown" 
                       type="number" 
                       value="{{systemData.attributes.social.renown}}" />                 
            </div>
            <div class="_statColumn _25">
                <label class="_small">{{localize 'common.socialNature'}}</label>
                <input class="_attributeValue"
                       {{locked}}
                       name="system.attributes.social.nature" 
                       type="number" 
                       value="{{systemData.attributes.social.nature}}" />                 
            </div>
            <div class="_statColumn _25">
                <label class="_small">{{localize 'common.socialAttitude'}}</label>
                <input class="_attributeValue"
                       {{locked}}
                       name="system.attributes.social.attitude" 
                       type="number" 
                       value="{{systemData.attributes.social.attitude}}" />                 
            </div>
        </div>        
    </div>

    <div class="_boxTraits">
        
    </div>     
    <div class="_boxAftermaths">
        
    </div>    
--}}