<div class="_hexCombatant _damage">
    <div class="_img" style="background-image: url({{backCombat._turn.combatant.actor.img}})"></div>
</div>
<div class="_hexAction _damage">
   <div class="_img">
       <div class="_imgTarget" style="background-image: url({{backCombat._target.actor.img}})"></div>
       <label class="_whiteBorderHard">{{localize 'common.target'}}</label>
       <label class="_whiteBorderHard">{{backCombat._target.actor.name}}</label>
   </div>
</div>
<div class="_hexRoll _damage">
   <div class="_contentRoll">

       <div class="_rollStats">

            <div class="_statRow" style="padding-left: 20%;">
                <label>{{backCombat._damageRoll.title}}</label>
                <label class="_stat">{{backCombat._damageRoll.roll.base}}</label>
            </div>                          

            <div class="_statRow" style="padding-left: 13%;">
                {{#if backCombat._damageRoll.roll.damageBon}}
                    <label>{{localize "attributes.damage"}}</label>
                    <label class="_stat">{{backCombat._damageRoll.roll.bon}}</label>
                {{else}}
                    <label>{{localize "common.noDamageBon"}}</label>
                {{/if}}
            </div>

            <div class="_statRow" style="padding-left: 5%;">
                <label>{{localize "common.modBase"}}</label>
                <label class="_stat">{{backCombat._damageRoll.roll.actionMod}}</label>
            </div>

            <div class="_statRow">
                <label>{{localize "common.modCusto"}}</label>
                <div class="_combo">
                    {{#if isGM}}
                        <input id="combatCustoMod" 
                            data-stepid="{{backCombat._turn.step.id}}"
                            data-tooltip="{{localize 'info.combatMod'}}"
                            data-damage="true"
                            type="text" 
                            value="{{backCombat._turnRoll.stats.custoMod}}"/>
                    {{else}}
                        <label class="_stat">{{backCombat._turnRoll.stats.custoMod}}</label>
                    {{/if}}
                </div>
            </div>

            <div class="_statRow _finalRow">
                
                {{#unless backCombat._damageRoll.rolled.damage}}

                    {{#if (isMe backCombat._turnActor)}}
                    <a class="_frameButton _damageRoll {{#if backCombat.control.attacker.error}}_error{{/if}}" 
                        data-action="roll"
                        data-target="damage"
                        data-fluxid="{{backCombat._fluxStep.id}}"
                        data-combatantid="{{backCombat._turn.combatant.id}}"
                        data-skillid="{{backCombat._turnRoll.skill.id}}"
                        data-actionid="{{backCombat._turnAction.id}}"
                        data-weaponid="{{backCombat._turnWeapon.id}}"
                        data-stepid="{{backCombat._turn.step.id}}"
                        data-rollsimple="true"
                        data-rolltitle="{{backCombat._fluxStep.title.roll}}"
                        data-rollformula="{{backCombat._turnRoll.stats.final}}"
                        data-messtitle="{{backCombat._damageRoll.title}}"
                        data-messinfo='{"base": "{{backCombat._damageRoll.roll.base}}","bon": "{{backCombat._damageRoll.roll.bon}}","final": "{{backCombat._turnRoll.stats.final}}"}'>
                        <button data-img="icons/roll.svg"
                                {{#unless backCombat._damageRoll.available.damage}} disabled {{/unless}} 
                                class="_whiteBorderHard">
                            {{backCombat._turnRoll.stats.final}}
                            {{#if backCombat._turnRoll.stats.fromCritical}}
                                <span class="_small">{{localize "common.maxHits"}}: </span>
                            {{/if}}
                        </button>
                    </a>
                    {{else}}
                    <label class="_stat _damageRoll0">
                        {{backCombat._turnRoll.stats.final}}
                        {{#if backCombat._turnRoll.stats.fromCritical}}
                            <span class="_small">{{localize "common.maxHits"}}: </span>
                        {{/if}}
                    </label>
                    {{/if}}

                {{else}}
                    <label class="_pseudoFrameButton _whiteBorderHard">
                        <img src="{{path}}/assets/icons/fencing.svg"/>
                        {{backCombat._damageRoll.result.damage}} <span class="_litle">{{localize 'common.damagePoints'}}</span>
                    </label>
                {{/unless}}
            </div> 

        </div>
   </div>
</div>
<div class="_hexMods _damage">

   {{#if (isMe backCombat._turnActor)}}
   <a class="_frameButton _mod" 
       data-action="addModifiers"
       data-stepid="{{backCombat._turn.step.id}}">
       <button data-img="icons/add.svg" data-label="common.addModifiers"></button>
   </a> 
   {{/if}}

   {{#each backCombat._turn.combatMods as |mod index|}}

       <div class="_mod">
           <div class="_title">
               <label>{{mod.label}}</label>
               {{#if (isMe backCombat._turnActor)}}
               <a class="_frameButton" 
               data-action="deleteCombatMod"
               data-stepid="{{../backCombat._turn.step.id}}"
               data-index="{{mod.index}}">
                   <button data-img="icons/delete.svg" 
                           data-icon="true"></button>
               </a>
               {{/if}}
           </div>
           <div class="_comboAtDef">
               {{#if mod.isAttack}}<label>{{localize 'common.attack'}}: {{mod.attack}}</label>{{/if}}
               {{#if mod.isDefense}}<label>{{localize 'common.defense'}}: {{mod.defense}}</label>{{/if}}
           </div>
           <div class="_descr">{{mod.descr}}</div>
       </div>

   {{/each}}
</div>
<div class="_hexExtra _damage">

    <div class="_rollStats">
        <div class="_statRow _finalRow">
            {{#unless backCombat._damageRoll.location.toShield}}  
            {{#unless backCombat._damageRoll.rolled.location}}  
                
                <label>{{localize "common.location"}}</label>

                <a class="_frameButton _locationRoll" 
                data-action="roll"
                data-target="location"
                data-fluxid="{{backCombat._fluxStep.id}}"
                data-combatantid="{{backCombat._turn.combatant.id}}"
                data-skillid="{{backCombat._turnRoll.skill.id}}"
                data-actionid="{{backCombat._turnAction.id}}"
                data-weaponid="{{backCombat._turnWeapon.id}}"
                data-stepid="{{backCombat._turn.step.id}}"
                data-rollsimple="true"
                data-rolltitle="{{backCombat._damageRoll.location.locationFormula}}"
                data-rollformula="{{backCombat._damageRoll.location.locationFormula}}"
                data-messtitle=""
                data-messvalue1=""
                data-messvalue2=""
                data-messinfo="">
                <button data-img="icons/roll.svg" 
                        {{#unless backCombat._damageRoll.available.location}} disabled {{/unless}}
                        class="_whiteBorderHard">
                        {{backCombat._damageRoll.location.locationFormula}}
                </button>
                </a>

            {{else}}

                <label class="_pseudoFrameButton _whiteBorderHard">
                    <img src="{{path}}/assets/icons/crossMark.svg"/>
                    {{backCombat._damageRoll.location.locationTitle}}
                </label>

            {{/unless}}
            {{else}}

                <label class="_pseudoFrameButton _whiteBorderHard">
                    <img src="{{path}}/assets/icons/shield.svg"/>
                    {{localize 'common.toShield'}}
                </label>                

            {{/unless}}
        </div>        
        <div class="_statRow">
            <label>{{localize "common.protection"}}</label>
            <label class="_stat _small">{{backCombat._damageRoll.location.protectionTitle}}</label>
        </div>
        <div class="_statRow">
            <label>{{localize "common.protectionAbs"}}</label>
            <label class="_stat">{{backCombat._damageRoll.location.protectionAbs}} / 
                                 {{backCombat._damageRoll.location.protection}}
            </label>
        </div>     
        <div class="_statRow _finalRow">
            {{#unless backCombat._damageRoll.location.toShield}}
            {{#if (isMe backCombat._turnActor)}}
            <a class="_frameButton _applyHits" 
                data-action="applydamage"
                data-target="hits"
                data-fluxid="{{backCombat._fluxStep.id}}"
                data-stepid="{{backCombat._turn.step.id}}"
                data-combatantid="{{backCombat._turn.combatant.id}}"
                data-damagetarget="{{backCombat._target.id}}"
                data-damage="{{backCombat._damageRoll.hits}}">
                <button data-img="icons/damage.svg" 
                        {{#unless backCombat._damageRoll.available.hits}} disabled {{/unless}}
                        data-tooltip="{{backCombat._damageRoll.hitsInfo.text}}"
                        data-tooltip-direction="UP"
                        class="_whiteBorderHard">
                    {{localize 'common.hitPoints'}} <span class="_big">- {{backCombat._damageRoll.hits}}</span>
                </button>
            </a>
            {{else}}
            <label class="_stat _damageRoll0">
                <span class="_big" style="margin-right:10px;">- {{backCombat._damageRoll.hits}}</span>{{localize 'common.hitPoints'}}
            </label>
            {{/if}}
            {{else}}

                <a class="_frameButton _applyHits" 
                    data-action="applydamage"
                    data-target="hits"
                    data-subtarget="shield"
                    data-breakshield="{{backCombat._damageRoll.location.breakShield}}"
                    data-fluxid="{{backCombat._fluxStep.id}}"
                    data-stepid="{{backCombat._turn.step.id}}"
                    data-combatantid="{{backCombat._turn.combatant.id}}"
                    data-damagetarget="{{backCombat._target.id}}"
                    data-damage="{{backCombat._damageRoll.hits}}">
                    <button data-img="icons/shield.svg" 
                            {{#unless backCombat._damageRoll.available.hits}} disabled {{/unless}}
                            class="_whiteBorderHard">
                        {{#if backCombat._damageRoll.location.breakShield}}
                            {{localize 'common.breakShield'}}
                        {{else}}
                            Pt. <span class="_big">- {{backCombat._damageRoll.hits}}</span>
                        {{/if}}
                    </button>
                </a>

            {{/unless}}
        </div>           
    </div>

</div>