<formSection class="_100">
    <formColumn class="_30">

        <formBlock>
            {{#each backend.locations as |location sId|}}
                <formField class="_100">
                    <input name="system.location.{{location.key}}.checked" 
                           type="checkbox"
                           id="chLocation_{{location.key}}" 
                           {{extendChecked 'systemData.location' location.key 'checked'}} />                     
                    <label for="chLocation_{{location.key}}">{{location.label}}</label>
                </formField>
            {{/each}}
        </formBlock>

    </formColumn>
    <formColumn class="_70">

        <formBlock>
            <formField class="_100">
                <label>{{localize "common.minStr"}}</label>
                <input name="system.requirements.str" 
                       class="_smallNumber"
                       type="number" 
                       value="{{systemData.requirements.str}}" />
            </formField>

            <formField class="_100">
                <label>{{localize "common.initiativeL"}}</label>
                <input name="system.penalization.initiative" 
                       class="_mediumNumber"
                       type="text" 
                       value="{{systemData.penalization.initiative}}" />                
            </formField>

            <formField class="_100">
                <label>{{localize "common.swim"}}</label>
                <input name="system.penalization.skills.swim" 
                       class="_mediumNumber"
                       type="text" 
                       value="{{systemData.penalization.skills.swim}}" />                
            </formField>

            {{#each backend.characteristics as |char sId|}}
            <formField class="_100">
                <input name="system.penalization.skillsChar.{{char.id}}.checked" 
                       type="checkbox"
                       id="chPenalSkill_{{sId}}" 
                       {{extendChecked 'systemData.penalization.skillsChar' char.id 'checked'}} />                     
                <label for="chPenalSkill_{{sId}}">{{localize 'common.skillsOf'}} {{char.name}}</label>
                <input name="system.penalization.skillsChar.{{char.id}}.mod" 
                       class="_mediumNumber"
                       type="text" 
                       value="{{extendValue 'systemData.penalization.skillsChar' char.id 'mod'}}" /> 
            </formField>
            {{/each}}
        </formBlock>

    </formColumn>

</formSection>