<div class="_codexWrap">
    <div class="_codexFrame">
        <div class="_borderTop" style="background-image: url({{backLore.custo.frameH}});"></div>
        <div class="_borderLeft" style="background-image: url({{backLore.custo.frameV}});"></div>
        <div class="_borderRight" style="background-image: url({{backLore.custo.frameV}});"></div>
        <div class="_borderBottom" style="background-image: url({{backLore.custo.frameH}});"></div>
        <div class="_borderQTL" style="background-image: url({{backLore.custo.frameQ}});"></div>
        <div class="_borderQTR" style="background-image: url({{backLore.custo.frameQ}});"></div>
        <div class="_borderQBL" style="background-image: url({{backLore.custo.frameQ}});"></div>
        <div class="_borderQBR" style="background-image: url({{backLore.custo.frameQ}});"></div>
    </div>
    <div class="_codexFrame _frame2">
        <div class="_borderTop" style="background-image: url({{backLore.custo.frameH}});"></div>
        <div class="_borderLeft" style="background-image: url({{backLore.custo.frameV}});"></div>
        <div class="_borderRight" style="background-image: url({{backLore.custo.frameV}});"></div>
        <div class="_borderBottom" style="background-image: url({{backLore.custo.frameH}});"></div>
        <div class="_borderQTL" style="background-image: url({{backLore.custo.frameQ}});"></div>
        <div class="_borderQTR" style="background-image: url({{backLore.custo.frameQ}});"></div>
        <div class="_borderQBL" style="background-image: url({{backLore.custo.frameQ}});"></div>
        <div class="_borderQBR" style="background-image: url({{backLore.custo.frameQ}});"></div>
    </div>
    <div class="_codexShadow"></div>
</div>