{{!-- Frame --}}

     <div class="_frame frameTop" 
          style="background: url({{frameUrl}}/00borderST.png)"></div>
     <div class="_frame frameLeft"
          style="background: url({{frameUrl}}/00borderSL.png)"></div>
     <div class="_frame frameRight"
          style="background: url({{frameUrl}}/00borderSR.png)"></div>
     <div class="_frame frameBottom"
          style="background: url({{frameUrl}}/00borderSB.png)"></div>
     <div class="_frame frameCornerTL"
          style="background: url({{frameUrl}}/00cornerSTL.png)"></div>
     <div class="_frame frameCornerTR"
          style="background: url({{frameUrl}}/00cornerSTR.png)"></div>
     <div class="_frame frameCornerBL"
          style="background: url({{frameUrl}}/00cornerSBL.png)"></div>
     <div class="_frame frameCornerBR"
          style="background: url({{frameUrl}}/00cornerSBR.png)"></div>

{{!-- Bookmarks --}}          

     <nav class="sheet-tabs bookmarks" data-group="primary">
          <a class="_bookmark mark01" 
             data-tab="main"
             style="background: url({{frameUrl}}/bookmark01.png)"></a>
          <a class="_bookmark mark02" 
             data-tab="bio"
             style="background: url({{frameUrl}}/bookmark02.png)"></a>
          <a class="_bookmark mark03" 
             data-tab="skills"
             style="background: url({{frameUrl}}/bookmark03.png)"></a>
          <a class="_bookmark mark04" 
             data-tab="combat"
             style="background: url({{frameUrl}}/bookmark04.png)"></a>
          <a class="_bookmark mark05" 
             data-tab="items"
             style="background: url({{frameUrl}}/bookmark05.png)"></a>
          <a class="_bookmark mark06" 
             data-tab="items6"
             style="background: url({{frameUrl}}/bookmark06.png)"></a>
          <a class="_bookmark mark07" 
             data-tab="items7"
             style="background: url({{frameUrl}}/bookmark07.png)"></a>
      </nav>