{{#if imMaster}}
<a class="_goingBack"><div class="_backButton"><<</div></a>
{{/if}}
<hbox class="_header">
    <vbox>
        <h1>{{localize 'wizard.title08'}}</h1>
        <p>{{localize 'wizard.text08'}}</p>
    </vbox>    
</hbox>

<div class="_wzDetail" style="margin-bottom:10px;">
    <hbox class="_100">
        <label class="_120px">{{localize "common.culture"}}</label>
        <a class="wizardOption"
           data-field="culture"
           data-value="{{systemData.bio.culture}}"
           data-compendium="cultures">
                {{bioInfo.culture.name}}
        </a>
    </hbox>
    <hbox class="_100">
        <label class="_120px">{{localize "common.stratum"}}</label>
        <a class="wizardOption"
           data-field="stratum"
           data-value="{{systemData.bio.stratum}}"
           data-compendium="stratums">
                {{bioInfo.stratum.name}}
        </a>
    </hbox>      
    <hbox class="_100">
        <label class="_120px">{{localize "common.profession"}}</label>
        <a class="wizardOption"
           data-field="profession"
           data-value="{{systemData.bio.profession}}"
           data-compendium="professions">
                {{bioInfo.profession.name}}
        </a>
    </hbox>      
    <hbox class="_100">
        <label class="_120px">{{localize "common.parentProfession"}}</label>
        <a class="wizardOption"
           data-field="parentProfession"
           data-value="{{systemData.bio.parentProfession}}"
           data-compendium="professions">
                {{bioInfo.parentProfession.name}}
        </a>
    </hbox>    
</div>

{{!-- Family Situation --}}
<vbox  class="_100">
    <hbox class="_100">
        {{#if systemData.wizard.showTableRoll01}}
        <a class="wizardDices _wzDices"
           data-field="familySituation"
           data-compendium="rolls">
           <img src="/systems/conventum/image/texture/dice.png">
        </a>  
        {{/if}}   
        <h3 class="_wzLabel">{{localize "common.familySituation"}}</h3>
    </hbox>
    {{editor 
        systemData.bio.familySituation
        target="system.bio.familySituation" 
        class="_wzText"
        button=true 
        engine="prosemirror"
        owner=owner
        rollData=rollData
        editable=editable }}          
</vbox>

{{!-- Family Brothers --}}
<vbox  class="_100">
    <hbox class="_100">
        {{#if systemData.wizard.showTableRoll02}}
        <a class="wizardDices _wzDices"
           data-field="familyBrothers"
           data-compendium="rolls">
           <img src="/systems/conventum/image/texture/dice.png">
        </a>  
        {{/if}}   
        <h3 class="_wzLabel">{{localize "common.familyBrothers"}}</h3>
    </hbox>
    {{editor 
        systemData.bio.familyBrothers
        target="system.bio.familyBrothers" 
        class="_wzText"
        button=true 
        engine="prosemirror"
        owner=owner
        rollData=rollData
        editable=editable }}          
</vbox>

{{!-- Family Spouse --}}
<vbox  class="_100">
    <hbox class="_100">
        {{#if systemData.wizard.showTableRoll03}}
        <a class="wizardDices _wzDices"
           data-field="spouse"
           data-compendium="rolls">
           <img src="/systems/conventum/image/texture/dice.png">
        </a>  
        {{/if}}   
        <h3 class="_wzLabel">{{localize "common.spouse"}}</h3>
    </hbox>
    {{editor 
        systemData.bio.spouse
        target="system.bio.spouse" 
        class="_wzText"
        button=true 
        engine="prosemirror"
        owner=owner
        rollData=rollData
        editable=editable }}          
</vbox>

<hbox class="_wzButtonBar">
    <a class="wizardNextStep"
       data-field=""
       data-step="09">
       <div class="_backButton">{{localize "common.nextStep"}}</div>
    </a>
</hbox>