{{!-- Combat Tab --}}
<div class="tab combat" data-group="primary" data-tab="combat">

    <hbox class="_encountersBox">
        <label class="_captionCombat">{{ localize "common.encounters"}}</label>
        <ul class="_myCombats">
            {{#each combats as |combat id|}}
            <li class="_myCombat" >
                <a class="_encounterInfo" data-itemId="{{combat.encounter._id}}">
                    <img class="_encounter {{#unless combat.combat.active}} _alpha {{/unless}}" 
                        src="{{combat.encounter.img}}" />
                </a>
            </li>
            {{/each}}
        </ul>        
    </hbox>

    <nav class="tabs_Combat _subTabs" data-group="combatTabs">
        <a data-tab="combatWeapons"><label>{{ localize "common.weapons" }}</label></a>
        <a data-tab="combatActions"><label>{{ localize "common.actions" }}</label></a>    
    </nav>
    <section class="tabsContent_Combat">
            
        {{!-- WEAPONS --}}
        <div class="tab combatWeapons" data-group="combatTabs" data-tab="combatWeapons">
        <ul class="actorWeapons">
        {{#each items as |weapon id|}}
        {{#if (itemType weapon 'weapon') }}

            <li class="boxWeapon" 
                id="boxWeapon_{{weapon._id}}">
                
                <hbox>
                    {{#if ../actions.showPoster }}
                    <a class="_playWeapon" data-itemid="{{weapon._id}}" >
                        <img class="imgWeapon" src="{{weapon.img}}"/>
                    </a>
                    {{else}}
                    <a class="showInfo" data-i18n="info.noAction">
                        <img class="imgWeapon" src="{{weapon.img}}" style="opacity: 0.3;"/>
                    </a>                    
                    {{/if}}

                    <vbox class="_weaponText">
                        <label class="titleWeapon">{{weapon.name}}</label>
                        <label class="damageWeapon">{{weapon.system.damage}}</label>
                    </vbox>
                    <hbox style="width: 230px;">
                                            
                        <hbox class="_weaponHands">
                        {{#if weapon.system.type.2hands}}

                            {{!-- Both hands --}}
                            <img class="weaponHand weapon2Hands {{#unless weapon.system.inHands.inBothHands}} _alpha {{/unless}}" 
                                    src="systems/conventum/image/texture/inBothHands.png"
                                    data-itemid="{{weapon._id}}" 
                                    data-hand="inBothHands"/>

                        {{else}}

                            {{!-- Left hand --}}
                            <img class="weaponHand weaponLeftHand {{#unless weapon.system.inHands.inLeftHand}} _alpha {{/unless}}" 
                                src="systems/conventum/image/texture/inLeftHand.png"
                                data-itemid="{{weapon._id}}" 
                                data-hand="inLeftHand"/>

                            {{!-- Right hand --}}
                            <img class="weaponHand weaponRightHand {{#unless weapon.system.inHands.inRightHand}} _alpha {{/unless}}" 
                                src="systems/conventum/image/texture/inRightHand.png"
                                data-itemid="{{weapon._id}}" 
                                data-hand="inRightHand"/>
                        
                        {{/if}}
                        </hbox>

                        <label class="_skillValue">{{getWeaponSkill weapon}}</label>

                        <a class="_cardInfo" data-itemid="{{weapon._id}}">
                                <i class="fas fa-info"></i></a>
                        
                    </hbox>
                    
                </hbox>

            </li>

        {{/if}}
        {{/each}}
        </ul>
        </div>

        {{!-- ACTIONS --}}
        <div class="tab combatActions" data-group="combatTabs" data-tab="combatActions">
        <ul class="actorActions">
        {{#each items as |action id|}}
        {{#if (itemType action 'action') }}
            
            <li data-itemId="{{action._id}}"
                class="boxAction">
                <a class="_doAction" data-itemid="{{action._id}}" >
                <vbox style="background: #FFF;">
                    <img class="imgAction" src="{{action.img}}" />
                    <label class="_actionTitle">{{action.name}}</label>
                </vbox>
                </a>
                <a class="_showMyItem" data-itemId="{{action._id}}">
                    <i class="fas fa-info"></i></a>                
            </li>
            
        {{/if}}
        {{/each}}    
        </ul>
        </div>

    </section>

</div>