<div class="_wizard">
    
    <content>
        
        {{#if (wizardVisible '01')}}    {{> humanWizard01 }}    {{/if}}
        {{#if (wizardVisible '02')}}    {{> humanWizard02 }}    {{/if}}
        {{#if (wizardVisible '03')}}    {{> humanWizard03 }}    {{/if}}
        {{#if (wizardVisible '04')}}    {{> humanWizard04 }}    {{/if}}
        {{#if (wizardVisible '05')}}    {{> humanWizard05 }}    {{/if}}
        {{#if (wizardVisible '06')}}    {{> humanWizard06 }}    {{/if}}
        {{#if (wizardVisible '07')}}    {{> humanWizard07 }}    {{/if}}
        {{#if (wizardVisible '08')}}    {{> humanWizard08 }}    {{/if}}
        {{#if (wizardVisible '09')}}    {{> humanWizard09 }}    {{/if}}
        {{#if (wizardVisible '10')}}    {{> humanWizard10 }}    {{/if}}

    </content>
</div>


