{{!-- Magic Tab --}}
<div class="tab magic" data-group="primary" data-tab="magic">

    <ul class="_magicChars">
        <li class="_magicSkill">
            <label class="_name">{{localize 'characteristic.fp'}}</label>
            <label class="_value">{{systemData.characteristics.secondary.fp.value}}</label>            
        </li>
        <li class="_magicSkill _long">
            <label class="_name">{{localize 'characteristic.cpShort'}}</label>
            <label class="_value">
                {{systemData.characteristics.secondary.cp.current}} / {{systemData.characteristics.secondary.cp.value}}
            </label>            
        </li>
        <li class="_magicSkill">
            <label class="_name">{{localize 'characteristic.irrShort'}}</label>
            <label class="_value">{{systemData.characteristics.secondary.irr.value}}</label>            
        </li>                
    </ul>

    <ul class="_magicSkills">
    {{#each magic.skills as |skill id|}}

        <li class="_magicSkill">
            <label class="_name">{{skill.name}}</label>
            <label class="_value">
                <a class="_diceSkill" data-itemId="{{skill._id}}">
                {{itemPropertyExtend 'systemData.skills' skill._id 'value'}}
                </a>
            </label>
        </li>

    {{/each}}
    </ul>

    {{!-- PENALIZATIONS --}}
    <ul class="magicPenalizations">
    
        <li class="_penal">
            <label class="_title">{{localize "common.method"}}</label>
            <input type="text"
                   name="system.magic.penal.method" 
                   value="{{systemData.magic.penal.method}}" />
        </li>
        <li class="_penal">
            <label class="_title">{{localize "common.armor"}}</label>
            <input type="text"
                   disabled
                   name="system.magic.penal.armor" 
                   value="{{systemData.magic.penal.armor}}" />
        </li>
        <li class="_penal">
            <label class="_title">{{localize "common.concentration"}}</label>
            <input type="text"
                   name="system.magic.penal.concentration" 
                   value="{{systemData.magic.penal.concentration}}" />
        </li>  
        <li class="_penal">
            <label class="_title">{{localize "common.others"}}</label>
            <input type="text"
                   name="system.magic.penal.others" 
                   value="{{systemData.magic.penal.others}}" />
        </li>
        <li class="_penal">
            <label class="_title">{{localize "common.ceremony"}}</label>
            <input type="text"
                   name="system.magic.penal.ceremony" 
                   value="{{systemData.magic.penal.ceremony}}" />
        </li>                              

    </ul>

    {{!-- SPELLS/RITUAL LISTS --}}
    <ul class="magicList">

    <li class="_magic" style="border-bottom: 1px solid #33333330;">
        <label class="_title _head"></label>
        <label class="_points _head" style="margin-left: -8px;">Vis Ordo</label>
        <label class="_points _head" style="margin-left: 11px;">Ptc Ptf</label>
        <label class="_type _head"></label>
        <label class="_points _head" style="margin-left: -11px;">{{localize "common.penalShort"}}</label>
        <label class="_value _head" style="margin-left: 8px;">Rr Irr</label>            
    </li>        

    {{#each items as |item id|}}

        {{#if (itemType item 'spell') }}
        <li class="_magic _spell" data-item-id="{{item._id}}">
            <label class="_title">
                <a class="actionIcon" data-itemId="{{item._id}}" data-action="show">
                    {{item.name}}
                </a>
            </label>
            <label class="_points">{{item.system.vis}}</label>
            <label class="_points">{{item.system.ptc}}</label>
            <label class="_type">{{item.system.shape}}</label>
            <label class="_points">{{item.system.penal}}</label>
            <label class="_value">
                <a class="playSpell" data-itemId="{{item._id}}">
                    {{spellValue item 'spell'}}
                </a>
            </label>            
        </li>
        {{/if}}

        {{#if (itemType item 'ritual') }}
        <li class="_magic _ritual" data-item-id="{{item._id}}">
            <label class="_title">
                <a class="actionIcon" data-itemId="{{item._id}}" data-action="show">
                    {{item.name}}
                </a>
            </label>
            <label class="_points">{{item.system.ordo}}</label>
            <label class="_points">{{item.system.ptf}}</label>
            <label class="_type"></label>
            <label class="_points">{{item.system.penal}}</label>
            <label class="_value">
                <a class="playSpell" data-itemId="{{item._id}}">
                    {{spellValue item 'ritual'}}
                </a>
            </label>
        </li>
        {{/if}}

    {{/each}}
    </ul>

</div>