<div class="_bioLanguages">
{{#each backend.languages as |lang key|}}
    <li class="boxLanguages">
        <img class="_img" src="{{lang.img}}"/>
        <label class="_label">{{lang.name}}</label> 
        <input class="_value" 
               type="text"
               {{{editable}}}
               name="system.languages.{{lang._id}}.value"
               value="{{itemPropertyExtend 'systemData.languages' lang._id 'value'}}"  
               data-dtype="Number"/>
        <a class="playLang" data-itemId="{{lang._id}}">
            <img src="/systems/aquelarre/image/texture/dice2.png" />
        </a>               
    </li>
{{/each}}
</div>