<vbox class="_bioInfo">

    {{!-- ------ HEIGHT & WEIGHT ------ --}}
    <line class="_100">
        <hbox class="_100" style="padding-left: 15px;">
            <label class="_normalText">
                {{localize 'characteristic.app'}} :
                ({{systemData.characteristics.primary.app.value}})
                - {{systemData.status.appearance}}
            </label>
        </hbox>
    </line>
    <line class="_100">
        <hbox class="_100" style="padding-left: 15px;">
            <label class="_normalText">
                {{localize 'common.height'}} :
                {{systemData.bio.height}}
            </label>
            <label class="_normalText">
                {{localize 'common.weight'}} :
                {{systemData.bio.weight}}
            </label>            
        </hbox>
    </line>

    {{!-- ------ TRAITS ------ --}}
    <ol class="_traits">
    {{#if imMaster}}
        {{#each traits as |trait key|}}
            <li data-item="{{trait._id}}">
                <img src="{{trait.img}}" />
                <vbox>
                    <hbox style="justify-content: space-between;">
                        <a class="_traitShow" data-itemid="{{trait._id}}">
                            <h3>{{trait.name}}</h3>
                        </a> 
                        <a class="_traitDel" data-itemid="{{trait._id}}">
                            <i class="fa-solid fa-trash"></i></a>
                    </hbox>
                    <hbox>
                        <label class="_shortDescription">
                            {{shortDescription trait.system.description}}
                        </label>
                    </hbox>
                </vbox>
            </li>
        {{/each}}
    {{else}}
        {{#each traits as |trait key|}}
        <li data-item="{{trait._id}}">
            <img src="{{trait.img}}" />
            <vbox>
                <a class="_traitShow" data-itemid="{{trait._id}}">
                    <h3>{{trait.name}}</h3>
                </a>
                <hbox>
                    <label class="_shortDescription">
                    {{shortDescription trait.system.description}}
                    </label>
                </hbox>
            </vbox>
        </li>
        {{/each}}
    {{/if}}
    </ol>    
</vbox>