{{!-- Combat Tab --}}
<div class="tab combat" data-group="primary" data-tab="combat">

    <div class="_tabTitle">
        <label>{{localize 'common.combat'}}</label>
     </div>

    {{#if combatBackend.inCombats }}
    <vbox class="_encountersBox" style="padding-bottom:10px;">

        {{#if combatBackend.inActiveCombat }}

            {{#if actions.itsMyTurn }}
            <label class="_captionCombat3" style="margin-left: 14px">
                {{ localize "info.myTurn"}}:
                <span class="_actionBold">{{actions.action.name}}</span>
            </label>
            {{else}}
            <label class="_captionCombat32" style="margin-left: 14px">{{ localize "info.noMyTurn"}}</label>
            {{/if}}            

        {{else}}
        <label class="_captionCombat32">{{ localize "info.inNoActiveCombat"}}</label>
        {{/if}}
        
        {{!-- 
        <ul class="_myCombats">
            {{#each combats as |combat id|}}
            <li class="_myCombat" >
                <a class="_encounterInfo" data-itemId="{{combat.encounter._id}}">
                    <img class="_encounter {{#unless combat.combat.active}} _alpha {{/unless}}" 
                        src="{{combat.encounter.img}}" />
                </a>
            </li>
            {{/each}}
        </ul> 
        --}}

    </vbox>
    {{else}}
    <vbox class="_encountersBox">
        <label class="_captionCombat4">{{ localize "info.inNoCombat"}}</label>
    </vbox>
    {{/if}}

    <hbox class="_100 _betsu">
        <hbox>
            {{#if (rightHanded)}}
                <label>{{localize 'common.rightHanded'}}</label>
            {{else}}
                <label>{{localize 'common.leftHanded'}}</label>
            {{/if}}

            <label class="switch">
                <input type="checkbox" 
                    name="system.status.rightHanded" 
                    {{{editable}}}
                    {{checked systemData.status.rightHanded}} />
                <span class="sliderSwitch"></span>
            </label> 
        </hbox>
    </hbox>
            
    {{!-- WEAPONS --}}
    <div class="combatWeapons">
        <ul class="actorWeapons">

            {{#if actions.showSkill}}
            <li class="boxWeapon" 
                id="boxWeapon_{{actions.skill._id}}">
                <hbox class="_combatSkill">
                    <a class="playCombatSkill" data-itemId="{{actions.skill._id}}">
                        <img class="_combatSkillImg" src="{{actions.skill.img}}"/>
                    </a>                    
                    <vbox class="_weaponText">
                        <a class="playCombatSkill" data-itemId="{{actions.skill._id}}">
                            <hbox>
                                <label class="titleWeapon">{{actions.action.name}}</label>
                            </hbox>
                        </a>
                        <label class="damageWeapon">{{actions.skill.name}}</label>
                    </vbox>   
                    <hbox style="width: 200px;"></hbox>
                    {{#if actions.showSkillValue}}
                    <label class="_skillValue2">
                        {{itemPropertyExtend 'systemData.skills' actions.skill._id 'value'}}
                    </label>
                    {{else}}
                    <label class="_skillValue2"></label>
                    {{/if}}
                    <a class="_cardInfo" data-itemid="{{actions.action._id}}">
                            <i class="fas fa-info"></i></a>                    
                </hbox>
            </li>
            {{else}}

                {{#each items as |weapon id|}}
                {{#if (itemType weapon 'weapon') }}
                <li class="boxWeapon" 
                    id="boxWeapon_{{weapon._id}}">
                    
                    <hbox>

                        {{#if (evalActionWeapon ../actions weapon) }}
                        <a class="playWeapon" data-itemid="{{weapon._id}}" >
                            <img class="imgWeapon" src="{{weapon.img}}"/>
                        </a>
                        {{else}}
                        <a class="showRejectInfo" data-weaponid="{{weapon._id}}">
                            <img class="imgWeapon" src="{{weapon.img}}" style="opacity: 0.3;"/>
                        </a>                    
                        {{/if}} 

                        <vbox class="_weaponText">
                                                        
                            {{#if (evalActionWeapon ../actions weapon) }}
                            <a class="playWeapon" data-itemid="{{weapon._id}}" >
                                <hbox>
                                <label class="titleWeapon">{{weapon.name}}</label>
                                </hbox>
                            </a>
                            {{else}}
                            <a class="showRejectInfo" data-weaponid="{{weapon._id}}">
                                <hbox>
                                <label class="titleWeapon">{{weapon.name}}</label>
                                </hbox>
                            </a>                    
                            {{/if}}


                            <label class="damageWeapon">{{weapon.system.damage}} 
                                {{#if (isDamageMod weapon)}}
                                    <span class="_small">{{getDamageMod weapon}}</span>
                                {{/if}}
                            </label>
                        </vbox>
                        <hbox style="width: 230px;">
                                                
                            <hbox class="_weaponHands">
                            {{#if weapon.system.type.2hands}}

                                {{!-- Both hands --}}
                                <img class="weaponHand weapon2Hands {{#unless weapon.system.inHands.inBothHands}} _alpha {{/unless}}" 
                                        src="systems/conventum/image/texture/inBothHands.png"
                                        data-itemid="{{weapon._id}}" 
                                        data-hand="inBothHands"/>

                            {{else}}

                                {{!-- Left hand --}}
                                <img class="weaponHand weaponLeftHand {{#unless weapon.system.inHands.inLeftHand}} _alpha {{/unless}}" 
                                    src="systems/conventum/image/texture/inLeftHand.png"
                                    data-itemid="{{weapon._id}}" 
                                    data-hand="inLeftHand"/>

                                {{!-- Right hand --}}
                                <img class="weaponHand weaponRightHand {{#unless weapon.system.inHands.inRightHand}} _alpha {{/unless}}" 
                                    src="systems/conventum/image/texture/inRightHand.png"
                                    data-itemid="{{weapon._id}}" 
                                    data-hand="inRightHand"/>
                            
                            {{/if}}
                            </hbox>

                            <a class="_whyThisPercent" data-weaponid="{{weapon._id}}">
                                <hbox>
                                <label class="_skillValue">
                                    {{getWeaponSkill weapon}}
                                </label>
                                </hbox>
                            </a>

                            <a class="_cardInfo" data-itemid="{{weapon._id}}">
                                    <i class="fas fa-info"></i></a>
                            
                            <a class="playWeaponExpress" data-itemid="{{weapon._id}}">
                                <div class="_noActionWrap">
                                    <label>{{localize "common.noAction"}}</label>
                                    <img src="/systems/conventum/image/texture/dice2.png" />
                                </div>
                            </a>

                        </hbox>
                        
                    </hbox>

                </li>

                {{/if}}
                {{/each}}

            {{/if}}
        </ul>
    </div>
 

</div>