{{#if imMaster}}
<a class="_goingBack"><div class="_backButton"><<</div></a>
{{/if}}
<hbox class="_header">
    <vbox>
        <h1>{{localize 'wizard.title10'}}</h1>
        <p>{{localize 'wizard.text10'}}</p>
    </vbox>    
</hbox>

<div class="_wzDetail">
    <hbox class="_100">
        <label>{{localize "common.profession"}}</label>
        <a class="wizardOption"
           data-field="profession"
           data-value="{{systemData.bio.profession}}"
           data-compendium="professions">
                {{bioInfo.profession.name}}
        </a>
    </hbox>
</div>

<div class="_wzChars2" style="padding-top: 10px">
    <hbox class="_wzLine">
        <h3 class="_wzLabel">{{localize "common.gender"}}</h3>
        {{#if systemData.bio.blockGener}}

            {{#if systemData.bio.female}}
                <img class="_wzGender" src="/systems/conventum/image/texture/female.png">
            {{else}}
                <img class="_wzGender" src="/systems/conventum/image/texture/male.png">
            {{/if}}

        {{else}}

            {{#if systemData.bio.female}}
                <a class="wzGender"
                style="opacity: 0.2"
                data-gender="male">
                <img class="_wzGender" src="/systems/conventum/image/texture/male.png">
                </a>
                <a class="wzGender"
                style="opacity: 1"
                data-gender="female">
                <img class="_wzGender" src="/systems/conventum/image/texture/female.png">
                </a>
            {{else}}
                <a class="wzGender"
                    style="opacity: 1"
                    data-gender="male">
                    <img class="_wzGender" src="/systems/conventum/image/texture/male.png">
                </a>
                <a class="wzGender"
                    style="opacity: 0.2"
                    data-gender="female">
                    <img class="_wzGender" src="/systems/conventum/image/texture/female.png">
                </a>        
            {{/if}}
        {{/if}}
    </hbox>

    {{!-- Appareance --}}
    <hbox class="_wzLine">  
        <h3 class="_wzLabel">{{localize "characteristic.app"}}</h3>
        <input type="number"
               class="_wzChar"
               style="margin-right: 5px;"
               {{{editable}}}
               name="system.characteristics.primary.app.value" 
               value="{{systemData.characteristics.primary.app.value}}" />         

        {{#if systemData.wizard.showTableRoll04}}
            <a class="wizardDices _wzDices"
                data-field="appearance"
                data-compendium="">
                <img src="/systems/conventum/image/texture/dice.png">
            </a>  
        {{/if}}                
    </hbox>  
    
    {{!-- Temperance --}}
    <hbox class="_wzLine">  
        <h3 class="_wzLabel">{{localize "characteristic.temp"}}</h3>
        <input type="number"
               class="_wzChar"
               style="margin-right: 5px;"
               {{{editable}}}
               name="system.characteristics.secondary.temp.value" 
               value="{{systemData.characteristics.secondary.temp.value}}" />         

        {{#if systemData.wizard.showTableRoll05}}
            <a class="wizardDices _wzDices"
                data-field="temperance"
                data-compendium="">
                <img src="/systems/conventum/image/texture/dice.png">
            </a>  
        {{/if}}                
    </hbox>

    <ul class="_wzCharacteristics2">

        {{!-- Rationality/Irrationality --}}
        <li class="_wzLine">
            <h3 class="_wzLabel">{{localize 'characteristic.rr' }}</h3>
            <input type="number"
                class="_wzChar _white"
                name="system.characteristics.secondary.rr.value" 
                value="{{systemData.characteristics.secondary.rr.value}}" />        
        </li>
        <li class="_wzLine">
            <h3 class="_wzLabel">{{localize 'characteristic.irr' }}</h3>
            <input type="number"
                class="_wzChar _white"
                name="system.characteristics.secondary.irr.value" 
                value="{{systemData.characteristics.secondary.irr.value}}" />        
        </li>        

        {{!-- Luck --}}
        <li class="_wzLine">
            <h3 class="_wzLabel">{{localize 'characteristic.luck' }}</h3>
            <input type="number"
                class="_wzChar"
                {{{editable}}}
                name="system.characteristics.secondary.luck.value" 
                value="{{systemData.characteristics.secondary.luck.value}}" />        
        </li>

        {{!-- Hit Points --}}
        <li class="_wzLine">
            <h3 class="_wzLabel">{{localize 'characteristic.hp' }}</h3>
            <input type="number"
                class="_wzChar"
                {{{editable}}}
                name="system.characteristics.secondary.hp.value" 
                value="{{systemData.characteristics.secondary.hp.value}}" />        
        </li>        

        {{!-- Conc. Points --}}
        <li class="_wzLine">
            <h3 class="_wzLabel">{{localize 'characteristic.cp' }}</h3>
            <input type="number"
                class="_wzChar"
                {{{editable}}}
                name="system.characteristics.secondary.cp.value" 
                value="{{systemData.characteristics.secondary.cp.value}}" />        
        </li>

        {{!-- Faith. Points --}}
        <li class="_wzLine">
            <h3 class="_wzLabel">{{localize 'characteristic.fp' }}</h3>
            <input type="number"
                class="_wzChar"
                {{{editable}}}
                name="system.characteristics.secondary.fp.value" 
                value="{{systemData.characteristics.secondary.fp.value}}" />        
        </li>
 
    </ul>    
</div>

<hbox class="_wzButtonBar" style="margin-top: 20px;">
    {{#if bioInfo.charTotalOk}}
    <a class="wizardNextStep"
       data-field="secondary"
       data-step="11">
       <div class="_backButton">{{localize "common.nextStep"}}</div>
    </a>   
    {{/if}}
</hbox>