<h1>{{localize 'wizard.title01'}}</h1>
<p>{{localize 'wizard.text01'}}</p>
<ul>
{{#each backend.worlds as |world key|}}
    <a class="wizardOption"
        data-field="world"
        data-value="{{world.id}}"
        style="width: 100%;">
        <li class="_wizardOption" data-filter="{{world.name}}">
            <img src="{{world.img}}" />
            <label>{{world.name}}</label>
        </li>
    </a>
{{/each}}
</ul>

{{#if imMaster}}
<vbox class="_100 _options">
    <hbox class="_100">
        <input class="_rowAcquired"
               type="checkbox" 
               title="{{localize 'help.acquired'}}" 
               name="system.bio.decide.kingdom" 
               {{checked systemData.bio.decide.kingdom}} />   
        <label class="_descr">{{localize 'common.decideKingdom'}}</label>
    </hbox>
    <hbox class="_100">
        <input class="_rowAcquired"
               type="checkbox" 
               title="{{localize 'help.acquired'}}" 
               name="system.bio.decide.culture" 
               {{checked systemData.bio.decide.culture}} />   
        <label class="_descr">{{localize 'common.decideCulture'}}</label>
    </hbox>   
    <hbox class="_100">
        <input class="_rowAcquired"
               type="checkbox" 
               title="{{localize 'help.acquired'}}" 
               name="system.bio.decide.stratum" 
               {{checked systemData.bio.decide.stratum}} />   
        <label class="_descr">{{localize 'common.decideStratum'}}</label>
    </hbox>     
    <hbox class="_100">
        <input class="_rowAcquired"
               type="checkbox" 
               title="{{localize 'help.acquired'}}" 
               name="system.bio.decide.status" 
               {{checked systemData.bio.decide.status}} />   
        <label class="_descr">{{localize 'common.decideStatus'}}</label>
    </hbox>      
    <hbox class="_100">
        <input class="_rowAcquired"
               type="checkbox" 
               title="{{localize 'help.acquired'}}" 
               name="system.bio.decide.profession" 
               {{checked systemData.bio.decide.profession}} />   
        <label class="_descr">{{localize 'common.decideProfession'}}</label>
    </hbox>     
    <hbox class="_100">
        <input class="_rowAcquired"
               type="checkbox" 
               title="{{localize 'help.acquired'}}" 
               name="system.bio.decide.parentProfession" 
               {{checked systemData.bio.decide.parentProfession}} />   
        <label class="_descr">{{localize 'common.decideParProfession'}}</label>
    </hbox>         
</vbox>
{{/if}}