{{#if imMaster}}
<a class="_goingBack"><div class="_backButton"><<</div></a>
{{/if}}
<hbox class="_header">
    <vbox>
        <h1>{{localize 'wizard.title09'}}</h1>
        <p>{{localize 'wizard.text09'}}</p>
    </vbox>    
</hbox>

<div class="_wzDetail" style="margin-bottom: 15px;">
    <hbox class="_100">
        <label>{{localize "common.profession"}}</label>
        <a class="wizardOption"
           data-field="profession"
           data-value="{{systemData.bio.profession}}"
           data-compendium="professions">
                {{bioInfo.profession.name}}
        </a>
    </hbox>
</div>

<ul class="_wzCharacteristics">
    {{#each systemData.characteristics.primary as |char key|}}

    {{#if (checkIsNot key 'app')}}
    <li>
        <label>{{localizeExtend 'characteristic.' key ''}}</label>
        <hbox>
            <div class="_wzCharMin">
                {{itemPropertyExtend 'systemData.characteristics.primary' key 'min'}}
            </div>       
            <input type="number"
                class="_wzChar"
                name="system.characteristics.primary.{{key}}.value" 
                value="{{itemPropertyExtend 'systemData.characteristics.primary' key 'value'}}"
                class="{{itemPropertyExtend 'systemData.characteristics.primary' key 'class'}}" />        
            <div class="_wzCharMax">
                {{itemPropertyExtend 'systemData.characteristics.primary' key 'max'}}
            </div>
        </hbox>        
    </li>
    {{/if}}
    {{/each}}
    <li>
        <label>{{localize 'common.total'}}</label>
        <hbox>
            <div class="_wzTotalChar">{{bioInfo.charTotal}}</div>        
        </hbox>        
    </li>    
</ul>


<hbox class="_wzButtonBar" style="margin-top: 20px;">
    {{#if bioInfo.charTotalOk}}
    <a class="wizardNextStep"
       data-field="primary"
       data-step="10">
       <div class="_backButton">{{localize "common.nextStep"}}</div>
    </a>   
    {{/if}}
</hbox>