{{#if imMaster}}
<a class="_goingBack"><div class="_backButton"><<</div></a>
{{/if}}
<hbox class="_header">
    <vbox>
        <h1>{{localize 'wizard.title02'}}</h1>
        <p>{{localize 'wizard.text02'}}</p>
    </vbox>
    <div class="_dicesBox">
        <a class="wizardDices"
           data-field="kingdom"
           data-compendium="kingdoms">
            <img src="/systems/conventum/image/texture/dice.png">
        </a>
    </div>    
</hbox>

<ul>
{{#each backend.kingdoms as |kingdom key|}}
    {{#if ../imMaster}}
    <a class="wizardOption"
        data-field="kingdom"
        data-value="{{kingdom.id}}"
        data-compendium="kingdoms">
    {{else}}
    <a class="wizardOption"
        data-field="kingdom"
        data-value="{{kingdom.id}}"
        data-compendium="kingdoms"
        style="width: 100%">
    {{/if}} 
    
        <li class="_wizardOption" 
            data-filter="{{kingdom.name}}"
            data-field="kingdom"
            data-value="{{kingdom.id}}"
            data-compendium="kingdoms">

            <img src="{{kingdom.img}}" />
            <label class="_range">{{kingdom.system.range.low}} - {{kingdom.system.range.high}}</label>
            <label class="_name">{{kingdom.name}}</label>
            {{#if ../imMaster}}
            <a class="_wizardButton">{{localize 'common.select'}}</a>
            {{/if}}
        </li>
    </a>
{{/each}}
</ul>