<div class="actorChars">
    <ul class="labelLine">
        {{#each systemData.characteristics.primary as |char key|}}
        <a class="_diceCharacteristic" data-char="{{key}}">
            <li class="label">{{localizeExtend 'characteristic.' key '_Short'}}</li>
        </a>
        {{/each}}
    </ul>
    <ul class="charsLine">
        {{#each systemData.characteristics.primary as |char key|}}
        <li class="chars tooltip">            
            <input type="number"
                    {{{editable}}}
                   name="system.characteristics.primary.{{key}}.value" 
                   value="{{itemPropertyExtend 'systemData.characteristics.primary' key 'value'}}"
                   class="{{itemPropertyExtend 'systemData.characteristics.primary' key 'class'}}" />
            <input type="hidden" 
                   name="system.characteristics.primary.{{key}}.temp"  
                   value="{{itemPropertyExtend 'systemData.characteristics.primary' key 'temp'}}"/>
            <input type="hidden"
                   name="system.characteristics.primary.{{key}}.initial"
                   value="{{itemPropertyExtend 'systemData.characteristics.primary' key 'initial'}}"/>
        </li>
        {{/each}}
    </ul>
</div>

<hbox class="switchInit">
    <label>{{localize 'common.initial'}}</label>
    <label class="switch">
        <input type="checkbox" 
               name="system.control.initial" 
               {{{editable}}}
               {{checked systemData.control.initial}} />
        <span class="sliderSwitch"></span>
    </label>        
</hbox>