<div class="_wizard">
    
    {{!-- 
    <ul class="_stepBar">
        <li class="_stepItem">
            <img src="/systems/conventum/image/wizard/step01.png"
                 title="{{localize 'wizard.title01'}}"
                 style="opacity: {{#if (wizardVisible '01')}} 1; {{else}} 0.25; {{/if}}">
        </li>
        <li class="_stepItem">
            <img src="/systems/conventum/image/wizard/step02.png"
                 title="{{localize 'wizard.title02'}}"
                 style="opacity: {{#if (wizardVisible '02')}} 1; {{else}} 0.25; {{/if}}">
        </li>  
        <li class="_stepItem">
            <img src="/systems/conventum/image/wizard/step03.png"
                 title="{{localize 'wizard.title03'}}"
                 style="opacity: {{#if (wizardVisible '03')}} 1; {{else}} 0.25; {{/if}}">
        </li>    
        <li class="_stepItem">
            <img src="/systems/conventum/image/wizard/step04.png"
                 title="{{localize 'wizard.title04'}}"
                 style="opacity: {{#if (wizardVisible '04')}} 1; {{else}} 0.25; {{/if}}">
        </li>     
        <li class="_stepItem">
            <img src="/systems/conventum/image/wizard/step05.png"
                 title="{{localize 'wizard.title05'}}"
                 style="opacity: {{#if (wizardVisible '05')}} 1; {{else}} 0.25; {{/if}}">
        </li>                      
        <li class="_stepItem">
            <img src="/systems/conventum/image/wizard/step06.png"
                 title="{{localize 'wizard.title06'}}"
                 style="opacity: {{#if (wizardVisible '06')}} 1; {{else}} 0.25; {{/if}}">
        </li>        
        <li class="_stepItem">
            <img src="/systems/conventum/image/wizard/step07.png"
                 title="{{localize 'wizard.title07'}}"
                 style="opacity: {{#if (wizardVisible '07')}} 1; {{else}} 0.25; {{/if}}">
        </li>          
        <li class="_stepItem">
            <img src="/systems/conventum/image/wizard/step08.png"
                 title="{{localize 'wizard.title08'}}"
                 style="opacity: {{#if (wizardVisible '08')}} 1; {{else}} 0.25; {{/if}}">
        </li>          
        <li class="_stepItem">
            <img src="/systems/conventum/image/wizard/step09.png"
                 title="{{localize 'wizard.title09'}}"
                 style="opacity: {{#if (wizardVisible '09')}} 1; {{else}} 0.25; {{/if}}">
        </li>         
        <li class="_stepItem">
            <img src="/systems/conventum/image/wizard/step10.png"
                 title="{{localize 'wizard.title10'}}"
                 style="opacity: {{#if (wizardVisible '10')}} 1; {{else}} 0.25; {{/if}}">
        </li>                                                                                                                 
    </ul>
    --}}
    
    <content>
        
        {{#if (wizardVisible '01')}}    {{> humanWizard01 }}    {{/if}}
        {{#if (wizardVisible '02')}}    {{> humanWizard02 }}    {{/if}}
        {{#if (wizardVisible '03')}}    {{> humanWizard03 }}    {{/if}}
        {{#if (wizardVisible '04')}}    {{> humanWizard04 }}    {{/if}}
        {{#if (wizardVisible '05')}}    {{> humanWizard05 }}    {{/if}}
        {{#if (wizardVisible '06')}}    {{> humanWizard06 }}    {{/if}}
        {{#if (wizardVisible '07')}}    {{> humanWizard07 }}    {{/if}}
        {{#if (wizardVisible '08')}}    {{> humanWizard08 }}    {{/if}}
        {{#if (wizardVisible '09')}}    {{> humanWizard09 }}    {{/if}}
        {{#if (wizardVisible '10')}}    {{> humanWizard10 }}    {{/if}}
        {{#if (wizardVisible '11')}}    {{> humanWizard11 }}    {{/if}}
        {{#if (wizardVisible '12')}}    {{> humanWizard12 }}    {{/if}}
        {{#if (wizardVisible '13')}}    {{> humanWizard13 }}    {{/if}}
        {{#if (wizardVisible '14')}}    {{> humanWizard14 }}    {{/if}}
        {{#if (wizardVisible '15')}}    {{> humanWizard15 }}    {{/if}}

    </content>
</div>


