{{!-- Spells --}}

{{!-- MAIN --}}
<div class="tab main" data-group="primary" data-tab="main">
<slidePanel class="_100" style="height: auto;">
    <panelContent>
        <hbox class="_mod _100">
            <label class="_80px">{{localize "common.shape" }}</label>
            <select name="system.shape">
                {{selectOptions backend.spellShapes 
                                selected=systemData.shape
                                localize=false
                                nameAttr="id"
                                labelAttr="name" }}
            </select>                       
        </hbox>
        <hbox class="_mod _100">  
            <label class="_80px">{{localize "common.nature" }}</label>
            <select name="system.nature">
                {{selectOptions backend.spellNature 
                                selected=systemData.nature
                                localize=false
                                nameAttr="id"
                                labelAttr="name" }}
            </select>    
            <select name="system.secondNature" style="margin-left: 10px">
                {{selectOptions backend.spellSecondNature 
                                selected=systemData.secondNature
                                localize=false
                                nameAttr="id"
                                labelAttr="name" }}
            </select>                              
        </hbox>    
        <hbox class="_mod _100">
            <label class="_80px">{{localize "common.rolls" }}</label>
            <select class="_120px" name="system.percent.secondary" style="margin-right: 10px;">
                {{selectOptions backend.secondary 
                                selected=systemData.percent.secondary
                                localize=false
                                nameAttr="id"
                                labelAttr="name" }}
            </select>            
            <select class="_120px" name="system.percent.skill">
                {{selectOptions backend.skills 
                                selected=systemData.percent.skill
                                localize=false
                                nameAttr="id"
                                labelAttr="name" }}
            </select>             
        </hbox>
        <hbox class="_mod _100">
            <label class="_80px">{{localize "common.vis" }}</label>
            <input class="_40px" 
                    name="system.vis"
                    value="{{systemData.vis}}" 
                    type="text" 
                    data-dtype="Number"/>    
            <label class="_80px">{{localize "common.ptc" }}</label>
            <input class="_40px" 
                    disabled
                    name="system.ptc"
                    value="{{systemData.ptc}}" 
                    type="text" 
                    data-dtype="Number"/>  
            <label class="_80px">{{localize "common.penal" }}</label>
            <input class="_80px" 
                    disabled
                    name="system.penal"
                    value="{{systemData.penal}}" 
                    type="text" />                                        
        </hbox>      
        <hbox class="_mod _100">
            <label class="_80px">{{localize "common.expiration" }}</label>
            <input class="" 
                    name="system.expiration"
                    value="{{systemData.expiration}}" 
                    type="text" />  
        </hbox>
        <hbox class="_mod _100">
            <label class="_80px">{{localize "common.duration" }}</label>
            <input style="width: calc(100% - 90px);"
                    name="system.duration"
                    value="{{systemData.duration}}" 
                    type="text" />                             
        </hbox>               
    </panelContent>
</slidePanel>
</div>

{{!-- COMPONENTS --}}
<div class="tab components" data-group="primary" data-tab="components">
<slidePanel class="_100" >
    <panelContent>

        <vbox class="_mod _text _100">
            <label class="_100">{{localize "common.components" }}</label>
            {{editor 
                systemData.components
                target="system.components" 
                button=true
                engine="prosemirror"
                owner=owner
                rollData=rollData
                editable=editable }}
        </vbox>

    </panelContent>
</slidePanel>
</div>

{{!-- PREPARATION --}}
<div class="tab preparation" data-group="primary" data-tab="preparation">
<slidePanel class="_100" >
    <panelContent>

        <vbox class="_mod _text _100">
            <label class="_100">{{localize "common.preparation" }}</label>
            {{editor 
                systemData.preparation
                target="system.preparation" 
                button=true
                engine="prosemirror"
                owner=owner
                rollData=rollData
                editable=editable }}
        </vbox>

    </panelContent>
</slidePanel>
</div>

{{!-- EFFECTS --}}
<div class="tab effects" data-group="primary" data-tab="effects">
<slidePanel class="_100" >
    <panelContent>

        <vbox class="_mod _text _100">
            <label class="_100">{{localize "common.effects" }}</label>
            {{editor 
                systemData.effects
                target="system.effects" 
                button=true
                engine="prosemirror"
                owner=owner
                rollData=rollData
                editable=editable }}
        </vbox>

    </panelContent>
</slidePanel>
</div>

{{!-- DAMAGE --}}
<div class="tab damage" data-group="primary" data-tab="damage">
<slidePanel class="_100" >
    <panelContent>

        <hbox class="_mod _100">
            <label class="_80px">{{localize "common.damage" }}</label>
            <label class="switch">
                <input type="checkbox" 
                    name="system.damage.apply"
                    {{checked systemData.damage.apply}} />
                <span class="sliderSwitch"></span>
            </label>            
            <input class="_100px"
                    name="system.damage.damage"
                    value="{{systemData.damage.damage}}" 
                    type="text" />                             
        </hbox>    

    </panelContent>
</slidePanel>
</div>