{{!-- Armor --}}

<div class="tab main" data-group="primary" data-tab="main">
<slidePanel class="_100" >

    <panelContent>
        <hbox class="_50">
            <label class="_150px">{{localize "common.actorType" }}</label>
            <select name="system.actorType">
                {{selectOptions backend.actorTypes 
                                selected=systemData.actorType
                                localize=false
                                nameAttr="id"
                                labelAttr="name" }}
            </select>         
        </hbox>        
        <hbox class="_50">
            <label class="_80px">{{localize "common.armorType" }}</label>
            <select name="system.armorType">
                {{selectOptions backend.armorTypes 
                                selected=systemData.armorType
                                localize=false
                                nameAttr="id"
                                labelAttr="name" }}
            </select>            
        </hbox>
        <hbox class="_50">
            <label class="_150px">{{localize "common.armorProtection" }}</label>
            <input class="_40px" 
                   name="system.protection"
                   value="{{systemData.protection}}" 
                   type="text" 
                   data-dtype="Number"/>                          
        </hbox> 
        <hbox class="_50">
            <label class="_150px">{{localize "common.armorEndurance" }}</label>
            <input class="_40px" 
                   name="system.endurance"
                   value="{{systemData.endurance}}" 
                   type="text" 
                   data-dtype="Number"/>                          
        </hbox>
        <hbox class="_50">
            <label class="_150px">{{localize "common.armorRequirement" }}</label>
            <label class="switch" style="margin-right: 10px">
                <input type="checkbox" 
                        name="system.requeriment.apply" 
                        {{checked systemData.requeriment.apply}} />
                <span class="sliderSwitch"></span>
            </label>   
        </hbox>
        <hbox class="_50">      
        </hbox>
        <hbox class="_50">                       
            <label class="_150px">{{localize "common.characteristic" }}</label>      
            <select class="_120px" name="system.requeriment.characteristic">
                {{selectOptions backend.characteristics 
                                selected=systemData.requeriment.characteristic
                                localize=false
                                nameAttr="id"
                                labelAttr="name" }}
            </select>
        </hbox>
        <hbox class="_50">            
            <label class="_150px">{{localize "common.minValue" }}</label>
            <input class="_40px _marginLeft" 
                   name="system.requeriment.minValue"
                   value="{{systemData.requeriment.minValue}}" 
                   type="text" 
                   data-dtype="Number"/>                                        
        </hbox>  
        
        {{!-- Hiddens ---}}
        <input name="system.inUse"
               value="{{systemData.inUse}}" 
               type="hidden" /> 

        <input name="system.enduranceCurrent"
               value="{{systemData.endurance}}" 
               type="hidden" />                
        
    </panelContent>
</slidePanel>
</div>

<div class="tab location" data-group="primary" data-tab="location">
<slidePanel class="_100" >
    <panelContent>
        {{#each backend.locations as |localization id|}}
        <hbox class="_mod _50">
            <label class="_80px">{{locationValue localization._id 'name'}}</label>
            <label class="switch" style="margin-right: 10px">
                <input type="checkbox" 
                        name="system.location.{{localization._id}}.apply" 
                        {{checkedExtend 'systemData.location' localization._id 'apply'}} />
                <span class="sliderSwitch"></span>
            </label>
        </hbox>
        {{/each}}
    </panelContent>
</slidePanel>
</div>

<div class="tab penal" data-group="primary" data-tab="penal">
<slidePanel class="_100">
    <panelContent>
        <hbox class="_100" style="margin-bottom: 10px; 
                                  padding-bottom: 4px;
                                  border-bottom: 1px solid #63202056;">
            <hbox class="_mod _50">
                <label class="_80px">{{localize 'common.initiative'}}</label>
                <input class="_80px" 
                    name="system.penalty.initiative"
                    value="{{systemData.penalty.initiative}}" 
                    type="text" />            
            </hbox>
            <hbox class="_mod _50">
                <label class="_80px">{{localize 'common.movement'}}</label>
                <input class="_80px" 
                    name="system.penalty.movement"
                    value="{{systemData.penalty.movement}}" 
                    type="text" />            
            </hbox>  
        </hbox>      
        {{#each backend.skills as |skill id|}}
        <hbox class="_mod _50">
            <label class="_80px">{{skill.name}}</label>
            <input class="_80px" 
                   name="system.penalty.skills.{{skill._id}}"
                   value="{{itemProperty 'system.penalty.skills' skill._id}}" 
                   type="text" />
        </hbox>
        {{/each}}
    </panelContent>    
</slidePanel>
</div>