{{!-- Header --}}
     
     <inkDetail class="inkCorner"></inkDetail>
     <inkDetail class="inkSubline"></inkDetail>
     <itemImage>
          <img src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
     </itemImage>
     <itemHeaderWrap>
          <itemTitle>
               <input type="text" name="name" value="{{item.name}}" placeholder=""/>
          </itemTitle>
          <itemSubHeader>
               <hBox class="_subHeaderHBox">
                    <label>{{localize "backend.World" }}</label>
                    <select name="system.control.world">
                         {{selectOptions backend.worlds 
                                         selected=systemData.control.world
                                         localize=false
                                         nameAttr="id"
                                         labelAttr="name" }}
                    </select>
               </hBox>
          </itemSubHeader>
     </itemHeaderWrap>