{{!-- Languages --}}

<ol class="itemList">
{{#each backend.languages as |item key|}}

    <li class="itemList" data-item="{{key}}">
        <hbox class="_large">
            <label style="width: 150px">{{item.name}}</label>
            <input type="text" 
                   style="margin-left: 5px; text-align: center; width: 50px;"
                   name="system.backend.languages.{{item.id}}"
                   value="{{itemProperty 'systemData.backend.languages' item.id}}" />
        </hbox>
    </li>

{{/each}}
</ol>