{{!-- Skills --}}
<slidePanel class="_100">
    <panelContent>
        <h3 class="_100">{{localize "common.characteristics"}}</h3>
        <hbox class="_50">
            <label class="_80px">{{localize "common.primary" }}</label>
            <select name="system.characteristic.primary">
                {{selectOptions backend.characteristics 
                                selected=systemData.characteristic.primary
                                localize=false
                                nameAttr="id"
                                labelAttr="name" }}
            </select>              
        </hbox>  
        <hbox class="_50">
            <label class="_80px">{{localize "common.secondary" }}</label>
            <select name="system.characteristic.secondary">
                {{selectOptions backend.characteristics 
                                selected=systemData.characteristic.secondary
                                localize=false
                                nameAttr="id"
                                labelAttr="name" }}
            </select>               
        </hbox> 
        <h3 class="_100">{{localize "common.socialGroup"}}</h3>
        {{#each backend.socialGroups as |group id|}}
        <hbox class="_50">
            <label class="_80px">{{group.name}}</label>
            <label class="switch" style="margin-right: 10px">
                <input type="checkbox" 
                    name="system.group.{{group.id}}.apply" 
                    {{checkedExtend 'systemData.group' group.id 'apply'}} />
                <span class="sliderSwitch"></span>
            </label>                    
        </hbox>
        {{/each}}      

        <h3 class="_100">{{localize "common.combat"}}</h3>
        <hbox class="_50">
            <label class="_80px">{{localize "common.apply" }}</label>
            <label class="switch" style="margin-right: 10px">
                <input type="checkbox" 
                    name="system.combat.combat" 
                    {{checked systemData.combat.combat}} />
                <span class="sliderSwitch"></span>
            </label>               
        </hbox>
        <hbox class="_50">              
        </hbox>
        <hbox class="_50">
            <label class="_80px">{{localize "common.contact" }}</label>
            <label class="switch">
                <input type="checkbox" 
                    name="system.combat.contact"
                    {{checked systemData.combat.contact}} />
                <span class="sliderSwitch"></span>
            </label>             
        </hbox>   
        <hbox class="_50">
            <label class="_80px">{{localize "common.distance" }}</label>
            <label class="switch">
                <input type="checkbox" 
                    name="system.combat.distance"
                    {{checked systemData.combat.distance}} />
                <span class="sliderSwitch"></span>
            </label>           
        </hbox>         
        <hbox class="_50">
            <label class="_80px">{{localize "common.fire" }}</label>
            <label class="switch">
                <input type="checkbox" 
                    name="system.combat.fire"
                    {{checked systemData.combat.fire}} />
                <span class="sliderSwitch"></span>
            </label>          
        </hbox> 
     
        <h3 class="_100">{{localize "common.magic"}}</h3>
        <hbox class="_50">
            <label class="_80px">{{localize "common.apply" }}</label>
            <label class="switch" style="margin-right: 10px">
                <input type="checkbox" 
                    name="system.magic.magic" 
                    {{checked systemData.magic.magic}} />
                <span class="sliderSwitch"></span>
            </label>             
        </hbox>
        <hbox class="_50">       
        </hbox>      
        
        <h3 class="_100">{{localize "common.languages"}}</h3>
        <hbox class="_50">
            <label class="_80px">{{localize "common.apply" }}</label>
            <label class="switch" style="margin-right: 10px">
                <input type="checkbox" 
                    name="system.languages.apply" 
                    {{checked systemData.languages.apply}} />
                <span class="sliderSwitch"></span>
            </label>             
        </hbox>
        <hbox class="_50">       
        </hbox>         

    </panelContent>
</slidePanel>


