{{>frame}}

<div class="_mainFrame">
    <div class="_leftSide _blockSkills">
        {{>actorSkills}}
    </div>

    <div class="_rightSide _blockSkillText">
        {{>actorSkillsDetail}}
    </div>
</div>

{{!-- CONTROL--}}
<control class="_skills">
    <input type="hidden"
           name="system.control.skills.lastSkill"
           value="{{systemData.control.skills.lastSkill}}" />
</control>

{{>actorModes}}
<a class="_closeSheet">
    <div class="_closeSheetButton"
         data-tooltip="{{localize 'common.close'}}"></div>
</a>
{{!-- 
<a class="_shortSheet">
    <div class="_shortSheetButton"
         data-tooltip="{{localize 'common.shorting'}}"></div>
</a>
--}}