{{>frame}}
<div class="_mainFrame">

    {{!-- LEFT SIDE --}}
    <div class="_leftSide"
          style="background: linear-gradient(202deg, #1b223fc4 0%, 
                                             transparent {{addValue systemData.secondaries.rr.value '-3'}}%, 
                                             transparent {{addValue systemData.secondaries.rr.value '+3'}}%, 
                                             #611717 100%);">
        {{>actorActorPageLeft}}
    </div>

    {{!-- RIGHT SIDE --}}
    <div class="_rightSide">
        {{>actorActorPageRight}}
    </div>
    
</div>

{{>actorModes}}
<a class="_closeSheet">
    <div class="_closeSheetButton"
         data-tooltip="{{localize 'common.close'}}"></div>
</a>