<formSection class="_100">
    <formColumn class="_50">
        
        <formBlock>
            <formField class="_100">
                <label class="_40">{{localize "common.skill"}}</label>
                <select class="_60"
                    name="system.skillkey">
                    {{selectOptions backend.skills 
                                    selected=systemData.skillkey
                                    localize=false
                                    nameAttr="id"
                                    labelAttr="name" }}
                </select>
            </formField>
        </formBlock>
        <formBlock>
            <formField class="_100">
                <label>{{localize "common.damage"}}</label>
                <input name="system.damage.base" 
                       type="text" 
                       value="{{systemData.damage.base}}"  />                 
            </formField>
            <formField class="_100">
                <input name="system.damage.bono" 
                    id="chDamBono"
                    type="checkbox" 
                    {{checked systemData.damage.bono}} />                                    
                <label for="chDamBono">{{localize "common.useDamageBono"}}</label>   
            </formField>  
            <formField class="_100">
                <input name="system.damage.impale" 
                    id="chDamImpale"
                    type="checkbox" 
                    {{checked systemData.damage.impale}} />                                    
                <label for="chDamImpale">{{localize "common.impale"}}</label>   
            </formField> 
            <formField class="_100">
                <input name="system.damage.noArmor" 
                    id="chDamNoArmor"
                    type="checkbox" 
                    {{checked systemData.damage.noArmor}} />                                    
                <label for="chDamNoArmor">{{localize "common.noArmor"}}</label>   
            </formField>                                  
        </formBlock>
    </formColumn>
    <formColumn class="_50">
        
        <formBlock>
            <formField class="_100">
                <label class="_70">{{localize "common.strMin"}}</label>
                <input name="system.strMin" 
                       class="_30"
                       type="text" 
                       value="{{systemData.strMin}}"  />                 
            </formField>
        </formBlock>
        <formBlock>
            <formField class="_100">
                <label>{{localize "common.size"}}</label>
                <select
                    name="system.size">
                    {{selectOptions backend.weapons.weaponSizes 
                                    selected=systemData.size
                                    localize=false
                                    nameAttr="key"
                                    labelAttr="label" }}
                </select>
            </formField>
        </formBlock>
        <formBlock>
            <formField class="_100">
                <label class="_60">{{localize "common.recharge"}}</label>
                <input name="system.recharge" 
                       class="_40"
                       type="text" 
                       value="{{systemData.recharge}}"  />                 
            </formField>
        </formBlock>
        <formBlock>
            <formField class="_100">
                <label class="_60">{{localize "common.short"}}</label>
                <input name="system.range.short" 
                       class="_40"
                       type="text" 
                       value="{{systemData.range.short}}"  />                 
            </formField>   
            <formField class="_100">
                <label class="_60">{{localize "common.middle"}}</label>
                <input name="system.range.middle" 
                       class="_40"
                       type="text" 
                       value="{{systemData.range.middle}}"  />                 
            </formField> 
            <formField class="_100">
                <label class="_60">{{localize "common.large"}}</label>
                <input name="system.range.large" 
                       class="_40"
                       type="text" 
                       value="{{systemData.range.large}}"  />                 
            </formField>                                                   
        </formBlock>
        <formBlock>
            <formField class="_100">
                <label>{{localize "common.lock"}}</label>
                <select
                    name="system.lock">
                    {{selectOptions backend.weapons.weaponLocks
                                    selected=systemData.lock
                                    localize=false
                                    nameAttr="key"
                                    labelAttr="label" }}
                </select>
            </formField>
        </formBlock>


    </formColumn>    
</formSection>