<formSection class="_100">
    <formColumn class="_50">        
        <formBlock>
            <formTitle class="_100">{{localize "common.weaponLevel"}}</formTitle>
            {{#each backend.weaponLevels as |level index|}}
            <formField class="_100">
                <input name="system.weaponLevels.{{level.key}}.check" 
                    class="_checkOption"
                    id="chWeaponLevel{{level.key}}"
                    type="checkbox" 
                    {{extendChecked 'systemData.weaponLevels' level.key 'check'}} />
                <label for="chWeaponLevel{{level.key}}">{{level.label}}</label>
            </formField>
            {{/each}}
        </formBlock> 
        <formBlock>
            <formField class="_100">
                <label class="_65" style="white-space: pre-line;">{{localize "common.initModFirst"}}</label>
                <input class="_35"
                       name="system.initiative.first" 
                       type="text" 
                       value="{{systemData.initiative.first}}"  />                 
            </formField>
            <formField class="_100">
                <label class="_65" style="white-space: pre-line;">{{localize "common.initModAfter"}}</label>
                <input class="_35"
                       name="system.initiative.after" 
                       type="text" 
                       value="{{systemData.initiative.after}}"  />                 
            </formField>                        
        </formBlock>  
        <formBlock>
            <formField class="_100">
                <input name="system.melee" 
                       class="_checkOption"
                       id="chMelee"
                       type="checkbox" 
                       {{checked systemData.melee}} />
                <label for="chMelee" class="_50">{{localize 'common.melee'}}</label> 
            </formField>           
        </formBlock>                
    </formColumn>
    <formColumn class="_50">
        <formBlock>
            <formField class="_100">
                <label class="_70">{{localize "common.skillModAttack"}}</label>
                <input name="system.skillMod" 
                       class="_30"
                       type="text" 
                       value="{{systemData.skillMod}}"  />                 
            </formField>
            <formField class="_100">
                <label class="_70">{{localize "common.skillModDefense"}}</label>
                <input name="system.skillModDefense" 
                       class="_30"
                       type="text" 
                       value="{{systemData.skillModDefense}}"  />                 
            </formField>                        
        </formBlock>    
        <formBlock>
            <formTitle class="_100">{{localize "common.multAmor"}}</formTitle>
            {{#each backend.armors.armorTypes as |atype index|}}
            <formField class="_100">
                <input name="system.armorMult.{{atype.key}}.check" 
                    class="_checkOption"
                    id="chArmorType{{atype.key}}"
                    type="checkbox" 
                    {{extendChecked 'systemData.armorMult' atype.key 'check'}} />
                <label for="chArmorType{{atype.key}}" class="_50">{{atype.label}}</label>
                <input class="_15"
                       name="system.armorMult.{{atype.key}}.mult" 
                       type="text" 
                       value="{{extendValue 'systemData.armorMult' atype.key 'mult'}}"  />                 
            </formField>
            {{/each}}
        </formBlock>                                         
    </formColumn>    
</formSection>