    <div class="_backImg"></div>
    <div class="_title _whiteBorderHard" data-tooltip="{{localize 'info.skillTitle'}}"></div>
    <div class="_exper">  
        <label data-tooltip="{{localize 'info.skillAdded'}}">
            {{localize "common.skillAdded"}}: <span class="_whiteBorderHard _value">{{skillAdded selectedSkill}}%</span></label>
        <label data-tooltip="{{localize 'info.experAdded'}}">
            {{localize "common.experAdded"}}: <span class="_whiteBorderHard _value">{{experAdded selectedSkill}}</span></label>
        <div class="_characterist">{{localize 'common.charact'}}: <span class="_whiteBorderHard _value _char"></span></div>
    </div>    
    <div class="_actions">
        <hbox class="_100">
            <a class="_patern _33 {{skillHighlighted 'patern'}}" 
                data-target="patern"
                data-id="">
                <div class="_textRoll _marginLeft _marginRight" 
                        data-tooltip="{{localize 'info.setPatern'}}">
                        <i class="fas fa-link _marginRight"></i>
                        {{localize 'common.patern'}}</div>
            </a>  
            <a class="_secondary _33 {{skillHighlighted 'secondary'}}" 
                data-target="secondary"
                data-id="">
                <div class="_textRoll _marginLeft _marginRight" 
                        data-tooltip="{{localize 'info.setSecondary'}}">
                        <i class="far fa-bookmark _marginRight"></i>
                        {{localize 'common.secondary0'}}</div>
            </a>
            <a class="_primary _33 {{skillHighlighted 'primary'}}" 
                data-target="primary"
                data-id="">
                <div class="_textRoll _marginLeft _marginRight" 
                        data-tooltip="{{localize 'info.setPrimary'}}">
                        <i class="fas fa-bookmark _marginRight"></i>
                        {{localize 'common.primary0'}}</div>
            </a>             
        </hbox>              
        <hbox class="_100">
            <a class="_learned _33 {{skillHighlighted 'checked'}}" 
            data-target="learned"
            data-id="">
            <div class="_textRoll _marginLeft _marginRight" 
                    data-tooltip="{{localize 'info.setLearned'}}">
                    <i class="fas fa-scroll _marginRight"></i>
                    {{localize 'common.learned'}}</div>
            </a>        
            <a class="_favorite _33 {{skillHighlighted 'favorite'}}" 
            data-target="favorite"
            data-id="">
            <div class="_textRoll _marginLeft _marginRight" 
                    data-tooltip="{{localize 'info.setFavorite'}}">
                    <i class="fas fa-star _marginRight"></i>
                    {{localize 'common.favorite'}}</div>
            </a>       

            <a class="_roll _frameButton _33" 
            data-action="roll"
            data-target="skill"
            data-actorid="{{actor.id}}"
            data-tokenid="{{tokenId actor}}"
            data-skillid="{{systemData.control.skills.lastSkill}}">
            <div class="_textRoll _marginLeft _marginRight" 
                    data-tooltip="{{localize 'common.rollCharacteristic'}}">
                    <i class="fas fa-dice _marginRight"></i>
                    {{localize 'common.roll'}}</div>
            </a>
        </hbox>
    </div>        
    <div class="_text">
        <img class="_image" src="{{actor.src}}" class="_big">
    </div>
    {{#if selectedSkill.empty}}
    <div class="_noSkills">
        {{localize 'info.noSelectedSkill'}}
    </div>
    {{/if}}
