
<div class="_blockHeader _menu">
    <div class="_option" data-tooltip="{{localize 'common.sortByName'}}">
        <input name="system.control.skills.sortByName"
            type="checkbox" 
            {{checked systemData.control.skills.sortByName}} />
        <i class="fas fa-arrow-down-a-z"></i>
    </div>
    <div class="_option" data-tooltip="{{localize 'common.sortByValue'}}">
        <input name="system.control.skills.sortByValue"
            type="checkbox" 
            {{checked systemData.control.skills.sortByValue}} />
        <i class="fas fa-arrow-down-9-1"></i>
    </div>
    <div class="_option" data-tooltip="{{localize 'info.onlyFavorites'}}">
        <input name="system.control.skills.onlyFavorites"
            type="checkbox" 
            {{checked systemData.control.skills.onlyFavorites}} />
        <i class="fas fa-star"></i>
    </div>
    <div class="_option" data-tooltip="{{localize 'info.onlyLearned'}}">
        <input name="system.control.skills.onlyLearned"
            type="checkbox" 
            {{checked systemData.control.skills.onlyLearned}} />
        <i class="fas fa-scroll"></i>
    </div> 
    <div class="_option" data-tooltip="{{localize 'info.onlyByProfession'}}">
        <input name="system.control.skills.onlyByProfession"
            type="checkbox" 
            {{checked systemData.control.skills.onlyByProfession}} />
        <i class="fas fa-bookmark"></i>
    </div>         
    <div class="_option">
        <input id="skillSearch" 
            name="system.control.skills.search"
            value="{{systemData.control.skills.search}}"
            placeholder="{{localize 'common.search'}}" />
    </div>
    <div class="_option" data-tooltip="{{localize 'info.openCompendium'}}">
        <a class="_frameButton _textButton" 
        data-action="compendium"
        data-itemid="skills"
        data-tooltip="{{localize 'info.openCompendium'}}">
        <i class="fas fa-book">&nbsp;</i>
        </a>
    </div>        

</div>

<div class="_blockHeader _initialExperience">
    <div class="_combo">
        <div class="_combo">
            <label data-tooltip="{{localize 'info.initialExperience'}}">
                {{localize 'common.initialExperience'}}: 
                <span class="_points">{{backProfession.initialExperience}}</span> 
                                    /{{backProfession.initialExperienceMax}}</label>
        </div>
        <div class="_combo">
            <label data-tooltip="{{localize 'info.paternExperience'}}">
                {{localize 'common.paternExperience'}}: 
                <span class="_points">{{backProfession.paternExperience}}</span> 
                                    /{{backProfession.paternExperienceMax}}</label>
        </div>
    </div>
    {{!-- 
    <div class="_combo">
        <label for="initialExperience">{{localize 'common.applyInitialExperience'}}: </label>
        <input name="system.control.skills.initialExperience" 
            id="initialExperience"
            type="checkbox" 
            {{checked systemData.control.skills.initialExperience}} />        
    </div>
    --}}
    <div class="_option" data-tooltip="{{localize 'info.deleteAllSkill'}}">
        <a class="_frameButton _textButton" 
        data-action="deleteAll"
        data-type="skill"
        data-tooltip="{{localize 'info.deleteAllSkill'}}">
        <i class="fas fa-trash">&nbsp;</i>
        </a>
    </div>            
</div>

<div class="_blockContent">
{{#if (noSkills)}}
    <div class="_noSkills">
        {{localize 'info.noSkills'}}
        <a class="_frameButton _textButton" 
        data-action="compendium"
        data-itemid="skills">
        <div class="_textRoll" 
                data-tooltip="{{localize 'info.openCompendium'}}">
                <i class="fas fa-book"></i>
                {{localize 'common.openCompendium'}}</div>
        </a>
        <a class="_frameButton _textButton" 
        data-action="importSkills"
        data-rule="{{systemData.control.rules}}">
        <div class="_textRoll" 
                data-tooltip="{{localize 'info.importSkills'}}">
                <i class="fas fa-book"></i>
                {{localize 'common.importSkills'}}</div>
        </a>            
    </div>
{{else}}
    <div class="_skills">
        {{#each backSkills as |item index|}}
        <div class="_skill {{skillGroupClass item}} _contextButton"
            data-id="{{item._id}}"
            data-key="{{item.system.control.key}}"
            data-action="selectSkill"
            data-contextActor="{{actor.id}}"
            data-contextToken="{{actor.token.id}}"
            data-contextId="{{item._id}}"
            data-sortKey="{{item.system.extend.sortName}}">

            <img class="_img" src="{{item.img}}" />
            <div class="_content">
                <div class="_contentUp">
                    {{#if (skillPrimary item)}}
                    <div class="_primary" data-tooltip="{{localize 'info.primary'}}">
                        <i class="fas fa-bookmark"></i></div>
                    {{/if}}
                    {{#if (skillSecondary item)}}
                    <div class="_secondary" data-tooltip="{{localize 'info.secondary'}}">
                        <i class="fas fa-bookmark"></i></div>
                    {{/if}}     
                    {{#if (skillPatern item)}}
                    <div class="_patern" data-tooltip="{{localize 'info.patern'}}">
                        <i class="far fa-link"></i></div>
                    {{/if}}                                                                   
                    {{#if (skillFavorite item)}}
                    <div class="_favorite" data-tooltip="{{localize 'info.favorite'}}">
                        <i class="fas fa-star"></i></div>
                    {{/if}}
                    {{#if (skillLearned item)}}
                    <div class="_learned" data-tooltip="{{localize 'info.learned'}}">
                        <i class="fas fa-scroll"></i></div>
                    {{/if}}                        
                    <div class="_title">{{item.name}}</div>
                </div>
                <div class="_barSkillWrap">
                    <statBar class="_barSkill" 
                            data-value="{{skillValue item}}"></statBar>
                </div>
                <div class="_value">{{skillValue item}}<span class="_small">%</span></div>
            </div>

            <div class="_stats"
                data-id="{{item._id}}"
                data-key="{{item.system.control.key}}">  
                <statBox>
                        <label class="_whiteBorderHard">{{localize "common.base"}}</label>
                        <input name="system.skills.{{item.system.control.key}}.initial" 
                            disabled
                            data-tooltip="{{localize 'info.baseValue'}}"
                            type="text" 
                            value="{{extendValue 'systemData.skills' item.system.control.key 'initial'}}"  
                            class="_itemStat _whiteBorderHard" />
                </statBox>                                 
                <statBox class="_modder">
                        <label class="_whiteBorderHard">{{localize "common.value"}}</label>
                        <input name="system.skills.{{item.system.control.key}}.value" 
                            data-tooltip="{{localize 'info.skillValue'}}"
                            type="number" 
                            value="{{extendValue 'systemData.skills' item.system.control.key 'value'}}"  
                            class="_itemStat _whiteBorderHard" />
                </statBox>
                <statBox>
                        <label class="_whiteBorderHard">{{localize "common.mod"}}</label>
                        <input name="system.skills.{{item.system.control.key}}.modBase" 
                            disabled
                            data-tooltip="{{localize 'info.skillModBase'}}"
                            type="text" 
                            value="{{extendValue 'systemData.skills' item.system.control.key 'modBase'}}"  
                            class="_itemStat _whiteBorderHard" />
                </statBox>                  
                <statBox class="_modder">
                        <label class="_whiteBorderHard">{{localize "common.mod2"}}</label>
                        <input name="system.skills.{{item.system.control.key}}.mod" 
                            data-tooltip="{{localize 'info.skillMod'}}"
                            type="text" 
                            value="{{extendValue 'systemData.skills' item.system.control.key 'mod'}}"  
                            class="_itemStat _whiteBorderHard" />
                </statBox> 
                <statBox class="_modder">
                        <label class="_whiteBorderHard">{{localize "common.mult"}}</label>
                        <input name="system.skills.{{item.system.control.key}}.mult" 
                            data-tooltip="{{localize 'info.skillMult'}}"
                            type="number" 
                            value="{{extendValue 'systemData.skills' item.system.control.key 'mult'}}"  
                            class="_itemStat _whiteBorderHard" />
                </statBox> 
                <statBox class="_total">
                        <label class="_whiteBorderHard">{{localize "common.total"}}</label>
                        <label class="_total _whiteBorderHard"
                            data-tooltip="{{localize 'info.skillTotal'}}">{{extendValue 'systemData.skills' item.system.control.key 'valueTotal'}}</label>
                </statBox>    
                
                {{!-- INVISIBLES --}}
                <div class="_noVisible">
                    <input name="system.skills.{{item.system.control.key}}.checked" 
                        class="_learned"
                        type="checkbox" 
                        {{extendChecked 'systemData.skills' item.system.control.key 'checked'}} />
                    <input name="system.skills.{{item.system.control.key}}.favorite" 
                        class="_favorite"
                        type="checkbox" 
                        {{extendChecked 'systemData.skills' item.system.control.key 'favorite'}} />                      
                    <input name="system.skills.{{item.system.control.key}}.primary" 
                        class="_primary"
                        type="checkbox" 
                        {{extendChecked 'systemData.skills' item.system.control.key 'primary'}} />                               
                    <input name="system.skills.{{item.system.control.key}}.secondary" 
                        class="_secondary"
                        type="checkbox" 
                        {{extendChecked 'systemData.skills' item.system.control.key 'secondary'}} />                               
                    <input name="system.skills.{{item.system.control.key}}.patern" 
                        class="_patern"
                        type="checkbox" 
                        {{extendChecked 'systemData.skills' item.system.control.key 'patern'}} />
                </div>
                
            </div>                 
        </div>          

        {{/each}}
    </div>
{{/if}}
</div>