<div class="_box _exper">
    <div class="_logo"></div>
    <label class="_subTitle _pta">{{localize 'ATTR.pta'}}</label>
    <input type="number" 
            class="_stat _center _pta"
            {{{_disabled}}}
            name="system.atributos.pta.value" 
            value="{{system.atributos.pta.value}}" 
            min="0" 
            max="666"> 

</div>