{{!--
<div class="_complexMenu">
    <div class="_sOption"
         data-id="{{systemData.control.view.portrait}}">
        <div class="_backImg"></div>
    </div>    
    <div class="_complex">
        <div class="_cOption"
             data-tooltip="{{localize 'common.characteristics'}}"
             data-id="chars">
            <div class="_backImg"></div>
        </div>
        <div class="_cOption"
             data-tooltip="{{localize 'common.attributes'}}"
             data-id="attrs">
            <div class="_backImg"></div>
        </div>
        <div class="_cOption"
             data-tooltip="{{localize 'common.favSkills'}}"
             data-id="skills">
            <div class="_backImg"></div>
        </div>
        <div class="_cOption"
             data-tooltip="{{localize 'common.combat'}}"
             data-id="combat">
            <div class="_backImg"></div>
        </div>             
    </div>    
</div>
--}}