<div class="_actorMenuWrap">
    <div class="_actorMenuBackground"></div>
    <nav class="tabs_ActorMenu _actorMenu" data-group="groupActorMenu">

        <a data-tab="main"
           data-group="groupActorMenu">
            
           <div class="_empty"></div>
        </a>

        <a data-tab="actor" class="_linkToContent" 
           data-group="groupActorMenu">

            <div class="_actorMenuButton"
                data-target="actor">
                <div class="_imgButton"></div>
                <div class="_textButton _whiteBorder ">
                    {{localize 'common.menuCharacter'}}
                </div>
            </div>
        </a>

        <a data-tab="skills" class="_linkToContent" 
           data-group="groupActorMenu">

            <div class="_actorMenuButton"
                data-target="skills">
                <div class="_imgButton"></div>
                <div class="_textButton _whiteBorder ">
                    {{localize 'common.menuSkills'}}
                </div>
            </div>
        </a>

        <a data-tab="equipment" class="_linkToContent"
           data-group="groupActorMenu">

            <div class="_actorMenuButton"
                data-target="equipment">
                <div class="_imgButton"></div>
                <div class="_textButton _whiteBorder ">
                    {{localize 'common.menuEquipment'}}
                </div>
            </div>
        </a>

        <a data-tab="magic" class="_linkToContent"
           data-group="groupActorMenu">

            <div class="_actorMenuButton"
                data-target="magic">
                <div class="_imgButton"></div>
                <div class="_textButton _whiteBorder ">
                    {{localize 'common.menuMagic'}}
                </div>
            </div>
        </a>
        
        <a data-tab="combat" class="_linkToContent" 
           data-group="groupActorMenu">

            <div class="_actorMenuButton"
                data-target="combat">
                <div class="_imgButton"></div>
                <div class="_textButton _whiteBorder ">
                    {{localize 'common.menuCombat'}}
                </div>
            </div> 
        </a>

        {{!-- 
        <a class="_linkToContent _complex0">
            <div class="_actorMenuButton"
                 data-id="{{systemData.control.view.portrait}}"
                 data-target="complex">
                <div class="_imgButton"></div>
            </div> 
        </a>   
        --}}
        
    </nav>
</div>