{{!-- HEALTH BAR --}}
<div class="hitsBar">
    <label class="_light _hitPointsLabel">{{localize 'characteristics.hits'}}</label>
    <input  {{locked}}
            data-tooltip="{{localize 'characteristics.hits'}}"
            id="pseudoHits"
            type="number" 
            value="{{systemData.secondaries.hits.value}}"
            min="{{systemData.secondaries.hits.min}}"
            max="{{systemData.secondaries.hits.max}}" />             
    <div class="_progressHealth">
        <progressHBar data-value="{{systemData.secondaries.hits.value}}"
                      data-min="{{systemData.secondaries.hits.min}}"
                      data-max="{{systemData.secondaries.hits.max}}"
                      data-label1="{{localize systemData.lifeStatus.s1.i18n}}"
                      data-point1="{{systemData.lifeStatus.s1.max}}"
                      data-label2="{{localize systemData.lifeStatus.s2.i18n}}"
                      data-point2="{{systemData.lifeStatus.s2.max}}"
                      data-label3="{{localize systemData.lifeStatus.s3.i18n}}"
                      data-point3="{{systemData.lifeStatus.s3.max}}"
                      data-label4="{{localize systemData.lifeStatus.s4.i18n}}"
                      data-point4="{{systemData.lifeStatus.s4.max}}"                          
                      data-backgroundColor="#c9c2b54f"
                      data-foreColor1="#e30b0b96"
                      data-foreColor2="#530d05b5">
        </progressHBar>
    </div>    
</div>


<div class="_pageWrap _equi _infoPage">

    <div class="_row _padded _extr _100">
        <label class="_text">{{localize 'common.name'}}:</label>
        <input class="_updater _text"
               type="text"
               data-path="name"
               data-control="input[name='name']"
               value="{{actor.name}}" />

        <input class="_femaleCBox"
               name="system.attributes.female" 
               id="cFemale"
               type="checkbox" 
               style="opacity: 0.6;"
               {{#if systemData.lockFemale}} disabled {{else}} {{locked}} {{/if}}
               {{checked systemData.attributes.female}} />                                    
        <label class="_text" for="cFemale">{{localize "common.female"}}</label>                  
    </div>

    <div class="_row _padded _extr _100">
        <label class="_text">{{localize 'common.height'}}:</label>
        <input class="_text"
               {{locked}}
               name="system.attributes.height" 
               type="number" 
               value="{{systemData.attributes.height}}" />    
        <label class="_light _marginRight">{{backLore.hUnit}}</label>  
        
        <label class="_text">{{localize 'common.weight'}}:</label>
        <input class="_text"
               {{locked}}
               name="system.attributes.weight" 
               type="number" 
               value="{{systemData.attributes.weight}}" />       
        <label class="_light _marginRight">{{backLore.wUnit}}</label>   
        
        <label class="_text">{{localize 'common.age'}}:</label>
        <input class="_text"
               {{locked}}
               name="system.attributes.age" 
               type="number" 
               value="{{systemData.attributes.age}}" />       
        <label class="_light _marginRight">{{localize 'common.years'}}</label>           
    </div>

    <div class="_row _padded _100">
        <label class="_text">{{localize 'common.rules'}}:</label>
        <select class="_text"
                name="system.control.rules"
                {{locked}}
                id="selectLoreRules">
                {{selectOptions backLore.rules 
                                selected=systemData.control.rules
                                localize=false
                                nameAttr="key"
                                labelAttr="name" }}
        </select>        
    </div>

    {{!-- Kingdom --}}
    <div class="_row _padded _100">

        <label class="_text">{{localize 'common.kingdom'}}:</label>
    
        {{#unless backLore.kingdom.noItem}}
        <img src="{{backLore.kingdom.item.img}}" class="_loreIcon" />
        {{/unless}}
    
        <a class="_frameButton" 
           data-action="showItem"
           data-itemid="{{backLore.kingdom.item._id}}">
           <label class="_lore">{{backLore.kingdom.label}}</label>
        </a>
        {{#unless backLore.kingdom.noItem}}  
            {{#unless (isLocked)}}
            <a class="_frameButton" 
                data-action="deleteLoreItem"
                data-itemid="{{backLore.kingdom.item._id}}">
                <button data-img="icons/delete.svg" 
                        data-icon="true"
                        data-big="true"
                        data-tooltip="{{localize 'common.deleteKingdom'}}"></button>
            </a>
            {{/unless}}
        {{else}}
            <a class="_frameButton" 
                data-action="addItemLore"
                data-target="loreKingdom">
                <button data-img="icons/add.svg" 
                        data-icon="true"
                        data-tooltip="{{localize 'common.addKingdom'}}"></button>
            </a>        
        {{/unless}}
    </div>

    {{!-- Nation --}}
    <div class="_row _padded _100">

        <label class="_text">{{localize 'common.origin'}}:</label>

        {{#unless backLore.nation.noItem}}
        <img src="{{backLore.nation.item.img}}" class="_loreIcon" />
        {{/unless}}
    
        <a class="_frameButton" 
           data-action="showItem"
           data-itemid="{{backLore.nation.item._id}}">
           <label class="_lore">{{backLore.nation.label}} 
                {{#unless backLore.nation.noItem}}({{backLore.society.label}}){{/unless}}</label>
        </a>    
        {{#unless backLore.nation.noItem}}
            {{#unless (isLocked)}}
            <a class="_frameButton" 
                data-action="deleteLoreItem"
                data-itemid="{{backLore.nation.item._id}}">
                <button data-img="icons/delete.svg" 
                        data-icon="true"
                        data-big="true"
                        data-tooltip="{{localize 'common.deleteNation'}}"></button>
            </a> 
            {{/unless}}
        {{else}}
            {{#unless backLore.kingdom.noItem}}
                <a class="_frameButton" 
                data-action="addItemLore"
                data-target="loreNation">
                <button data-img="icons/add.svg" 
                        data-icon="true"
                        data-tooltip="{{localize 'common.addNation'}}"></button>
                </a>
            {{/unless}}
        {{/unless}}         
    </div>

    {{!-- Stratum --}}
    <div class="_row _padded _100">

        <label class="_text">{{localize 'common.stratum'}}:</label>

        {{#unless backLore.stratum.noItem}}
        <img src="{{backLore.stratum.item.img}}" class="_loreIcon" />
        {{/unless}}    
    
        <a class="_frameButton" 
           data-action="showItem"
           data-itemid="{{backLore.stratum.item._id}}">
           <label class="_lore">{{backLore.stratum.label}}</label>
        </a> 
        {{#unless backLore.stratum.noItem}}   
            {{#unless (isLocked)}}    
            <a class="_frameButton" 
                data-action="deleteLoreItem"
                data-itemid="{{backLore.stratum.item._id}}">
                <button data-img="icons/delete.svg" 
                        data-icon="true"
                        data-big="true"
                        data-tooltip="{{localize 'common.deleteStratum'}}"></button>
            </a>  
            {{/unless}}   
        {{else}}
            {{#unless backLore.society.noItem}}
                <a class="_frameButton" 
                data-action="addItemLore"
                data-target="loreStratum">
                <button data-img="icons/add.svg" 
                        data-icon="true"
                        data-tooltip="{{localize 'common.addStratum'}}"></button>
                </a>
            {{/unless}}
        {{/unless}}
    </div>

    {{!-- Position --}}
    <div class="_row _padded _100">

        <label class="_text">{{localize 'common.position'}}:</label>    

        {{#unless backLore.position.noItem}}
        <img src="{{backLore.position.item.img}}" class="_loreIcon" />
        {{/unless}}
    
        <a class="_frameButton" 
           data-action="showItem"
           data-itemid="{{backLore.position.item._id}}">
           <label class="_lore">{{backLore.position.label}}</label>
        </a> 
        {{#unless backLore.position.noItem}}   
            {{#unless (isLocked)}}
            <a class="_frameButton" 
                data-action="deleteLoreItem"
                data-itemid="{{backLore.position.item._id}}">
                <button data-img="icons/delete.svg" 
                        data-icon="true"
                        data-big="true"
                        data-tooltip="{{localize 'common.deletePosition'}}"></button>
            </a>   
            {{/unless}}  
        {{else}}
            {{#unless backLore.stratum.noItem}}
                <a class="_frameButton" 
                data-action="addItemLore"
                data-target="lorePosition">
                <button data-img="icons/add.svg" 
                        data-icon="true"
                        data-tooltip="{{localize 'common.addPosition'}}"></button>
                </a>
            {{/unless}}
        {{/unless}}             
    </div>

    {{!-- Patern Profession --}}
    <div class="_row _padded _100">

        <label class="_text">{{localize 'common.paternProfession'}}:</label>    

        {{#unless backLore.paternProfession.noItem}}
        <img src="{{backLore.paternProfession.item.img}}" class="_loreIcon" />
        {{/unless}}
    
        <a class="_frameButton" 
           data-action="showItem"
           data-itemid="{{backLore.paternProfession.item._id}}">
           <label class="_lore">{{backLore.paternProfession.label}}</label>
        </a>    
        {{#unless backLore.paternProfession.noItem}}
            {{#unless (isLocked)}}
            <a class="_frameButton" 
                data-action="deleteLoreItem"
                data-itemid="{{backLore.paternProfession.item._id}}">
                <button data-img="icons/delete.svg" 
                        data-icon="true"
                        data-big="true"
                        data-tooltip="{{localize 'common.deleteProfession'}}"></button>
            </a> 
            {{/unless}}             
        {{else}}
            {{#unless backLore.position.noItem}}
                <a class="_frameButton" 
                data-action="addItemLore"
                data-target="lorePaternProfession">
                <button data-img="icons/add.svg" 
                        data-icon="true"
                        data-tooltip="{{localize 'common.addProfession'}}"></button>
                </a>
            {{/unless}}
        {{/unless}} 
    </div>

    {{!-- Profession --}}
    <div class="_row _padded _100">

        <label class="_text">{{localize 'common.profession'}}:</label>    

        {{#unless backLore.profession.noItem}}
        <img src="{{backLore.profession.item.img}}" class="_loreIcon" />
        {{/unless}}
    
        <a class="_frameButton" 
           data-action="showItem"
           data-itemid="{{backLore.profession.item._id}}">
           <label class="_lore">{{backLore.profession.label}}</label>
        </a>    
        {{#unless backLore.profession.noItem}}
            {{#unless (isLocked)}}
            <a class="_frameButton" 
                data-action="deleteLoreItem"
                data-itemid="{{backLore.profession.item._id}}">
                <button data-img="icons/delete.svg" 
                        data-icon="true"
                        data-big="true"
                        data-tooltip="{{localize 'common.deleteProfession'}}"></button>
            </a>
            {{/unless}}      
        {{else}}
            {{#unless backLore.position.noItem}}
                <a class="_frameButton" 
                data-action="addItemLore"
                data-target="loreProfession">
                <button data-img="icons/add.svg" 
                        data-icon="true"
                        data-tooltip="{{localize 'common.addProfession'}}"></button>
                </a>
            {{/unless}}
        {{/unless}}           
    </div>

    {{!-- Treats && Sequels --}}
    <div class="_footer">
        <div class="_row _v100">
            
            {{!-- Traits --}}
            <div class="_column _50 _v100 _relative">

                <div class="_row _100 _header">
                    <label class="_title">{{localize 'common.traits'}}</label>
                    <div class="_traitStats">
                        <label class="_pride">{{backTraitsStats.pride}}</label>
                        <label class="_shame">{{backTraitsStats.shame}}</label>
                    </div>
                    {{#unless backLore.position.noItem}}
                        <a class="_frameButton" 
                            data-action="addItemLore"
                            data-target="trait">
                            <button data-img="icons/add.svg" 
                                    data-icon="true"
                                    data-tooltip="{{localize 'common.addTrait'}}"></button>
                        </a>
                    {{/unless}}
                </div>

                <div class="_list _100 _v100">
                    {{#each backTraits as |entry index|}}
                        <div class="_row _trait _clickItem _100"
                             data-id="{{entry.item._id}}">
                            <img src="{{entry.item.img}}" />
                            <label class="_name"
                                   style="background: linear-gradient(230deg, transparent, {{entry.color}}, transparent);">{{entry.name}}</label>
                        </div>
                    {{/each}}
                </div>
            </div>

            {{!-- Sequels --}}
            <div class="_colum _50 _v100 _relative">
                <label class="_title">{{localize 'common.sequels'}}</label>
                <div class="_list _100">
                    {{#each backSequels as |entry index|}}
                        <div class="_row _trait _clickItem _100"
                             data-id="{{entry._id}}">
                            <img src="{{entry.img}}" />
                            <label class="_name">{{entry.name}}</label>
                        </div>
                    {{/each}}
                </div>                
            </div>            
        </div>
    </div>

</div>