<div class="_frameWrap tabs_CombatContent">

    {{!-- MY COMBAT --}}
    <section class="tab" data-group="combatMenu" data-tab="myCombat">
        <div class="_tabWrap _myCombat">
            {{>actorCombatFrameMyCombat}}
        </div>
    </section>

    {{!-- COMBAT --}}
    <section class="tab" data-group="combatMenu" data-tab="combat">
        <div class="_tabWrap">
            {{>actorCombatFrameCombat}}
        </div>
    </section>

    {{!-- ENCOUNTER --}}
    <section class="tab" data-group="combatMenu" data-tab="encounter">
        <div class="_tabWrap">
            {{>actorCombatFrameEncounter}}
        </div>
    </section>    

    {{!-- COMBATANT --}}
    <section class="tab" data-group="combatMenu" data-tab="combatant">
        <div class="_tabWrap">
            {{>actorCombatFrameCombatant}}
        </div>
    </section>

    {{!-- SUMMARY --}}
    <section class="tab" data-group="combatMenu" data-tab="summary">
        <div class="_tabWrap">
            {{>actorCombatFrameSummary}}
        </div>
    </section>    

</div>

