<div class="_main {{#if isEditable}}_editable{{/if}}">
    <div class="_sheetContent">
        {{>item_descripcion}}
    </div>
    <div class="_sheetFooter">
        {{>item_footer}}
    </div>    
</div>