<form class="_action _golden" 
      autocomplete="off"
      style="z-index:1">

      {{!-- HEADER --}}
      <div class="_itemHeader _100">
            <img src="{{item.img}}" 
                  data-edit="img" 
                  title="{{item.name}}"/>

            <div class="_itemSubHeader">
                  <input class="_title"
                        type="text" 
                        name="name" 
                        value="{{item.name}}" 
                        placeholder=""/>

                  <div class="_itemSubHeaderBox">
                        <formField class="_100">
                              <input name="system.type.attack" 
                                     type="checkbox"
                                     id="chAttack" 
                                     {{checked systemData.type.attack}} />                                    
                              <label for="chAttack">{{localize "common.attack"}}</label>
                              <input name="system.type.defense" 
                                     type="checkbox" 
                                     id="chDefense"
                                     {{checked systemData.type.defense}} /> 
                              <label for="chDefense">{{localize "common.defense"}}</label>
                              <input name="system.type.movement" 
                                     type="checkbox" 
                                     id="chMovement"
                                     {{checked systemData.type.movement}} /> 
                              <label for="chMovement">{{localize "common.movement"}}</label>                                          
                              <input name="system.type.fencing" 
                                     type="checkbox"
                                     id="chFencing" 
                                     {{checked systemData.type.fencing}} />
                              <label for="chFencing">{{localize "common.fencing"}}</label>
                        </formField>
                        <formField class="_100">
                              <label>{{localize "common.tags"}}</label>
                              <input type="text" 
                                     name="system.control.tags" 
                                     value="{{systemData.control.tags}}"  />                               
                        </formField>
                        {{#if isGM}}       
                        <formField class="_100">
                              <label>{{localize "common.rules"}}</label>
                              <select name="system.control.rules">
                                    {{selectOptions backend.rules 
                                                selected=systemData.control.rules
                                                localize=false
                                                nameAttr="key"
                                                labelAttr="name" }}
                              </select> 
                              <input name="system.basic" 
                                     type="checkbox"
                                     id="chBasic" 
                                     {{checked systemData.basic}} />  
                              <label for="chBasic">{{localize "common.basic"}}</label>                                
                        </formField>                                          
                        <formField class="_100">
                              <label>{{localize "common.key"}}</label>
                              <input class="_key"
                                    type="text" 
                                    name="system.control.key" 
                                    value="{{systemData.control.key}}" 
                                    placeholder=""
                                    style="max-width: 190px"/> 
                              {{#if systemData.control.repeated}}
                              <warning>{{localize 'info.keyRepeated'}}</warning>                                    
                              {{/if}}                             
                        </formField>                                                
                        {{/if}}
                  </div>
            </div>
      </div>

      {{!-- TAB HEADER --}}
      <nav class="itemTabsBar" data-group="primary-tabs">
            
            <a data-tab="main" data-group="primary-tabs">
                  <label class="_tabButton">{{localize 'common.main'}}</label></a>                   
            <a data-tab="roll" data-group="primary-tabs">
                  <label class="_tabButton">{{localize 'common.roll'}}</label></a>  
            <a data-tab="weapons" data-group="primary-tabs">
                  <label class="_tabButton">{{localize 'common.weapons'}}</label></a>                                           
            <a data-tab="modifiers" data-group="primary-tabs">
                  <label class="_tabButton">{{localize 'common.modifiers'}}</label></a>   
            <a data-tab="damage" data-group="primary-tabs">
                  <label class="_tabButton">{{localize 'common.damage'}}</label></a>
            <a data-tab="defense" data-group="primary-tabs">
                  <label class="_tabButton">{{localize 'common.defense'}}</label></a>                  
            <a data-tab="fencing" data-group="primary-tabs">
                  <label class="_tabButton">{{localize 'common.fencing'}}</label></a>                   
            <a data-tab="description" data-group="primary-tabs">
                  <label class="_tabButton">{{localize 'common.description'}}</label></a>                                                                    
      </nav>

      {{!-- SECTIONS --}}
      <div class="itemTabsContent">

            {{!-- MAIN --}}
            <section class="tab" data-group="primary-tabs" data-tab="main">
                  {{>actionMain}}
            </section>

            {{!-- ROLL --}}
            <section class="tab" data-group="primary-tabs" data-tab="roll">
                  {{>actionRoll}}
            </section>

            {{!-- WEAPONS --}}
            <section class="tab" data-group="primary-tabs" data-tab="weapons">
                  {{>actionWeapons}}
            </section>            

            {{!-- MODIFIERS --}}
            <section class="tab" data-group="primary-tabs" data-tab="modifiers">
                  {{>actionModifiers}}
            </section>            

            {{!-- DAMAGE --}}
            <section class="tab" data-group="primary-tabs" data-tab="damage">
                  {{>actionDamage}}
            </section>

            {{!-- DEFENSE --}}
            <section class="tab" data-group="primary-tabs" data-tab="defense">
                  {{>actionDefense}}
            </section>            

            {{!-- FENCING --}}
            <section class="tab" data-group="primary-tabs" data-tab="fencing">
                  {{>actionFencing}}
            </section>

            {{!-- DESCRIPTION --}}
            <section class="tab" data-group="primary-tabs" data-tab="description">
                  {{>actionDescription}}
            </section>            

      </div>
</form>