<form class="codex" 
      autocomplete="off">

    {{!-- FRAME --}}
    {{> itemFrame }}
    
    {{!-- HEADER --}}
    <itemHeader class="_chrome">
             
        {{!-- Image --}}
        <itemImage>
            <img src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        </itemImage>

        {{!-- Header Info --}}
        <itemHeaderInfo>
            <itemTitle>
                <input type="text" name="name" value="{{item.name}}" placeholder=""/>
            </itemTitle>
            <itemSubHeader>
                <hbox class="_subHeaderHBox">
                    <label>{{localize "common.world" }}</label>
                    <select name="system.control.world">
                        {{selectOptions backend.worlds 
                                        selected=systemData.control.world
                                        localize=false
                                        nameAttr="id"
                                        labelAttr="name" }}
                    </select>
                </hbox>
                <hbox class="_100">
                    <nav class="sheet-tabs itemTabsHeader" data-group="primary">
                        <a data-tab="type">{{ localize "common.type" }}</a>
                        <a data-tab="steps">{{ localize "common.steps" }}</a>
                        <a data-tab="item">{{ localize "common.item" }}</a>
                        <a data-tab="target">{{ localize "common.targets" }}</a>
                        <a data-tab="skill">{{ localize "common.skill" }}</a>
                        <a data-tab="damage">{{ localize "common.damage" }}</a>
                        <a data-tab="armor">{{ localize "common.armor" }}</a>
                        <a data-tab="location">{{ localize "common.location" }}</a>
                        <a data-tab="consume">{{ localize "common.consume" }}</a>
                        <a data-tab="rolls">{{ localize "common.rolls" }}</a>
                        <a data-tab="states">{{ localize "common.states" }}</a>
                        <a data-tab="description">{{ localize "common.description" }}</a>
                    </nav>
                </hbox>              
            </itemSubHeader>

            {{!-- CONTENT --}}
            <itemContent>
        
                <div class="frameContent">
                    <section class="sheet-body">
                        {{> itemExtendAction }}

                        <div class="tab description" data-group="primary" data-tab="description">
                            {{> itemDescription }}
                        </div>                
                    </section>
                </div>
        
            </itemContent>            

        </itemHeaderInfo>

    </itemHeader> 
    
</form>