      <form class="codex" 
      autocomplete="off">

      <div class="_actionPool">
         <ul class="_combatants">
         {{#each combat.combatants as |combatant id|}}
            <li class="_combatant" data-combatId="{{../combatId}}" 
                                   data-actorId="{{combatant.actorId}}">
                <img class="_actor" src="{{combatant.img}}">
                <h2 class="_combName">{{combatant.name}}</h2>
            </li>
         {{/each}}
         </ul>

         <ul class="_steps" data-encounterId="{{encounterId}}">
         {{#each systemData.steps as |step id|}}        
               <li class="_step {{#if step.consumed}}_consumed{{/if}}"
                  data-actorId="{{step.actor}}"
                  data-actionId="{{step.action}}"
                  data-consumed="{{step.consumed}}">
                  <div class="_actor">
                     <img src="{{getActorProperty step.actor 'img'}}" />
                     <h3>{{getActorProperty step.actor 'name'}}</h3>
                  </div>
                  <div class="_encounter">
                     <h3>{{getActorItemProperty step.actor step.action 'name'}}</h3>
                     <a class="_verb tooltip"
                        data-actionId="{{step.action}}" 
                        data-actorId="{{step.actor}}" 
                        data-verb="show">                  
                        <img src="{{getActorItemProperty step.actor step.action 'img'}}" />
                     </a>
                  </div>
                  <div class="_actionsBox">                 
                     {{#if ../imMaster}}
                     <a class="_verb actionIcon tooltip" 
                           data-actionId="{{step.action}}" 
                           data-actorId="{{step.actor}}" 
                           data-verb="delete">
                        <img class="imgAction" src="systems/conventum/image/texture/destroy.png" />
                        <span class="tooltiptext">{{localize "info.deleteAction"}}</span>
                     </a>

                        {{#if step.consumed}}
                        <a class="_verb actionIcon tooltip" 
                              data-actionId="{{step.action}}" 
                              data-actorId="{{step.actor}}" 
                              data-verb="react">
                           <img class="imgAction react" src="systems/conventum/image/texture/react.png" />
                           <span class="tooltiptext">{{localize "info.reactAction"}}</span>
                        </a>                              

                        {{else}}                
                        <a class="_verb actionIcon tooltip" 
                              data-actionId="{{step.action}}" 
                              data-actorId="{{step.actor}}" 
                              data-verb="consume">
                           <img class="imgAction consume" src="systems/conventum/image/texture/consume.png" />
                           <span class="tooltiptext">{{localize "info.consumeAction"}}</span>
                        </a>

                        {{/if}}
                     {{/if}}
               </div>
               </li>
         {{/each}}
         </ul>
      </div>
</form>