<form class="_armor _golden" 
      autocomplete="off"
      style="z-index:1">

      {{!-- HEADER --}}
      <div class="_itemHeader _100">
            <img src="{{item.img}}" 
                  data-edit="img" 
                  title="{{item.name}}"/>

            <div class="_itemSubHeader">
                  <input class="_title"
                        type="text" 
                        name="name" 
                        value="{{item.name}}" 
                        placeholder=""/>

                  <div class="_itemSubHeaderBox">
                  {{#if isGM}}
                        <formField class="_100">
                              <label class="_15">{{localize "common.type"}}</label>
                              <select class="_35"
                                  name="system.type">
                                  {{selectOptions backend.armors.armorTypes 
                                                  selected=systemData.type
                                                  localize=false
                                                  nameAttr="key"
                                                  labelAttr="label" }}
                              </select>  
                              <label class="_15" style="padding-left: 5px">{{localize "common.actorType"}}</label>
                              <select class="_35"
                                  name="system.actorType">
                                  {{selectOptions backend.actorTypes 
                                                  selected=systemData.actorType
                                                  localize=false
                                                  nameAttr="key"
                                                  labelAttr="label" }}
                              </select>                                                           
                        </formField>
                        <formField class="_100">
                              <label>{{localize "common.protection"}}</label>
                              <input name="system.protection" 
                                     class="_smallNumber"
                                     type="number" 
                                     value="{{systemData.protection}}" /> / 
                              <input name="system.proInitial" 
                                     class="_smallNumber"
                                     type="number" 
                                     value="{{systemData.proInitial}}" />

                              <label>{{localize "common.endurance"}}</label>
                              <input name="system.endurance" 
                                     class="_smallNumber"
                                     type="number" 
                                     value="{{systemData.endurance}}" /> / 
                              <input name="system.endInitial" 
                                     class="_smallNumber"
                                     type="number" 
                                     value="{{systemData.endInitial}}" />                              
                        </formField>
                  {{/if}}
                  </div>
            </div>
      </div>

      {{!-- TAB HEADER --}}
      <nav class="itemTabsBar" data-group="primary-tabs">
            {{#if isGM}}
            <a data-tab="main" data-group="primary-tabs">
                  <label class="_tabButton">{{localize 'common.main'}}</label></a>                   
            {{/if}}
            <a data-tab="description" data-group="primary-tabs">
                  <label class="_tabButton">{{localize 'common.description'}}</label></a>                                                                    
      </nav>

      {{!-- SECTIONS --}}
      <div class="itemTabsContent">

            {{!-- MAIN --}}
            <section class="tab" data-group="primary-tabs" data-tab="main">
                  {{>armorMain}}
            </section>

            {{!-- DESCRIPTION --}}
            <section class="tab" data-group="primary-tabs" data-tab="description">
                  {{>armorDescription}}
            </section>            

      </div>
</form>