<form class="_book _golden" 
      autocomplete="off"
      style="z-index:1">

      {{!-- HEADER --}}
      <div class="_itemHeader _100">
            <img src="{{item.img}}" 
                  data-edit="img" 
                  title="{{item.name}}"/>                  
            <div class="_itemSubHeader">
                  <input class="_title"
                        type="text" 
                        name="name" 
                        {{locked}}
                        value="{{item.name}}" 
                        placeholder=""/>
                  <div class="_itemSubHeaderBox">

                        <formField class="_100">
                              <label>{{localize "common.author"}}</label>
                              <input name="system.author" 
                                    class="_large"
                                    type="text" 
                                    value="{{systemData.author}}" />                                    
                        </formField>
                        <formField class="_100">
                              <label>{{localize "common.language"}}</label>
                              <select name="system.language">
                                    {{selectOptions backend.languages 
                                                selected=systemData.language
                                                localize=false
                                                nameAttr="controlKey"
                                                labelAttr="name" }}
                              </select>                               
                              <label>{{localize 'common.teach'}}</label>
                              <input name="system.teach" 
                                     class="_number"
                                     type="number" 
                                     value="{{systemData.teach}}" />  
                              <label>%</label>
                        </formField>
                  </div>
                  
                  {{>itemHeader}}
            </div>
      </div>

      {{!-- TAB HEADER --}}
      <nav class="itemTabsBar" data-group="primary-tabs">
            <a data-tab="spells" data-group="primary-tabs">
                  <label class="_tabButton">{{localize 'common.spells'}}</label></a>   
            <a data-tab="description" data-group="primary-tabs">
                  <label class="_tabButton">{{localize 'common.description'}}</label></a>                                 
      </nav>

      {{!-- SECTIONS --}}
      <div class="itemTabsContent">

            {{!-- SPELLS --}}
            <section class="tab" data-group="primary-tabs" data-tab="spells">
                  <formSection class="_100">
                        <formBlock class="_100">
                              <formField class="_100">
                                    <select id="spellSelector">
                                          {{#each backend.spells as |item index|}}
                                          <option data-pack="{{item.pack}}"
                                                  value="{{item.id}}">{{item.name}}</option>
                                          {{/each}}
                                    </select>   
                                    <a class="addSpell"><button>{{localize 'common.addSpell'}}</button></a>
                              </formField>
                        </formBlock>
                        <formBlock class="_kirei _100 _bookSpells">
                        {{#each bookSpells as |spell index|}}
                              <formField class="_100">
                                    <div class="_combo">
                                          <label class="_title">{{spell.name}}</label>
                                    </div>
                                    <div class="_utils">
                                          <a class="_frameButton _big delete"
                                              data-id="{{spell.id}}"
                                              data-tooltip="{{localize 'common.delete'}}">
                                              <img src="{{../assetsPath}}/icons/delete.svg" />
                                          </a>
                                    </div>                                    
                              </formField>
                        {{/each}}
                        </formBlock>
                  </formSection>
            </section>

            {{!-- DESCRIPTION --}}
            <section class="tab" data-group="primary-tabs" data-tab="description">
                  {{editor 
                        systemData.description
                        target="system.description" 
                        button=true 
                        engine="prosemirror"
                        owner=owner
                        rollData=rollData
                        editable=isGM}}    
            </section>
      </div>

</form>