<form class="codex" 
      autocomplete="off">

    {{!-- FRAME --}}
    {{> itemFrame }}
    
    {{!-- HEADER --}}
    <itemHeader>
             
        {{!-- Filigrees --}}
        <inkDetail class="inkCorner"></inkDetail>
        <inkDetail class="inkSubline"></inkDetail>

        {{!-- Image --}}
        <itemImage>
            <img src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        </itemImage>

        {{!-- Header Info --}}
        <itemHeaderInfo>
            <itemTitle>
                <input type="text" name="name" value="{{item.name}}" placeholder=""/>
            </itemTitle>
            <itemSubHeader>
                <hbox class="_subHeaderHBox">
                    <label>{{localize "common.world" }}</label>
                    <select name="system.control.world">
                        {{selectOptions backend.worlds 
                                        selected=systemData.control.world
                                        localize=false
                                        nameAttr="id"
                                        labelAttr="name" }}
                    </select>
                </hbox>
                <hbox class="_subHeaderHBox">
                    <label>{{localize "common.society" }}</label>
                    <select name="system.backend.society">
                        {{selectOptions backend.societies 
                                        selected=systemData.backend.society
                                        localize=false
                                        nameAttr="id"
                                        labelAttr="name" }}
                    </select>
                </hbox> 
                <hbox class="_100">
                    <nav class="sheet-tabs itemTabsHeader" data-group="primary">
                        <a data-tab="main">{{ localize "common.description" }}</a>
                        <a data-tab="languages">{{ localize "common.languages" }}</a>
                    </nav>
                </hbox>              
            </itemSubHeader>
        </itemHeaderInfo>
    </itemHeader> 
    
    {{!-- CONTENT --}}
    <itemContent>

        <div class="frameContent">
            <section class="sheet-body">
                <div class="tab description" data-group="primary" data-tab="description">
                    {{> itemDescription }}
                </div>
                <div class="tab languages" data-group="primary" data-tab="languages">
                    {{> itemLanguages }}
                </div>                
            </section>
        </div>

        
    </itemContent>
    
</form>