<form class="codex"
      style="background: url({{frameUrl}}/paper.png)"
      autocomplete="off">

    {{> humanFrame }}
    {{> humanCrest }}
     
    <div class="frameContent">
      <section class="sheet-body">

        {{> humanPageMain }}
        {{> humanPageBio }}
        {{> humanPageSkills }}
        {{> humanPageCombat }}
        {{> humanPageArmor }}
        {{> humanPageItems }}

      </section>
    </div>

    {{#if actions.showPoster }}
      {{> humanPosterActions }}
    {{/if}}

    {{#if targets.showTargets }}
      {{> humanPosterTargets }}
    {{/if}}

    {{!-- QUICK BAR --}}
    {{#if systemData.quickBar }}
      {{> humanQuickBar }}
    {{/if}}
    
    {{!-- Hiddens ---}}
    <input name="system.quickBar"
           value="{{systemData.quickBar}}" 
           type="hidden" /> 
    <input name="system.quickBarPosition.x"
           value="{{systemData.quickBarPosition.x}}" 
           type="hidden" />   
    <input name="system.quickBarPosition.y"
           value="{{systemData.quickBarPosition.y}}" 
           type="hidden" />                    
    <input name="system.quickBarPosition.sheetX"
           value="{{systemData.quickBarPosition.sheetX}}" 
           type="hidden" />  
    <input name="system.quickBarPosition.sheetY"
           value="{{systemData.quickBarPosition.sheetY}}"
           type="hidden" />            
</form>