<form class="codex" 
      autocomplete="off">

    {{!-- FRAME --}}
    {{> itemFrame }}
    
    {{!-- HEADER --}}
    <itemHeader>
             
        {{!-- Filigrees --}}
        <inkDetail class="inkCorner"></inkDetail>
        <inkDetail class="inkSubline"></inkDetail>

        {{!-- Image --}}
        <itemImage>
            <img src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        </itemImage>

        {{!-- Header Info --}}
        <itemHeaderInfo>
            <itemTitle>
                <input type="text" name="name" value="{{item.name}}" placeholder=""/>
            </itemTitle>
            <itemSubHeader>
                <hbox class="_subHeaderHBox">
                    <label>{{localize "common.world" }}</label>
                    <select name="system.control.world">
                        {{selectOptions backend.worlds 
                                        selected=systemData.control.world
                                        localize=false
                                        nameAttr="id"
                                        labelAttr="name" }}
                    </select>
                </hbox>
                <hbox class="_subHeaderHBox">
                    <info data-id="info.range">i</info>
                    <label class="_50">{{localize "common.range" }}</label>
                    <hbox>
                        <input class="_30px" type="text" 
                            style="margin-right: 5px; text-align: center;"
                            name="system.range.low"
                            value="{{systemData.range.low}}"
                            data-dtype="Number" />
                        -
                        <input class="_30px" type="text" 
                            style="margin-left: 5px; text-align: center;"
                            name="system.range.high"
                            value="{{systemData.range.high}}"
                            data-dtype="Number" />
                    </hbox>
                </hbox>
                <hbox class="_100">
                    <nav class="sheet-tabs itemTabsHeader" data-group="primary">
                        <a data-tab="main">{{ localize "common.description" }}</a>
                        <a data-tab="cultures">{{ localize "common.culture" }}</a>
                    </nav>
                </hbox>                 
            </itemSubHeader>
        </itemHeaderInfo>
    </itemHeader> 
    
    {{!-- CONTENT --}}
    <itemContent>

        <div class="frameContent">
            <section class="sheet-body">
                <div class="tab description" data-group="primary" data-tab="description">
                    {{> itemDescription }}
                </div>
                <div class="tab cultures" data-group="primary" data-tab="cultures">
                    {{> itemExtendCultures }}
                </div>                
            </section>
        </div>        

    </itemContent>
    
{{!-- Molding ---}}
<input name="system.control.mold"
        value="{{systemData.control.mold}}" 
        type="hidden" />   

</form>