
      <formField class="_loreEntry _custoEntry">
            <label>{{localize "common.background"}}</label>
            <img class="_custoImg" 
                 src="{{systemData.custo.background}}" 
                 data-edit="system.custo.background" /> 
            <a class="_frameButton _deleteCusto" 
               data-edit="system.custo.background">
               <button>
                  <img src="{{assets}}icons/delete.svg">
               </button>
            </a>
      </formField>    
      <formField class="_loreEntry _custoEntry">
            <label>{{localize "common.frameH"}}</label>
            <img class="_custoImg" 
                 src="{{systemData.custo.frameH}}" 
                 data-edit="system.custo.frameH" /> 
            <a class="_frameButton _deleteCusto" 
               data-edit="system.custo.frameH">
               <button>
                  <img src="{{assets}}icons/delete.svg">
               </button>
            </a>                 
      </formField>      
      <formField class="_loreEntry _custoEntry">
            <label>{{localize "common.frameV"}}</label>
            <img class="_custoImg" 
                 src="{{systemData.custo.frameV}}" 
                 data-edit="system.custo.frameV" /> 
            <a class="_frameButton _deleteCusto" 
               data-edit="system.custo.frameV">
               <button>
                  <img src="{{assets}}icons/delete.svg">
               </button>
            </a>                 
      </formField>      
      <formField class="_loreEntry _custoEntry">
            <label>{{localize "common.frameQ"}}</label>
            <img class="_custoImg" 
                 src="{{systemData.custo.frameQ}}" 
                 data-edit="system.custo.frameQ" /> 
            <a class="_frameButton _deleteCusto" 
               data-edit="system.custo.frameQ">
               <button>
                  <img src="{{assets}}icons/delete.svg">
               </button>
            </a>                 
      </formField>      
      <formField class="_loreEntry _custoEntry">
            <label>{{localize "common.framePaper"}}</label>
            <img class="_custoImg" 
                 src="{{systemData.custo.paper}}" 
                 data-edit="system.custo.paper" /> 
            <a class="_frameButton _deleteCusto" 
               data-edit="system.custo.paper">
               <button>
                  <img src="{{assets}}icons/delete.svg">
               </button>
            </a>                 
      </formField>                     
