<form class="_loreKingdom _golden" 
      autocomplete="off"
      style="z-index:1">

      {{!-- HEADER --}}
      <div class="_itemHeader _100">
            <img src="{{item.img}}" 
                  class="{{#unless isGM}}_noGM{{/unless}}"
                  data-edit="img" 
                  title="{{item.name}}"/>                  
            <div class="_itemSubHeader">
                  <input class="_title {{#unless isGM}}_noGM{{/unless}}"
                        type="text" 
                        name="name" 
                        {{locked}}
                        value="{{item.name}}" 
                        placeholder=""/>
                  {{#if isGM}} 
                  <div class="_itemSubHeaderBox">                     
                        <formField class="_100">
                              <label>{{localize "common.rules"}}</label>
                              <select name="system.control.rules">
                                    {{selectOptions backend.rules 
                                                    selected=systemData.control.rules
                                                    localize=false
                                                    nameAttr="key"
                                                    labelAttr="name" }}
                              </select> 
                        </formField> 
                        <formField class="_100">
                              <label>{{localize "common.key"}}</label>
                              <input class="_key"
                                    type="text" 
                                    name="system.control.key" 
                                    value="{{systemData.control.key}}" 
                                    placeholder=""
                                    style="max-width: 190px"/> 
                              {{#if systemData.control.repeated}}
                              <warning>{{localize 'info.keyRepeated'}}</warning>                                    
                              {{/if}}
                        </formField>
                        <formField class="_100">
                              <label>{{localize "common.roll"}}</label>
                              <input class="_key"
                                     type="number" 
                                     name="system.roll.from" 
                                     value="{{systemData.roll.from}}" 
                                     placeholder=""
                                     style="max-width: 60px; margin-right: 10px; text-align: center;"/>                                         
                              <input class="_key"
                                     type="number" 
                                     name="system.roll.to" 
                                     value="{{systemData.roll.to}}" 
                                     placeholder=""
                                     style="max-width: 60px; text-align: center;"/>                                                             
                        </formField>                                      
                  </div>
                  {{/if}}
            </div>
      </div>

      {{!-- TAB HEADER --}}
      <nav class="itemTabsBar" data-group="primary-tabs">
            <a data-tab="description" data-group="primary-tabs">
                  <label class="_tabButton">{{localize 'common.description'}}</label></a>   
            {{#if isGM}}              
            <a data-tab="nations" data-group="primary-tabs">
                  <label class="_tabButton">{{localize 'common.nations'}}</label></a> 
            <a data-tab="custo" data-group="primary-tabs">
                  <label class="_tabButton">{{localize 'common.custo'}}</label></a>                                           
            {{/if}}
      </nav>

      {{!-- SECTIONS --}}
      <div class="itemTabsContent">

            {{!-- DESCRIPTION --}}
            <section class="tab" data-group="primary-tabs" data-tab="description">
                  {{editor 
                        systemData.description
                        target="system.description" 
                        button=true 
                        engine="prosemirror"
                        owner=owner
                        rollData=rollData
                        editable=isGM}}
            </section>

            {{!-- NATIONS --}}
            <section class="tab" data-group="primary-tabs" data-tab="nations">

                  <formField class="_loreEntry">
                        <label>{{localize "common.nation"}}</label>
                        <select class="_selector"
                                data-target="kingdom"
                                data-addon="nation">
                              {{selectOptions backend.nations 
                                              localize=false
                                              nameAttr="controlKey"
                                              labelAttr="name" }}
                        </select>
                        <label>{{localize "common.roll"}}</label>
                        <input class="_selectRollFrom"
                               type="number" 
                               placeholder=""
                               style="max-width: 60px; margin-right: 10px; text-align: center;"/>
                        <input class="_selectRollTo"
                               type="number" 
                               placeholder=""
                               style="max-width: 60px; text-align: center;"/>                         
                        <a class="loreAdd _iconButton"
                           data-target="nation"
                           data-properties='["rollFrom", "rollTo"]'
                           role="button" data-tooltip="{{localize 'common.add'}}">
                           <i class="fa-plus"></i>
                        </a> 
                  </formField>

                  <ol class="_loreRows">
                        <li class="_loreRow _header">
                              <label class="_70">{{localize 'common.nation'}}</label>
                              <label class="_10 _center">{{localize 'common.rollFrom'}}</label>
                              <label class="_10 _center">{{localize 'common.rollTo'}}</label>
                              <label class="_10"></label>
                        </li>

                        {{#each systemData.nations as |entry index|}}
                        <li class="_loreRow">
                              <label class="_70">{{loreText entry.key ../backend.nations}}</label>
                              <label class="_10 _center">{{entry.rollFrom}}</label>
                              <label class="_10 _center">{{entry.rollTo}}</label>
                              <combo class="_10 _actions">
                                    <a class="loreDelete _iconButton"
                                       data-target="nation"
                                       data-key="{{entry.key}}"
                                       role="button" 
                                       data-tooltip="{{localize 'common.delete'}}">
                                       <i class="fas fa-trash fa-fw"></i>
                                    </a>                                    
                              </combo>
                        </li>
                        {{/each}}
                  </ol>

            </section>

            {{!-- CUSTO --}}
            <section class="tab" data-group="primary-tabs" data-tab="custo">
                  {{>loreCusto}}            
            </section>

      </div>
</form>