<form class="codex" 
      autocomplete="off">

    {{!-- FRAME --}}
    {{> itemFrame }}
    
    {{!-- HEADER --}}
    <itemHeader class="_chrome">
        <itemHeaderInfo>
            <itemTitle>
                <input type="text" name="name" value="{{item.name}}" placeholder=""/>
            </itemTitle>
            <itemSubHeader>
                <hbox class="_subHeaderHBox">
                    <label>{{localize "common.world" }}</label>
                    <select name="system.control.world">
                        {{selectOptions backend.worlds 
                                        selected=systemData.control.world
                                        localize=false
                                        nameAttr="id"
                                        labelAttr="name" }}
                    </select>
                </hbox>                                                                     
            </itemSubHeader>
        </itemHeaderInfo>
    </itemHeader> 
    
    {{!-- CONTENT --}}
    <itemContent>
        <hbox class="_100">
            <nav class="sheet-tabs itemTabsHeader" data-group="primary">
                <a data-tab="main">{{ localize "common.mode" }}</a>
                <a data-tab="item">{{ localize "common.item" }}</a>
                <a data-tab="skill">{{ localize "common.skill" }}</a>
                <a data-tab="combat">{{ localize "common.combat" }}</a>
                <a data-tab="location">{{ localize "common.location" }}</a>
                <a data-tab="description">{{ localize "common.description" }}</a>
            </nav>
        </hbox>   
        <div class="frameContent">
            <section class="sheet-body">
                {{> itemExtendMode }}                
            </section>
        </div>

    </itemContent>
    
{{!-- Molding ---}}
<input name="system.control.mold"
        value="{{systemData.control.mold}}" 
        type="hidden" />   

</form>