<form class="codex" 
      autocomplete="off">

    {{!-- FRAME --}}
    {{> itemFrame }}
    
    {{!-- HEADER --}}
    <itemHeader class="_chrome">
        <itemHeaderInfo>
            <itemTitle>
                <input type="text" name="name" value="{{item.name}}" placeholder=""/>
            </itemTitle>
            <itemSubHeader>
                <hbox class="_subHeaderHBox">
                    <label>{{localize "common.world" }}</label>
                    <select name="system.control.world">
                        {{selectOptions backend.worlds 
                                        selected=systemData.control.world
                                        localize=false
                                        nameAttr="id"
                                        labelAttr="name" }}
                    </select>
                </hbox>            
            </itemSubHeader>
        </itemHeaderInfo>
    </itemHeader> 
    
    {{!-- CONTENT --}}
    <itemContent>

        <hbox class="_100">
            <nav class="sheet-tabs itemTabsHeader" data-group="primary">
                <a data-tab="main">{{ localize "common.ritual" }}</a>
                <a data-tab="ceremony">{{ localize "common.ceremony" }}</a>
                <a data-tab="effects">{{ localize "common.effects" }}</a>
                <a data-tab="damage">{{ localize "common.damage" }}</a>
                <a data-tab="description">{{ localize "common.description" }}</a>
            </nav>
        </hbox>  

        <div class="frameContent">
            <section class="sheet-body">
                {{> itemExtendRitual }}

                {{!--- DESCRIPTION & IMAGE ---}}
                <div class="tab description" data-group="primary" data-tab="description">
                <slidePanel class="_100">
                    <panelContent>
                        <itemImage>
                            <img src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
                        </itemImage>                                    
                        {{> itemDescription }}
                    </panelContent>
                </slidePanel>
                </div>                
            </section>
        </div>

    </itemContent>  

{{!-- Molding ---}}
<input name="system.control.mold"
        value="{{systemData.control.mold}}" 
        type="hidden" />   

</form>