<form class="_skill _golden" 
      autocomplete="off"
      style="z-index:1">

      {{!-- HEADER --}}
      <div class="_itemHeader _100">
            <img src="{{item.img}}" 
                  data-edit="img" 
                  title="{{item.name}}"/>                  
            <div class="_itemSubHeader">
                  <input class="_title"
                        type="text" 
                        name="name" 
                        value="{{item.name}}" 
                        placeholder=""/>
                  <div class="_itemSubHeaderBox">                         
                        <formField class="_100">
                              <label>{{localize "common.characteristic"}}</label>
                              <select name="system.extend.characteristic">
                                    {{selectOptions backend.characteristics 
                                                      selected=systemData.extend.characteristic
                                                      localize=false
                                                      nameAttr="id"
                                                      labelAttr="name" }}
                              </select>                                    
                        </formField> 

                        {{#if isGM}}                      
                        <formField class="_100">
                              <label>{{localize "common.parentSkill"}}</label>
                              <select name="system.extend.parent">
                                    {{selectOptions backend.parentSkills 
                                                      selected=systemData.extend.parent
                                                      localize=false
                                                      nameAttr="key"
                                                      labelAttr="name" }}
                              </select>                                   
                        </formField> 
                        <formField class="_100">
                              <label>{{localize "common.key"}}</label>
                              <input class="_key"
                                    type="text" 
                                    name="system.control.key" 
                                    value="{{systemData.control.key}}" 
                                    placeholder=""
                                    style="max-width: 190px"/> 
                              {{#if systemData.control.repeated}}
                              <warning>{{localize 'info.keyRepeated'}}</warning>                                    
                              {{/if}}
                        </formField>                                                
                        {{/if}}
                  </div>
            </div>
      </div>

      {{!-- CHECKED --}}
      {{!--
      <formField class="_100 _rightAlign">
            <label class="_whiteBorderHard">{{localize "common.checked"}}</label>
            <input type="checkbox" 
                        data-tooltip="{{localize 'info.skillChecked'}}"
                        name="system.checked" 
                        {{checked systemData.checked}}
                        class="_itemStat _whiteBorderHard" />            
      </formField>
      --}}

      {{#if fromActor}}
      <formField class="_100" style="justify-content: flex-end;">
            <a class="_frameButton _deleteItem">
                  <button>
                  <img src="{{assets}}icons/delete.svg">
                  <label>{{localize 'common.delete'}}</label>
                  </button>
            </a>
      </formField>
      {{/if}}

      {{!-- TAB HEADER --}}
      <nav class="itemTabsBar" data-group="primary-tabs">
            <a data-tab="description" data-group="primary-tabs">
                  <label class="_tabButton">{{localize 'common.description'}}</label></a> 
            {{#if fromActor}}
            <a data-tab="penals" data-group="primary-tabs">
                  <label class="_tabButton">{{localize 'common.penalizations'}}</label></a> 
            {{/if}}
            <a data-tab="properties" data-group="primary-tabs">
                  <label class="_tabButton">{{localize 'common.properties'}}</label></a>                   
            <a data-tab="custo" data-group="primary-tabs">
                  <label class="_tabButton">{{localize 'common.custo'}}</label></a>
      </nav>

      {{!-- SECTIONS --}}
      <div class="itemTabsContent">

            {{!-- DESCRIPTION --}}
            <section class="tab" data-group="primary-tabs" data-tab="description">
                  {{editor 
                        systemData.description
                        target="system.description" 
                        button=true 
                        engine="prosemirror"
                        owner=owner
                        rollData=rollData
                        editable=editable }}
            </section>

            {{!-- PENALIZATIONS --}}
            <section class="tab" data-group="primary-tabs" data-tab="penals">

            </section>

            {{!-- PROPERTIES --}}
            <section class="tab" data-group="primary-tabs" data-tab="properties">
                  <formSection class="_100">
                        <formColumn class="_50">
                              <formBlock class="_100">
                                    <formTitle class="_100">{{localize 'common.basic'}}</formTitle>
                                    {{#each backend.rules  as |rule sId|}}
                                    <formField class="_100">
                                          <input name="system.basic.{{rule.key}}.initial" 
                                                      type="checkbox"
                                                      id="chInitial_{{rule.key}}" 
                                                      {{extendChecked 'systemData.basic' rule.key 'initial'}} />
                                          <label for="chInitial_{{rule.key}}">{{rule.name}}</label>
                                    </formField>
                                    {{/each}}
                              </formBlock>
                        </formColumn>
                        <formColumn class="_50">
                              <formBlock class="_100">
                                    <formTitle class="_100">{{localize 'common.properties'}}</formTitle>
                                    <formField class="_100">
                                          <input name="system.extend.combat" 
                                                id="chCombat" 
                                                type="checkbox" 
                                                {{checked systemData.extend.combat}} />  
                                          <label for="chCombat">{{localize "common.combat"}}</label>
                                    </formField>
                                    <formField class="_100">
                                          <input name="system.extend.language" 
                                                id="chLanguage" 
                                                type="checkbox" 
                                                {{checked systemData.extend.language}} />
                                          <label for="chLanguage">{{localize "common.language"}}</label>
                                    </formField>
                                    {{#if isGM}}
                                    <formField class="_100">                                    
                                          <input name="system.extend.onlyGroup" 
                                                id="chOnlyGroup" 
                                                type="checkbox" 
                                                {{checked systemData.extend.onlyGroup}} />
                                          <label for="chOnlyGroup">{{localize "common.onlyGroup"}}</label>
                                    </formField>
                                    {{/if}}
                              </formBlock>   
                        </formColumn>                  
                  </formSection>
            </section>


            {{!-- CUSTO --}}
            <section class="tab" data-group="primary-tabs" data-tab="custo">
                  <formSection class="_100">
                        <formBlock>
                              <formTitle class="_100">{{localize 'common.smog'}}</formTitle>
                              <formField class="_100">
                                    <label>{{localize "common.fogColor"}}</label>
                                    <input class="_20"
                                            name="system.custo.fogColor" 
                                            type="text"
                                            value="{{systemData.custo.fogColor}}"  />   
                              </formField>
                              <formField class="_100">
                                    <label>{{localize "common.fogSpeed"}}</label>
                                    <input class="_20"
                                            name="system.custo.fogSpeed" 
                                            type="text"
                                            value="{{systemData.custo.fogSpeed}}"  />   
                              </formField>                                                            
                        </formBlock>
                  </formSection>
            </section>

      </div>

</form>