<form class="_weapon _golden" 
      autocomplete="off"
      style="z-index:1">

      {{!-- HEADER --}}
      <div class="_itemHeader _100">
            <img src="{{item.img}}" 
                  data-edit="img" 
                  title="{{item.name}}"/>

            <div class="_itemSubHeader">
                  <input class="_title"
                        type="text" 
                        name="name" 
                        value="{{item.name}}" 
                        placeholder=""/>

                  <div class="_itemSubHeaderBox">
                  {{#if isGM}}
                        <formField class="_100">
                              <input name="system.contact" 
                                     type="checkbox"
                                     id="chContact" 
                                     {{checked systemData.contact}} />                                    
                              <label for="chContact">{{localize "common.wContact"}}</label>
                              <input name="system.rangearm" 
                                     type="checkbox"
                                     id="chRangearm" 
                                     {{checked systemData.rangearm}} />                                    
                              <label for="chRangearm">{{localize "common.wRangearm"}}</label>
                              <input name="system.firearm" 
                                     type="checkbox"
                                     id="chFirearm" 
                                     {{checked systemData.firearm}} />                                    
                              <label for="chFirearm">{{localize "common.wFirearm"}}</label>
                        </formField>
                        <formField class="_100">
                            <input name="system.throwarm" 
                                    type="checkbox"
                                    id="chThrowarm" 
                                    {{checked systemData.throwarm}} />                                    
                            <label for="chThrowarm">{{localize "common.wThrowarm"}}</label>
                            <input name="system.shield" 
                                    type="checkbox"
                                    id="chShield" 
                                    {{checked systemData.shield}} />                                    
                            <label for="chShield">{{localize "common.shield"}}</label>                           
                            <input name="system.twoHands" 
                                    type="checkbox"
                                    id="chTwoHands" 
                                    {{checked systemData.twoHands}} />                                    
                            <label for="chTwoHands">{{localize "common.twoHands"}}</label>                            
                        </formField>
                        <formField class="_100">
                            <input name="system.secondary" 
                                    type="checkbox"
                                    id="chSecondary" 
                                    {{checked systemData.secondary}} />                                    
                            <label for="chSecondary">{{localize "common.wSecondary"}}</label> 
                        </formField>
                  {{/if}}
                  </div>

                  {{>itemHeader}}
            </div>
      </div>

      {{!-- TAB HEADER --}}
      <nav class="itemTabsBar" data-group="primary-tabs">
            {{#if isGM}}
            <a data-tab="main" data-group="primary-tabs">
                  <label class="_tabButton">{{localize 'common.main'}}</label></a>              
            <a data-tab="context" data-group="primary-tabs">
                  <label class="_tabButton">{{localize 'common.context'}}</label></a>     
            <a data-tab="shield" data-group="primary-tabs">
                  <label class="_tabButton">{{localize 'common.shield'}}</label></a>
            {{/if}}                                                  
            <a data-tab="description" data-group="primary-tabs">
                  <label class="_tabButton">{{localize 'common.description'}}</label></a>
      </nav>

      {{!-- SECTIONS --}}
      <div class="itemTabsContent">

            {{!-- MAIN --}}
            <section class="tab" data-group="primary-tabs" data-tab="main">
                  {{>weaponMain}}
            </section>

            {{!-- CONTEXT --}}
            <section class="tab" data-group="primary-tabs" data-tab="context">
                  {{>weaponContext}}
            </section>            

            {{!-- SHIELD --}}
            <section class="tab" data-group="primary-tabs" data-tab="shield">
                  {{>weaponShields}}
            </section>  

            {{!-- DESCRIPTION --}}
            <section class="tab" data-group="primary-tabs" data-tab="description">
                  {{>weaponDescription}}
            </section>            

      </div>
</form>