<form class="codex" 
      autocomplete="off">

    {{!-- FRAME --}}
    {{> itemFrame }}
    
    {{!-- HEADER --}}
    <itemHeader class="_chrome">
        <itemHeaderInfo>
            <itemTitle>
                <input type="text" name="name" value="{{item.name}}" placeholder=""/>
            </itemTitle>
            <itemSubHeader>
                <hbox class="_subHeaderHBox">
                    <label>{{localize "common.world" }}</label>
                    <select name="system.control.world">
                        {{selectOptions backend.worlds 
                                        selected=systemData.control.world
                                        localize=false
                                        nameAttr="id"
                                        labelAttr="name" }}
                    </select>
                </hbox>           
            </itemSubHeader>
        </itemHeaderInfo> 
    </itemHeader> 

    {{!-- CONTENT --}}
    <itemContent>
        <hbox class="_100">
            <nav class="sheet-tabs itemTabsHeader" data-group="primary">
                <a data-tab="main">{{ localize "common.weapon" }}</a>
                <a data-tab="requirement">{{ localize "common.weaponRequirements" }}</a>
                <a data-tab="damage">{{ localize "common.damage" }}</a>
                <a data-tab="range">{{ localize "common.weaponRange" }}</a>
                <a data-tab="shield">{{ localize "common.shield" }}</a>
                <a data-tab="rangeLocation">{{ localize "common.rangeLocation" }}</a>
                <a data-tab="penal">{{ localize "common.modificators" }}</a>
                <a data-tab="description">{{ localize "common.description" }}</a>
            </nav>
        </hbox>           
        <div class="frameContent">
            <section class="sheet-body">
                {{> itemExtendWeapon }}              
            </section>
        </div>

    </itemContent>            

    
{{!-- Molding ---}}
<input name="system.control.mold"
        value="{{systemData.control.mold}}" 
        type="hidden" />   

</form>