<div class="_magicCells">
    {{#each backMagic.template.rows as |row index|}}
    <div class="_rowCells">
        {{#each row.cells as |cell index|}}
        <div class="_columnCells {{#if cell.double}}_double{{/if}}">
            <div class="_cell {{cell.class}} {{#unless cell.showPrepare}}_busy{{/unless}}">
                {{#if cell.showPrepare}}
                    <img class="_backImg" style="background-image: url({{cell.img}})"/>
                    <a class="_frameButton"
                       data-action="prepareSpell"
                       data-cell="{{cell.index}}"
                       data-shape="{{cell.type}}">
                       <label class="_prepareTxt">{{cell.prepareTxt}}</label>
                    </a>
                {{else}}
                    <a class="_frameButton _selectSpell"
                       data-action="selectSpell"
                       data-cell="{{cell.index}}"
                       data-shape="{{cell.type}}"
                       data-itemid="{{cell.spell._id}}">

                        <img class="_backImg _hex" style="background-image: url({{cell.spell.img}})"/>
                        <label class="_whiteBorderHard _spellTitle">{{cell.spell.name}}</label>
                        <div class="_preparation">
                            {{#if cell.inPreparation}}
                                {{#if cell.finish}}
                                    <label>{{localize 'common.complete'}}</label>                        
                                {{else}}
                                    <label>{{cell.properties.prepValue}} / {{cell.properties.prepTime}}
                                        {{localize cell.properties.prepUnit}}</label>                        
                                    <input type="range" 
                                        name="system.magic.template.{{cell.index}}.prepValue"
                                        min="0" 
                                        max="{{cell.properties.prepTime}}" 
                                        value="{{extendValue 'system.magic.template' cell.index 'prepValue'}}" 
                                        class="slider _aqSlider">                                          
                                {{/if}} 
                            {{/if}}                     
                        </div>
                    </a>
                {{/if}}

            </div>
        </div>
        {{/each}}
    </div>
    {{/each}}
</div>