<div class="_upperMenu _menuFrame">
    <nav class="tabs_ListMagicMenu" data-group="magicListMenu">
        <a class="_menuOption" data-tab="list" data-group="magicListMenu">
            <label>{{localize 'common.myGrimoire'}}</label>
        </a>         
        <a class="_menuOption" data-tab="books" data-group="magicListMenu">
            <label>{{localize 'common.grimoires'}}</label>
        </a>                                          
    </nav>
</div>
<div class="_frameMyCombat tabs_ListMagicContent">
    {{!-- LIST --}}
    <section class="tab" data-group="magicListMenu" data-tab="list">
        <div class="_tabWrap">
            {{>actorMagicList}}
        </div>
    </section>    

    {{!-- BOOKS --}}
    <section class="tab" data-group="magicListMenu" data-tab="books">
        <div class="_tabWrap">
            {{>actorMagicBooks}}
        </div>
    </section>
</div>