<formSection class="_100">
    <formColumn class="_50">    
        <formBlock>
            <formField class="_100">
                <input name="system.weapon.noWeapons" 
                    id="chNoWeapons"
                    type="checkbox" 
                    {{checked systemData.weapon.noWeapons}} />                                    
                <label for="chNoWeapons">{{localize "common.noWeapons"}}</label>
            </formField>            
        </formBlock>
        <formBlock>
            <formTitle class="_100">{{localize 'common.weaponBySize'}}</formTitle>
            <formField class="_100">
                <input name="system.weapon.bySize1" 
                    id="chBySize"
                    type="checkbox" 
                    {{checked systemData.weapon.bySize1}} />                                    
                <label for="chBySize">{{localize "common.restricBySize1"}}</label>                 
            </formField>
            <formField class="_100 _grid" style="padding-left: 50px;">
            {{#each backend.weapons.weaponSizes as |size index|}}      
                <div class="_combo">
                    <input name="system.weapon.sizes1.{{size.key}}.check" 
                        id="chSize{{size.key}}"
                        type="checkbox" 
                        {{extendChecked 'system.weapon.sizes1' size.key 'check'}} />                                    
                    <label for="chSize{{size.key}}">{{size.label}}</label>                 
                </div>
            {{/each}}
            </formField>
            <formField class="_100">
                <input name="system.weapon.bySize2" 
                    id="chBySize2"
                    type="checkbox" 
                    {{checked systemData.weapon.bySize2}} />                                    
                <label for="chBySize2">{{localize "common.restricBySize2"}}</label>                 
            </formField>
            <formField class="_100 _grid" style="padding-left: 50px;">
            {{#each backend.weapons.weaponSizes as |size index|}}      
                <div class="_combo">
                    <input name="system.weapon.sizes2.{{size.key}}.check" 
                        id="chSize2{{size.key}}"
                        type="checkbox" 
                        {{extendChecked 'system.weapon.sizes2' size.key 'check'}} />                                    
                    <label for="chSize2{{size.key}}">{{size.label}}</label>                 
                </div>
            {{/each}}
            </formField>            
        </formBlock>
    </formColumn>  
    <formColumn class="_50">
        <formBlock>
            <formField class="_100">
                <input name="system.weapon.bothWeapons" 
                    id="chBothWeapons"
                    type="checkbox" 
                    {{checked systemData.weapon.bothWeapons}} />                                    
                <label for="chBothWeapons">{{localize "common.bothWeapons"}}</label>
            </formField>
            <formField class="_100">
                <input name="system.weapon.priorShields" 
                    id="chPriorShields"
                    type="checkbox" 
                    {{checked systemData.weapon.priorShields}} />                                    
                <label for="chPriorShields">{{localize "common.priorShields"}}</label>
            </formField>  
            <formField class="_100">
                <input name="system.weapon.onlyRangeWeapons" 
                    id="chOnlyRangeWeapons"
                    type="checkbox" 
                    {{checked systemData.weapon.onlyRangeWeapons}} />                                    
                <label for="chOnlyRangeWeapons">{{localize "common.onlyRangeWeapons"}}</label>
            </formField>                      
        </formBlock>         
        <formBlock>
            <formTitle class="_100">{{localize 'common.weaponInUse'}}</formTitle>
            <formField class="_100">
                <input name="system.roll.twoHands.useLower" 
                    id="chRollUseLower"
                    type="checkbox" 
                    class="_rollOption2"
                    {{checked systemData.roll.twoHands.useLower}} />                                    
                <label for="chRollUseLower">{{localize "common.useLower"}}</label>   
            </formField>    
            <formField class="_100">
                <input name="system.roll.twoHands.usePrimary" 
                    id="chRollUsePrimary"
                    type="checkbox" 
                    class="_rollOption2"
                    {{checked systemData.roll.twoHands.usePrimary}} />                                    
                <label for="chRollUsePrimary">{{localize "common.usePrimary"}}</label>   
            </formField>   
            <formField class="_100">
                <input name="system.roll.twoHands.useSecondary" 
                    id="chRollUseSecondary"
                    type="checkbox" 
                    class="_rollOption2"
                    {{checked systemData.roll.twoHands.useSecondary}} />                                    
                <label for="chRollUseSecondary">{{localize "common.useSecondary"}}</label>   
            </formField> 
            <formField class="_100">
                <input name="system.roll.twoHands.useShield" 
                    id="chRollUseShield"
                    type="checkbox" 
                    class="_rollOption2"
                    {{checked systemData.roll.twoHands.useShield}} />                                    
                <label for="chRollUseShield">{{localize "common.useShield"}}</label>   
            </formField>   
            <formField class="_100">
                <input name="system.roll.twoHands.usePenalLower" 
                    id="chRollUsePenalLower"
                    type="checkbox" 
                    {{checked systemData.roll.twoHands.usePenalLower}} />                                    
                <label for="chRollUsePenalLower">{{localize "common.usePenalLower"}}</label>   
            </formField>                                                              
        </formBlock>          
    </formColumn>  

</formSection>