<formSection class="_100">
    <formColumn class="_50">
        <formBlock style="min-height: 300px">
            <formTitle class="_100">{{localize 'common.requirements'}}</formTitle>
            {{editor 
                systemData.requirements
                target="system.requirements" 
                button=true 
                engine="prosemirror"
                owner=owner
                rollData=rollData
                editable=editable }}
        </formBlock>
    </formColumn>
    <formColumn class="_50">
        <formBlock style="min-height: 300px">
            <formTitle class="_100">{{localize 'common.abstract'}}</formTitle>
            {{editor 
                systemData.abstract
                target="system.abstract" 
                button=true 
                engine="prosemirror"
                owner=owner
                rollData=rollData
                editable=editable }}            
        </formBlock>
    </formColumn>
    <formColumn class="_100">
        <formBlock style="min-height: 300px">
            <formTitle class="_100">{{localize 'common.description'}}</formTitle>
            {{editor 
                systemData.description
                target="system.description" 
                button=true 
                engine="prosemirror"
                owner=owner
                rollData=rollData
                editable=editable }}
        </formBlock>
    </formColumn>  
</formSection>