<formSection class="_100">
    <formColumn class="_50">
        <formBlock>
            <formField class="_100">
                <input name="system.weapon.damage.damageBon" 
                    id="chDamageBon"
                    type="checkbox" 
                    {{checked systemData.weapon.damage.damageBon}} />                                    
                <label for="chDamageBon">{{localize "common.letDamageBon"}}</label>
            </formField>
            <formField class="_100">
                <input name="system.weapon.damage.noArmor" 
                    id="chNoArmor"
                    type="checkbox" 
                    {{checked systemData.weapon.damage.noArmor}} />                                    
                <label for="chNoArmor">{{localize "common.noArmor"}}</label>
            </formField>
        </formBlock>
        <formBlock>
            <formTitle class="_100">{{localize 'common.modifiers'}}</formTitle>
            <formField class="_100">
                <label class="_50">{{localize "common.damageMod"}}</label>
                <input class="_50"
                        name="system.weapon.damage.mod" 
                        type="text" 
                        value="{{systemData.weapon.damage.mod}}"  /> 
            </formField> 
            <formField class="_100">
                <label class="_50">{{localize "common.damageMult"}}</label>
                <input class="_50"
                        name="system.weapon.damage.mult" 
                        type="text" 
                        value="{{systemData.weapon.damage.mult}}"  /> 
            </formField> 
            <formField class="_100">
                <input name="system.weapon.damage.applyPostRoll" 
                    id="chApplyPostRoll"
                    type="checkbox" 
                    {{checked systemData.weapon.damage.applyPostRoll}} />                                    
                <label for="chApplyPostRoll">{{localize "common.applyPostRoll"}}</label>
            </formField> 
        </formBlock>
        <formBlock>                       
            <formField class="_100">
                <label class="_50">{{localize "common.dbLevelMod"}}</label>
                <input class="_50"
                       name="system.weapon.damage.dbLevel" 
                       type="text" 
                       value="{{systemData.weapon.damage.dbLevel}}"  /> 
            </formField>                                                
        </formBlock>
    </formColumn>
    <formColumn class="_50">
        <formBlock>
            <formField class="_100">
                <input name="system.weapon.damage.noDamage" 
                    id="chNoDamage"
                    type="checkbox" 
                    {{checked systemData.weapon.damage.noDamage}} />                                    
                <label for="chNoDamage">{{localize "common.noDamage"}}</label>
            </formField>
            <formField class="_100">
                <input name="system.weapon.damage.bothWeapons" 
                    id="chBothWeapons"
                    type="checkbox" 
                    {{checked systemData.weapon.damage.bothWeapons}} />                                    
                <label for="chBothWeapons">{{localize "common.bothWeaponsDamage"}}</label>
            </formField>  
            <formField class="_100">
                <input name="system.weapon.damage.toShield" 
                    id="chToShield"
                    type="checkbox" 
                    {{checked systemData.weapon.damage.toShield}} />                                    
                <label for="chToShield">{{localize "common.toShield"}}</label>
            </formField>       
            <formField class="_100">
                <input name="system.weapon.damage.criticalBrokeShield" 
                    id="chCriticalBrokeShield"
                    type="checkbox" 
                    {{checked systemData.weapon.damage.criticalBrokeShield}} />                                    
                <label for="chCriticalBrokeShield">{{localize "common.criticalBrokeShield"}}</label>
            </formField>                 
        </formBlock>
        <formBlock>
            <formField class="_100">
                <input name="system.weapon.damage.own" 
                    id="chOwnDamage"
                    type="checkbox" 
                    {{checked systemData.weapon.damage.own}} />                                    
                <label for="chOwnDamage">{{localize "common.ownDamage"}}</label>
            </formField>  
            <formField class="_100">
                <label class="_50">{{localize "common.damage"}}</label>
                <input class="_50"
                        {{#unless systemData.weapon.damage.own}}disabled{{/unless}}
                        name="system.weapon.damage.base" 
                        type="text" 
                        value="{{systemData.weapon.damage.base}}"  /> 
            </formField>
        </formBlock>
        <formBlock>  
            <formField class="_100">
                <label class="_50">{{localize "common.location"}}</label>
                <select class="_50" 
                    name="system.weapon.damage.location">
                    {{selectOptions backend.locations 
                                    selected=systemData.weapon.damage.location
                                    localize=false
                                    nameAttr="key"
                                    labelAttr="label" }}
                </select>
            </formField> 
            <formField class="_100">
                <label class="_50">{{localize "common.locationFormula"}}</label>
                <input class="_50"
                        name="system.weapon.damage.locationFormula" 
                        type="text" 
                        value="{{systemData.weapon.damage.locationFormula}}"  /> 
            </formField>                                           
        </formBlock>
    </formColumn>    
</formSection>