<formSection class="_100">

    <formColumn class="_50">
        <formBlock>
            <formTitle class="_100">{{localize 'common.requirements'}}</formTitle>
            <formField class="_100">
                <input name="system.flow.useTarget" 
                    id="chUseTarget"
                    type="checkbox" 
                    {{checked systemData.flow.useTarget}} />                                    
                <label for="chUseTarget">{{localize "common.useTarget"}}</label>   
            </formField>      
            <formField class="_100">
                <input name="system.flow.useWeapon" 
                    id="chUseWeapon"
                    type="checkbox" 
                    {{checked systemData.flow.useWeapon}} />
                <label for="chUseWeapon">{{localize "common.useWeapon"}}</label>
            </formField>      
            <formField class="_100">
                <input name="system.flow.useRoll" 
                    id="chUseRoll"
                    type="checkbox" 
                    {{checked systemData.flow.useRoll}} />
                <label for="chUseRoll">{{localize "common.useRoll"}}</label>
            </formField>      
            <formField class="_100">
                <input name="system.flow.useOppoRoll" 
                    id="chUseOppo"
                    type="checkbox" 
                    {{checked systemData.flow.useOppoRoll}} />
                <label for="chUseOppo">{{localize "common.useOppoRoll"}}</label>
            </formField>      
            <formField class="_100">
                <input name="system.flow.useDamage" 
                    id="chUseDamage"
                    type="checkbox" 
                    {{checked systemData.flow.useDamage}} />
                <label for="chUseDamage">{{localize "common.useDamage"}}</label>                    
            </formField>
        </formBlock>
        <formBlock>
            <formField class="_100">
                <label class="_50">{{localize "common.modInitiative"}}</label>
                <input class="_50"
                        name="system.initiative" 
                        type="text" 
                        value="{{systemData.initiative}}"  /> 
            </formField> 
            <formField class="_100">
                <input name="system.noInitiativePenals" 
                    id="chNoInitPen"
                    type="checkbox" 
                    {{checked systemData.noInitiativePenals}} />
                <label for="chNoInitPen">{{localize "common.noInitiativePenals"}}</label>                    
            </formField>                
        </formBlock>          
    </formColumn>

    <formColumn class="_50">
        <formBlock>
            <formField class="_100">
                <div class="_50 _row">
                    <input name="system.flow.extend" 
                        id="chExtend"
                        type="checkbox" 
                        {{checked systemData.flow.extend}} />
                    <label for="chExtend">{{localize "common.extendAction"}}</label>
                </div>
                <div class="_50 _row">
                    <label>{{localize "common.steps"}}</label>
                    <input class="_20"
                            name="system.flow.steps" 
                            type="number" 
                            value="{{systemData.flow.steps}}"  /> 
                </div>
            </formField>            
        </formBlock> 
        <formBlock>
            <formField class="_100">
                <label class="_50">{{localize "common.distance"}}</label>
                <input class="_50"
                        name="system.movement.distance" 
                        type="text" 
                        value="{{systemData.movement.distance}}"  /> 
            </formField>   
        </formBlock>     

        <formBlock>   
            <formField class="_100">
                <label class="_60">{{localize "common.attackerMode"}}</label>
                <input name="system.modes.attacker" 
                    class="_40"
                    type="text" 
                    value="{{systemData.modes.attacker}}"  /> 
            </formField> 
            <formField class="_100">
                <label class="_60">{{localize "common.targetMode"}}</label>
                <input name="system.modes.target" 
                    class="_40"   
                    type="text" 
                    value="{{systemData.modes.target}}"  /> 
            </formField>          
        </formBlock>
        <formBlock>   
            <formField class="_100">
                <label class="_60">{{localize "common.attackerReqMode"}}</label>
                <input name="system.modes.reqAttacker" 
                    class="_40"
                    type="text" 
                    value="{{systemData.modes.reqAttacker}}"  /> 
            </formField> 
            <formField class="_100">
                <label class="_60">{{localize "common.targetReqMode"}}</label>
                <input name="system.modes.reqTarget" 
                    class="_40"   
                    type="text" 
                    value="{{systemData.modes.reqTarget}}"  /> 
            </formField>          
        </formBlock>       
        <formBlock>   
            <formField class="_100">
                <label class="_60">{{localize "common.attackerExitMode"}}</label>
                <input name="system.modes.exitAttacker" 
                    class="_40"
                    type="text" 
                    value="{{systemData.modes.exitAttacker}}"  /> 
            </formField> 
            <formField class="_100">
                <label class="_60">{{localize "common.targetExitMode"}}</label>
                <input name="system.modes.exitTarget" 
                    class="_40"   
                    type="text" 
                    value="{{systemData.modes.exitTarget}}"  /> 
            </formField>          
        </formBlock>          
    </formColumn>

</formSection>