/* --- WINDOW-APP --- */
.window-app {
    font-size: var(--custo-fontSizeM);
    line-height: calc(var(--custo-fontSizeM)* 1.2);
    font-family: var(--custo-font0);
    color: var(--custo-fontColor0);
    border: 4px solid var(--custo-borderDialog);
}
.window-app.sidebar-popout {
    font-size: var(--custo-fontSizeM)!important;
    line-height: calc(var(--custo-fontSizeM)* 1.2)!important;
    font-family: var(--custo-font0)!important;
    color: var(--custo-fontColor0)!important;
    border: 1px solid var(--custo-borderDialog)!important;
}
.window-app.sheet.actor {
    border: none;
}
.window-app .window-header {
    background: var(--custo-headerBackground);
}
.window-app aside.sidebar, 
.window-app form {
    font-size: var(--custo-fontSizeM);
    line-height: calc(var(--custo-fontSizeM)* 1.2);
    color: var(--custo-fontDialog);
}
.window-app aside.sidebar {
    border-right: 1px solid var(--custo-border);
}
.window-app .window-content input,
.window-app .window-content select {
    font-size: var(--custo-fontSizeM);
    line-height: calc(var(--custo-fontSizeM)* 1.2);
    color: var(--custo-fontColor0);
    border: 1px solid var(--custo-border);
    border-radius: 0;
}
.window-app select option {
    background: var(--custo-inputBackground);
    color: var(--custo-fontColor0);
    border-radius: 0;
}
.window-app button {
    background: var(--buttonBackground);
    font-size: var(--custo-fontSizeM);
    line-height: calc(var(--custo-fontSizeM)* 2);
    color: var(--custo-buttonColor);
    border: 1px solid var(--custo-buttonBorder);
    border-radius: 0;
    font-family: var(--custo-font0);
}
.window-app button:hover {
    background: var(--color-shadow-primary);
    color: var(--color-antiPrimary);
}
.window-app form .notes, 
.window-app form .hint {
    color: var(--custo-fontColor1);
    font-size: calc(var(--custo-fontSizeS)* 1.25);
    line-height: calc(var(--custo-fontSizeS)* 1.45);
}
.window-app range-picker input[type="range"] {
    border: none !important;
}
.window-app .standard-form .form-group > label {
    color: var(--custo-fontColor0);
}
.window-app .standard-form .form-group:hover > label {
    color: var(--custo-fontColor2);
}
.prosemirror menu .pm-dropdown {
    background: var(--custo-background);
}
.window-app .window-content h2 {
    color: var(--custo-fontColor0);
}
.window-app .window-content .notes,
.window-app .window-content #support-report {
    color: var(--custo-fontColor1);
}

.form-group input[type="text"], 
.form-group input[type="number"], 
.form-group input[type="date"], 
.form-group input[type="password"], 
.form-group input[type="time"], 
.form-group input[type="search"] {
    border: 1px solid var(--custo-inputDialogBack)!important;
    background: var(--custo-inputDialog)!important;
}
.form-group span.units,
.form-group.slim .form-fields > label {
    color: var(--custo-fontColor0)!important;
}
option, optgroup {
    background: var(--custo-buttonDialogBack);
    color: var(--custo-buttonDialogColor);
}
.form-group .form-fields button {
    background: var(--custo-buttonDialogBack);
    color: var(--custo-buttonDialogColor);
    border: 1px solid var(--custo-buttonDialogBorder);
    border-radius: 2px;
    font-family: "Font Awesome 6 Pro";
}
.filepicker .display-modes a.active {
    background: var(--color-shadow-primary);
    color: var(--custo-buttonDialogColor);
}
.filepicker .display-modes a,
.filepicker .favorites .path,
.form-group .form-fields input[type="file"] {
    background: var(--custo-buttonDialogBack);
    color: var(--custo-buttonDialogColor);    
    border-color: var(--custo-buttonDialogBorder);
    font-family: var(--custo-font0);
}


/* --- SPECIFICS --- */
.package-configuration {
    border: 1px solid var(--custo-border);
    border-radius: 0;
}
.package-configuration header {
    border-bottom: 1px solid var(--custo-border)!important;
}
.package-configuration header .window-title {
    justify-content: flex-start!important;
    font-size: calc(var(--custo-fontSizeL)* 0.75);
}
.package-configuration .window-resizable-handle {
    border-radius: 0;
    border-top: 1px solid var(--custo-border);
    border-left: 1px solid var(--custo-border);
    background: #f009;
}
.package-configuration .window-resizable-handle:hover {
    background: #f00;
}

#module-management .package-list .package-title, 
#module-management .package-list .package-metadata, 
#module-management .package-list .package-description {
    color: var(--custo-fontColor0);
    font-size: var(--custo-fontSizeM);
    line-height: calc(var(--custo-fontSizeM)* 1.25);
}
#support-details a.item {
    color: #FFF;
}

.dialog._spellInfo {
    min-width: 75%;
    left: 12%;
}

.dialogWeapon formdialog formheader,
.dialogSpells formdialog formheader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    padding: 0 0 0 30%;
}
.dialog formdialog formheader ._title {
    width: 75%;
}
.dialog formdialog formheader ._buttons {
    width: 25%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1%;
}
.dialog ._buttons button._openCompendium {
    width: auto;
}
.dialog button._openCompendium {
    width: 20%;
    margin-left: 20%;
    border: 1px solid #ffffff2e;
    margin: 4px;
}
.dialogWeapon {
    background: #000;
}
.dialogWeapon formDialog ._weaponDiagram {
    display: flex;
    width: 100%;
    min-height: 20%;
    height: 20%;
    position: relative;
    border: 1px solid #ffffff4f;
    margin-bottom: 2px;
    box-shadow: inset #ffffff21 0px 0px 13px 5px;
}
.dialogWeapon formDialog formitems._weapons {
    border: 1px solid #c6a8114f;
    margin-top: 4px;
    box-shadow: inset #0000009e 0px 0px 10px 3px;
}
.dialogWeapon formDialog ._weaponDiagram ._backImg {
    z-index: 0;
    background-size: contain;
}
.dialogWeapon formDialog ._weaponDiagram ._title,
.dialogWeapon formDialog ._weaponDiagram ._damage {
    z-index: 1;
}
.dialogWeapon formDialog ._weaponDiagram ._title {
    font-size: 30pt;
    line-height: 25pt;
    color: #ffffffc2;
}
.dialogWeapon formDialog ._weaponDiagram ._damage {
    font-size: 22pt;
    line-height: 20pt;
}
.dialogWeapon formDialog ._weaponDiagramWrap ._2Half {
    background: #d7bfd71f;
}
.dialogWeapon formDialog ._itemImg {
    mask-image: linear-gradient(90deg, black, transparent 85%);
    background-size: contain;
    opacity: 0.60;
}
.dialogWeapon formDialog formitem {
    box-shadow: inset #000000b3 0px 0px 13px 3px;
    border: 1px solid #b19c383d !important;
}
.dialogWeapon formDialog ._mainWeapon,
.dialogWeapon formDialog ._secondWeapon {
    color: #fbdb7ccf !important;
    text-shadow: 0 0 12px black;
}
.dialogWeapon formitems formitem:nth-child(even) {
    background: none;
}
.dialogWeapon formitems formitem:nth-child(odd) {
    background: #edd1d10f;
}


/* --- INTERFACE --- */
#interface #sidebar {
    /* font-size: var(--custo-fontSizeM); */
    /* line-height: calc(var(--custo-fontSizeM)* 1.25); */
    color: var(--custo-buttonColor);
    font-family: var(--custo-font0);
    border-left: 1px solid var(--custo-border);
    border-radius: 0;    
}
#interface input[type="search"] {
    font-size: var(--custo-fontSizeM);
    line-height: calc(var(--custo-fontSizeM)* 1.25);
    color: var(--custo-fontColor0);
    border-radius: 0;
    background: var(--custo-background);
}
#interface section.tab h2 {
    font-size: var(--custo-fontSizeM);
    line-height: calc(var(--custo-fontSizeM)* 1.25);
    color: var(--custo-buttonColor);
    border: 1px solid var(--custo-buttonBorder);
    border-radius: 0;
    font-family: var(--custo-font0);
    background: var(--custo-background);
}
#interface section.tab button {
    background: url(../assets/texture/tileLined01.png);
    background-repeat: repeat;
    background-size: 250px 250px;
    font-size: var(--custo-fontSizeM);
    line-height: calc(var(--custo-fontSizeM)* 2);
    color: var(--custo-buttonColor);
    border: 1px solid var(--custo-buttonBorder);
    border-radius: 0;
    font-family: var(--custo-font0);
}
#interface section.tab button:hover {
    background: var(--color-shadow-primary);
    color: var(--color-antiPrimary);
}
#interface section.tab .action-buttons button {
    line-height: var(--custo-fontSizeM);
    font-size: var(--custo-fontSizeM);
}
#interface section.tab .action-buttons button i {
    color: #b7919191;
}
#interface #sidebar ol.directory-list {
    padding-left: 4px;
    padding-top: 4px;
}
#interface #sidebar li.directory-item {
    padding: 4px 0 4px 0;
}
li.directory-item h4 {
    font-size: calc(var(--custo-fontSizeM)* 1.25);
}

.dialog,
._formDialog,
._sheetDialog {
    border-radius: 0px;
    border: 1px solid var(--custo-border);
    font-family: var(--custo-font0);
    z-index: 1000;
}
._formDialog {
    width: 33% !important;
    height: 90% !important;
}
._formDialog._formActions {
    width: 100% !important;
    height: 100% !important;
}
._formLore {
    width: 80% !important;
}
._formDialog._autoHeight {
    height: auto!important;
}

.dialog,
._formDialog header.window-header,
._sheetDialog header.window-header {
    justify-content: flex-end;
    border-bottom: 1px solid var(--custo-border);
}
._formDialog h4.window-title {
    display: none!important;
}
.dialog {
    border: 3px solid #ddb00a87;
}

.window-app section.window-content,
.dialog section.window-content,
._formDialog section.window-content,
._sheetDialog section.window-content  {
    background: url(../assets/texture/tileLined01.png);
    background-repeat: repeat;
    background-size: 250px 250px;
}
.window-app.sidebar-popout .window-content {
    background: url(../assets/texture/tileLined01.png)!important;
    background-repeat: repeat!important;
    background-size: 250px 250px!important;
    border: 10px solid #0000;
}

.dialog .dialog-content,
._formDialog .dialog-content,
._sheetDialog .dialog-content {
    color: #FFF;
    font-size: var(--custo-fontSizeM);
    line-height: calc(var(--custo-fontSizeM)* 1.2);    
}
._formDialog .dialog-content,
._sheetDialog .dialog-content {
    min-height: 92%;
    
}
._formDialog .dialog-content formdialog,
._sheetDialog .dialog-content formdialog {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.dialog._info .dialog-content {
    font-size: calc(var(--custo-fontSizeM)* 1.5);
    line-height: calc(var(--custo-fontSizeM)* 2);
    margin: 20px;
}

dialog .dialog-form button {
    color: #FFF;
}

formdialog formheader {
    width: 100%;
    margin-bottom: 6px;
    background-repeat: repeat;
    background-size: 500px 500px;
    padding: 3px;
    border-bottom: 1px solid var(--custo-border);
    border-top: 1px solid var(--custo-border);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: var(--custo-fontSizeL);
    line-height: calc(var(--custo-fontSizeL)* 1.2);
    font-weight: 900;
    border: 1px solid #c6a8114f;
    background: none;
    color: #c7b15a !important;
    text-transform: capitalize;
    text-shadow: rgb(0 0 0 / 40%) 1px 0px 0px, rgb(0 0 0 / 40%) 0.540302px 0.841471px 0px, rgb(0 0 0 / 40%) -0.416147px 0.909297px 0px, rgb(0 0 0 / 40%) -0.989992px 0.14112px 0px, rgb(0 0 0 / 40%) -0.653644px -0.756802px 0px, rgb(0 0 0 / 40%) 0.283662px -0.958924px 0px, rgb(0 0 0 / 40%) 0.96017px -0.279416px 0px!important;   
}

formdialog info {
    font-size: calc(var(--custo-fontSizeM)* 1.25);
    line-height: calc(var(--custo-fontSizeM)* 1.4);
    white-space: break-spaces;
    text-align: justify;
    position: absolute;
    padding: 40px;    
}

formdialog formelement {
    border: 1px solid var(--custo-border);
    display: flex;
    flex-direction: row;
}
formdialog formelement formfield {
    width: 100%;
}
formdialog formelement formfield input {
    border: 1px solid #ffffff36 !important;
    color: #FFF !important;
    background: #ffffff2e !important;
}
formdialog formfolders {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 4px;
    margin: 4px 0;
    border: 1px solid var(--custo-border);
}
formdialog formfolders formfolder {
    display: flex;
    align-content: center;
    align-items: center;
    border: 1px solid #c6a81185;
    padding: 3px 5px;
    margin-right: 4px;
    margin-bottom: 4px;
    background: #f6edb542;
}
formdialog formfolders formfolder label {
    font-size: calc(var(--custo-fontSizeM)* 1.5);
    line-height: calc(var(--custo-fontSizeM)* 1.5);
    font-weight: 100;
    color: #c7b15a;
    cursor: pointer;
    text-transform: capitalize;
    text-shadow: rgb(0 0 0 / 20%) 1px 0px 0px,
                 rgb(0 0 0 / 20%) 0.540302px 0.841471px 0px,
                 rgb(0 0 0 / 20%) -0.416147px 0.909297px 0px, 
                 rgb(0 0 0 / 20%) -0.989992px 0.14112px 0px,
                 rgb(0 0 0 / 20%) -0.653644px -0.756802px 0px,
                 rgb(0 0 0 / 20%) 0.283662px -0.958924px 0px,
                 rgb(0 0 0 / 20%) 0.96017px -0.279416px 0px;

}
formdialog formfolders formfolder input[type="checkbox"]:checked, 
formdialog formfolders formfolder input[type="radio"]:checked {
    accent-color: #e1b942!important;
}
formdialog formfolders._short formfolder {
    padding: 0 3px 0 0;
}
formdialog formfolders._short formfolder label {
    font-size: calc(var(--custo-fontSizeM)* 1);
    line-height: calc(var(--custo-fontSizeM)* 1);
    font-weight: 100;
}
formdialog formfolders._short input[type="checkbox"] {
    margin: 0 2px 0 0;
}

.dialog infotxt,
._formDialog infotxt,
._sheetDialog infotxt {
    color: #FFF;
    padding: 6px;
    font-size: var(--custo-fontSizeM);
    line-height: calc(var(--custo-fontSizeM)* 1.2);
    font-family: var(--custo-font0);
    border: 1px solid var(--custo-border);
    border-radius: 0;
}
formdialog formactors,
formdialog formitems {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}
formdialog formactors formactor,
formdialog formactors formactor row,
formdialog formitems formitem {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    border: 1px solid var(--custo-border);
    margin: 2px;
}
formdialog formitems formitem {
    padding: 4px;
}
formdialog formitems formitem._armored {
    border: 4px solid #efb921b5;
    padding: 0;
}
formdialog formactors formactor._rows {
    flex-direction: column;
}
formdialog row {
    width: 100%;
    border: 0 !important;
    margin: 0 !important;
}
formdialog formactors formactor img._portrait,
formdialog formitems formitem img._portrait {
    position: unset;
    border: 0px;
    padding: 0px;
    width: 12%;
    height: 100%;
    border-radius: 0;
    mask-image: linear-gradient(90deg, #FFF, #ffffff, #ffffff40, transparent);
}
formdialog formactors formactor label,
formdialog formitems formitem label {
    font-size: var(--custo-fontSizeL);
    line-height: calc(var(--custo-fontSizeL)* 1.2);
    margin-left: 10px;
    cursor: pointer;
    text-shadow: 0 0 20px #ff7600;
}
formdialog row label._title {
    width: 100%;
    text-align: center;
    border-top: 1px solid #FFF;
    margin: 0;
    padding: 5px;
    background: #ff00000f;
}
formitem ._itemContent label._title {
    color: #c7b15a !important;
    text-transform: capitalize;
    text-shadow: rgb(0 0 0 / 40%) 1px 0px 0px, rgb(0 0 0 / 40%) 0.540302px 0.841471px 0px, rgb(0 0 0 / 40%) -0.416147px 0.909297px 0px, rgb(0 0 0 / 40%) -0.989992px 0.14112px 0px, rgb(0 0 0 / 40%) -0.653644px -0.756802px 0px, rgb(0 0 0 / 40%) 0.283662px -0.958924px 0px, rgb(0 0 0 / 40%) 0.96017px -0.279416px 0px!important;
}

.dialog button.dialog-button,
._formDialog button.dialog-button,
._sheetDialog button.dialog-button {
    font-weight: 900;
    border-radius: 0;
    border: 1px solid #c6a81185;
    padding: 3px 5px;
    margin-bottom: 4px;
    background: #69623b73;
    font-size: calc(var(--custo-fontSizeM)* 1.5);
    line-height: calc(var(--custo-fontSizeM)* 1.5);
    color: #c7b15a !important;
    cursor: pointer;
    text-transform: capitalize;
    text-shadow: rgb(0 0 0 / 40%) 1px 0px 0px,
      rgb(0 0 0 / 40%) 0.540302px 0.841471px 0px,
      rgb(0 0 0 / 40%) -0.416147px 0.909297px 0px,
      rgb(0 0 0 / 40%) -0.989992px 0.14112px 0px,
      rgb(0 0 0 / 40%) -0.653644px -0.756802px 0px,
      rgb(0 0 0 / 40%) 0.283662px -0.958924px 0px,
      rgb(0 0 0 / 40%) 0.96017px -0.279416px 0px!important;
}
.dialog .dialog-buttons button.default {
    background: #f6edb5a8;
    border: 2px solid #ffffff;
}
._checkSelections button.dialog-button.select {
    display: none;
}

.dialog input[type="text"], ._sheetDialog input[type="text"], 
.dialog input[type="number"], ._sheetDialog input[type="number"],
.dialog input[type="password"], ._sheetDialog input[type="password"], 
.dialog input[type="date"], ._sheetDialog input[type="date"], 
.dialog input[type="time"], ._sheetDialog input[type="time"], 
.dialog input[type="search"], ._sheetDialog input[type="search"], 
.dialog select, ._sheetDialog select {
    color: #FFFFFF;
    background: #ffffff0f;    
    border-radius: 0;
    border: 1px solid #ffffff47;
    font-size: calc(var(--custo-fontSizeM)* 1.2);
    line-height: calc(var(--custo-fontSizeM)* 1.3);    
}
.dialog select option, 
.dialog select optgroup,
._sheetDialog select option, 
._sheetDialog select optgroup {
    font-family: inherit;
    background: #000000e8;
    border-radius: 0;
}

.dialog._formBig {
    width: 90% !important;
    height: 90% !important;
}
.dialog._noButtons .dialog-buttons {
    display: none;
}
.dialog formitem,
._sheetDialog formitem {
    width: calc(100% - 10px);
}
.dialog formitem ._itemImg,
._sheetDialog formitem ._itemImg {
    width: 25%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    mask-image: linear-gradient(90deg, transparent, #FFFFFF, transparent);
    margin-right: -6%;
}
.dialog formitem ._itemContent,
._sheetDialog formitem ._itemContent {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
}
.dialog formitem ._itemContent {
    box-shadow: inset -9px 0px 20px 0px #00000052;
    border-right: 1px solid #ffffff1a;
    height: 100%;
}    

.dialog formitem ._itemButtons,
._sheetDialog formitem ._itemButtons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 25%;
    padding-left: 5%;
    height: 100%;
    padding-bottom: 8px;
    background: linear-gradient(90deg, transparent, #ffffff3d, #ffe8a7);
}
.dialog formitem ._itemContent ._detail label,
._sheetDialog formitem ._itemContent ._detail label {
    font-size: calc(var(--custo-fontSizeM)* 1.2);
    line-height: calc(var(--custo-fontSizeM)* 1.2);
    margin-left: 0;
    cursor: inherit;
    color: #ffffffc2;
}
.dialog formitem ._itemContent ._detail label._field,
._sheetDialog formitem ._itemContent ._detail label._field {
    background: #ffffff21;
    padding: 3px 6px;
    border-radius: 2px;
    margin: 0px 10px;
    color: #FFF;
}
.dialog formitem ._itemContent ._detail ._properties,
._sheetDialog formitem ._itemContent ._detail ._properties {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
}
.dialog formitem ._itemContent ._detail ._properties span._prop,
._sheetDialog formitem ._itemContent ._detail ._properties span._prop {
    padding: 3px 7px;
    background: #653636;
    color: #efc2c2;
    margin: 0 6px;
    border-radius: 6px;
}
.dialog formitem ._itemContent ._detail ._properties ._penals,
._sheetDialog formitem ._itemContent ._detail ._properties ._penals {
    width: 100%;
    font-size: calc(var(--custo-fontSizeM)* 1.05);
    line-height: calc(var(--custo-fontSizeM)* 1.2);
    text-align: justify;
    color: #ffffffc4;
    margin: 5px;
    padding: 5px;
    background: #ff000014;
    border: 1px solid #ffffff2e;
}

.dialog formitem ._itemButtons a._frameButton,
._sheetDialog formitem ._itemButtons a._frameButton {
    height: calc(var(--custo-fontSizeL)* 2.1);
    width: 100%;
    margin: 7px 0 0 0;
}
.dialog formitem ._itemButtons a._frameButton button,
._sheetDialog formitem ._itemButtons a._frameButton button {
    height: 100%;
}
.dialog formitem ._itemButtons a._frameButton button label,
._sheetDialog formitem ._itemButtons a._frameButton button label{
    font-size: calc(var(--custo-fontSizeM)* 1.25);
    line-height: calc(var(--custo-fontSizeM)* 1.25);
    display: flex;
    justify-content: flex-start;
    text-align: left;    
}
.dialog formitem ._itemButtons a._frameButton button,
._sheetDialog formitem ._itemButtons a._frameButton button {
    height: 100%;
    width: calc(100% - 11px);
}

.dialog formitem._mainHand,
.dialog formitem._secondHand {
    background: #ffca0029!important;
}

._sheetDialog .window-resizable-handle {
    border-radius: 0!important;
    bottom: 0!important;
    border-top: 1px solid #ffffffad!important;
    border-left: 1px solid #ffffff9e!important;
    background: #ff000061!important;
}
._sheetDialog .window-resizable-handle:hover {
    filter: drop-shadow(0px 0px 8px #bc0e0e);
    background: #F00;
}

._sheetDialog label {
    color: #fffffff0;
    min-width: 51px;
}
._sheetDialog nav.itemTabsBar {
    font-size: calc(var(--custo-fontSizeM)* 1.3);
    line-height: calc(var(--custo-fontSizeM)* 1.3);
    height: auto;
    border-bottom: 1px solid #333;
    width: 100%;
    padding: 5pt;
    padding-top: 8pt;
    display: flex;
    flex-wrap: wrap;    
}
._sheetDialog nav.itemTabsBar ._tabButton {
    border: 1px solid #ffffff59;
    padding-left: 8pt;
    padding-right: 8pt;
    background: #000000;
    cursor: pointer;
    margin-left: 6px;
    margin-top: 6px;
    display: flex;
    height: calc(var(--custo-fontSizeM)* 1.7);
    align-content: center;
    justify-content: center;
    align-items: center;
}
._sheetDialog nav.itemTabsBar .active ._tabButton {
    background: #9b090959;
    font-weight: 900;
}
._sheetDialog input[type="checkbox"]:checked, 
._sheetDialog input[type="radio"]:checked {
    accent-color: #811e1e;
}
._sheetDialog input[type=checkbox][disabled] {
    outline: 2px solid black;
}
._sheetDialog .editor-content {
    height: 100%;
    overflow-y: auto;
    word-break: break-word;
    color: #ffe9e9;
    font-weight: 100;
    font-size: calc(var(--custo-fontSizeM)* 1.3);
    line-height: calc(var(--custo-fontSizeM)* 1.5);
}

/* LORE ITEMS */
formitem._loreFormItem {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 10px;
    opacity: 0.5;
    cursor: pointer;
}
formitem._loreFormItem:hover,
formitem._loreFormItem._selected {
    opacity: 1;
}

formitem._pride {
    background: #72879c;
}
formitem._shame {
    background: #ae6460;
}

formitem._loreFormItem ._descr {
    font-size: calc(var(--custo-fontSizeM)* 1.2);
    line-height: calc(var(--custo-fontSizeM)* 1.25);
    margin: 2% 2%;
    color: #ffffffb8;
    text-align: justify;
    text-justify: inter-word;    
    padding-top: 0;
    margin-top: 0;    
}
._formDialog._formLore .dialog-buttons button.select {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
._formDialog._formLore .dialog-buttons button.select:before {
    content: '';
    background-image: url(../assets/icons/dice.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 35px;
    height: 35px;
    display: block;
}
._formDialog._formLore .dialog-buttons button.select._kimeta:before {
    display: none;
}

/* MODIFIERS DIALOG */
formitem._modFormItem {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
formitem._modFormItem ._comboAtDef {
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
formitem._modFormItem ._comboAtDef label {
    font-size: var(--custo-fontSizeM);
    line-height: calc(var(--custo-fontSizeM)* 1.2);
    border: 1px solid #ffffff2b;
    padding: 0px 6px;
    background: #5d2c2c;
    margin: 0 0 0 1.5%;
}
formitem._modFormItem ._descr {
    font-size: calc(var(--custo-fontSizeM)* 1.2);
    line-height: calc(var(--custo-fontSizeM)* 1.1);
    margin: 2% 2%;
    color: #ffffffb8;
}

/* CHECKS */
.dialog._checkLore {
    width: 98% !important;
    height: 95% !important;
}
.dialog._checking formdialog {
    padding: 1em;
    overflow-y: auto;
    height: calc(100% + 35px);
}
.dialog._checking p {
    font-size: 1.15em;
    line-height: 1.13em;
}
.dialog._checking h1 {
    line-height: 1em;
    padding-left: 0.25em;
    font-weight: 900;
    margin-top: 0.75em;
    background: #9a252552;
    color: #fff;
    border-radius: 3px;
    padding: 5px 10px;
}
.dialog._checking h2 {
    line-height: 1em;
    padding-left: 0.25em;
    font-weight: 900;
    margin-top: 10px;
}
.dialog._checking h3 {
    border: none;
}
.dialog._checking ._entryCheckKey {
    width: 100%;
    font-family: var(--custo-fontMono);
    border: 1px solid #5aba5a;
    background: #000;
    color: #5aba5a;
    padding: 2px 5px;
    border-radius: 2px;
    margin-bottom: 10px;
}
.dialog._checking ._entryCheckKey._repeated {
    border: 1px solid #F00;
    background: #000;
    color: #F00;
}

.dialog._checking ._box {
    padding: 5px 5px 5px 20px;
}
.dialog._checking ._mainCombo {
    padding-left: 30px;
}
.dialog._checking ._mainBox {
    padding: 10px;
    margin-bottom: 10px;
}
.dialog._checking ._mainH2 {
    margin: 0;
    border: 1px solid #ff000080;
    background: #4b0c0cbd;
    padding: 4px 10px !important;
    cursor: pointer;
    font-size: 1.15em;
    font-weight: 100;
}
._entryCheckKey ol {
    marker: none;
    padding: 0;
    margin: 0;
}
._entryCheckKey li {
    marker: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
formdialog formactors formactor:nth-child(even),
formdialog formitems formitem:nth-child(even) {
    background: #57494947;
}
formdialog formactors formactor:nth-child(odd),
formdialog formitems formitem:nth-child(odd) {
    background: #edd1d129;
}

/* ACTIONS */
._formActions formfolders {
    border: 1px solid #fff6;
    height: auto;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}
._formDialog formDialog ._prevItems {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 80%;
    border: 1px solid #fff6;
}
._formActions .dialog-buttons {
    height: 10%;
}
._formDialog formDialog ._prevItems formitems {
    width: 50%;
    height: 100%;
}
._prevItems formitems formitem {
    padding: 0 0 0 10px;
    margin: 0;
    width: 100%;
}
._prevItems formitems formitem:nth-child(even) {
    background: #57494947;
}
._prevItems formitems formitem:nth-child(odd) {
    background: #edd1d129;
}
._formDialog formDialog ._prevItems ._preview {
    width: 50%;    
    word-wrap: break-word;
    font-size: calc(var(--custo-fontSizeL)* 0.8);
    line-height: calc(var(--custo-fontSizeL)* 0.95);
    padding: 3% 3% 0 3%;
    text-align: justify;    
    height: 100%;
    overflow-y: auto;
    border-left: 1px solid #fff6;
}
._formDialog formDialog ._prevItems ._preview h2 {
    font-size: 1.2em;
    padding: 0 !important;
    margin: 0 !important;
    border: none;
    color: #bf9090 !important;
}

/* COMPENDIUMS */
.compendium.directory .directory-header .header-banner {
    border-radius: 0!important;
    border-top: 1px solid var(--custo-borderDialog) !important;
    border-bottom: 1px solid var(--custo-borderDialog) !important;
}
.compendium.directory li.directory-item {
    background: url(../assets/texture/paper3.png);
    background-repeat: repeat;
    background-size: 250px 250px;
    color: var(--custo-buttonDialogColor);
    border: 1px solid #ffb800;
    margin-bottom: 3px;
    box-shadow: inset #00000087 0px 0px 5px 2px;
}
.compendium.directory .directory-item img {
    padding: 6px;
}


/* PROFESSION */
.window-app._professionDialog {
    width: 96% !important;
    height: 96% !important;
    left: 2% !important;
    top: 2% !important;
    z-index: 10000;
}
formdialog ._rows {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px;
}
formdialog ._rows ._column {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
    height: 90%;
}
._professionDialog formItems {
    border: 1px solid #d5626273 !important;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: #c15e5e54 0px 0px 8px 2px;
    background: #7f4c4c24 !important;
    overflow-y: initial !important;
    overflow-x: initial !important;
}
._professionDialog formItems formitem {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    overflow: hidden;
    height: calc(var(--custo-fontSizeM)* 2);
    border: 0;
}
._professionDialog formItems formitem img {
    width: 40px;
    height: 40px;
    border: 0;
}
._professionDialog formItems formitem label {
    font-size: calc(var(--custo-fontSizeM)* 1.25)!important;
    line-height: calc(var(--custo-fontSizeM)* 1.6)!important;
    width: 100%;
}

.dialog._summary {
    width: 50% !important;
    max-height: 90%;
}
.dialog._summary .dialog-content {
    padding: 2%;
    font-size: calc(var(--custo-fontSizeM)* 1.2);
    line-height: calc(var(--custo-fontSizeM)* 1.4);
}

/* ITEMS */
.app.sheet.golden {
    border: 4px solid #e7a612b8;
}
.app.sheet.golden header.window-header  {
    background: #694d0d45;
}
.app.sheet.golden header.window-header, 
.app.sheet.golden section.window-content {
    box-shadow: inset #e5a33f85 0px 0px 8px 4px;
}