._codexWrap, ._codexShadow, ._codexWrap:before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
._codexWrap:before {
    content: ' ';
    width: calc(50% - 1px);
    border-right: 2px solid #0003;
}
._codexShadow {
    background-image: url(../assets/texture/shadowPaper.png);
    background-size: 50% 100%;   
}
._codexFrame {
    width: calc(49.5% - var(--vSize)* 0.02);
    height: calc(100% - var(--vSize)* 0.02);
    top: calc(var(--vSize)* 0.012);
    left: calc(var(--vSize)* 0.012);
    transform: rotate(0.5deg);
    position: absolute;
}
._codexFrame._frame2 {
    left: 50.5%;
    transform: rotate(-0.5deg);
}
._codexFrame ._borderTop,
._codexFrame ._borderLeft,
._codexFrame ._borderRight,
._codexFrame ._borderBottom {
    position: absolute;
}

._codexFrame ._borderLeft,
._codexFrame ._borderRight {
    width: calc(var(--vSize)* 0.025);
    height: calc(100% - var(--vSize)* 0.09);
    background-repeat: repeat-y;
    background-size: 100% auto;  
}
._codexFrame ._borderTop,
._codexFrame ._borderBottom {
    height: calc(var(--vSize)* 0.025);
    width: calc(100% - var(--vSize)* 0.088);
    background-repeat: repeat-x;
    background-size: auto 100%;
}

._codexFrame ._borderLeft {
    left: calc(var(--vSize)* 0.02);
    top: calc(var(--vSize)* 0.043);
}
._codexFrame ._borderRight {
    left: calc(100% - var(--vSize)* 0.045);
    top: calc(var(--vSize)* 0.043);
    transform: rotate(180deg);
}
._codexFrame ._borderTop {
    left: calc(var(--vSize)* 0.045);
    top: calc(var(--vSize)* 0.02);
}
._codexFrame ._borderBottom {
    left: calc(var(--vSize)* 0.045);
    top: calc(100% - var(--vSize)* 0.050);
    transform: rotate(180deg);
}

._codexFrame ._borderQTL,
._codexFrame ._borderQTR,
._codexFrame ._borderQBL,
._codexFrame ._borderQBR {
    width: calc(var(--vSize)* 0.1);
    height: calc(var(--vSize)* 0.1);
    background-size: 100% 100%;
    position: absolute;
}
._codexFrame ._borderQTL {
    left: calc(var(--vSize)* 0.005);
    top: calc(var(--vSize)* 0.005);
}
._codexFrame ._borderQTR {
    left: calc(100% - var(--vSize)* 0.107);
    top: calc(var(--vSize)* 0.005);
    transform: rotate(90deg);
}
._codexFrame ._borderQBL {
    left: calc(100% - var(--vSize)* 0.107);
    top: calc(100% - var(--vSize)* 0.112);
    transform: rotate(180deg);
}
._codexFrame ._borderQBR {
    left: calc(var(--vSize)* 0.005);
    top: calc(100% - var(--vSize)* 0.112);
    transform: rotate(270deg);
}

sheetcontent.tab.active {
    background-size: 30%;
    mask-image: url(../assets/texture/ripped.png);
    mask-position: 0 0;
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
}

.window-app.sheet.actor form._short sheetcontent.tab.active {
    margin-top: calc((var(--viewHeight) - var(--vSize)) / 2);
}
.window-app.sheet.actor form._short ._blackView {
    position: fixed;
    background: #000000;
    top: 0;
    left: 0;
    border: 1px solid #ffa50099;
    box-shadow: inset 0 0 100px 10px #cf6d1866;  
}
.window-app.sheet.actor form._short ._bookFrame {
    position: absolute;
    margin-top: -5px;
    background: linear-gradient(87deg, #995a41, #1e1c1b, #75584d);
    mask-image: url(../assets/texture/ripped.png);
    mask-position: 0 0;
    mask-size: 100.5% 100%;
    mask-repeat: no-repeat;
}
.window-app.sheet.actor form._short ._bookFrame:before {
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: inset -5px 10px 0px 1px #00000057;
}

/*
.sheet.actor .tab[data-tab].active:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../assets/texture/shadowPaper.png);
    background-size: 50% 100%;
    top: 0;
    left: 0;
}
*/