/* --- Fonts --- */
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');
@font-face {
  font-family: 'Augusta';
  src: url(/systems/aquelarre/fonts/Augusta.ttf) format('truetype')!important;
}
@font-face {
  font-family: 'Augusta-Shadow';
  src: url(/systems/aquelarre/fonts/Augusta-Shadow.ttf) format('truetype')!important;
}

  /*  font-family: 'MedievalSharp', cursive;  */
  /*  font-family: 'Almendra', serif;   */
  /*  font-family: 'Almendra Display', cursive; */
  /*  font-family: 'Uncial Antiqua', cursive; */
  /*  font-family: 'Augusta', cursive;   */
  /*  font-family: 'Augusta-Shadow', cursive;   */

/* ----------------------------------------- */
/*  Root                                     */
/* ----------------------------------------- */
:root {
  --font-aq: 'Almendra', sans-serif!important;
  --font2-aq: 'Uncial Antiqua', cursive!important;
  --font3-aq: 'Almendra', sans-serif!important;
  --font4-aq: 'MedievalSharp', cursive!important;
  --paper-aq: url('/systems/aquelarre/image/texture/paper.png')!important;
  --tile1-aq: url('/systems/aquelarre/image/texture/tile01.png')!important;
  --tile2-aq: url('/systems/aquelarre/image/texture/tile02.png')!important;

}
