
@font-face {
  font-family: Almendra;
  src: url(Almendra-Regular.ttf);
}
@font-face {
  font-family: corvux;
  src: url(corvux.ttf);
}
@font-face {
  font-family: IM Fell English;
  src: url(IMFellEnglish-Regular.ttf);
}
@font-face {
  font-family: IM Fell English SC;
  src: url(IMFellEnglishSC-Regular.ttf);
}

:root {
    --fSize: 1rem;
    --skillAreas: 'a';

    --fFont0: "Almendra", serif;
    --fFont1: "corvux", serif;    
    --fFont2: "Almendra", serif; /* "Modesto Condensed", serif; */
    --aqRed: #b42323;
    --aqRed1: #ffffff52;
    --aqRed2: #771313;
    --aqDarkRed: #340202b3;
    --aqBackRed: #34020238;
    --aqText: #000000;
    --aqText2: #FFF;
    --aqTextDisabled: #ffffffc4;   

    --vcfFont0: "IM Fell English", serif; /* "Trykker", serif; */
    --vcfFont1: "IM Fell English SC", serif;    
    --vcfFont2: "IM Fell English SC", serif; /* "Modesto Condensed", serif; */
    --vcRed: #b42323;  
    --vcGreen: #298f6f;
    --vcGreen1: #ffffff52;
    --vcGreen2: #2c594b;    
    --vcDarkGreen: #193d2bbf;
    --vcBackGreen: #31592c38;
    --vcText: #000000;
    --vcText2: #FFF; 
    --vcTextDisabled: #ffffffc4;  
    
    --redLetter: #812323;
}

._row {
    width: 100%;
    display: flex;
    flex-direction: row;
}
._row._inverse {
    justify-content: flex-end;
}
._row._spaced {
    justify-content: space-between;
}
._row._props {
    display: flex;
    align-content: center;
    align-items: center;
}
._row._props input,
._row._props select {
    font-size: calc(var(--fSize) * 1);
    height: calc(var(--fSize) * 1.5);
    line-height: calc(var(--fSize) * 1.5);
}
._grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
input {
    border-radius: 0;
}
input.h4 {
    font-size: calc(var(--fSize) * 2);
    line-height: calc(var(--fSize) * 2);
    height: calc(var(--fSize) * 2);
    font-family: var(--fFont1);
    background: none;
    margin-bottom: 5px;
}
._vyc input.h4 {
    font-family: var(--vcfFont1);
}
._xsSize {
    width: calc(var(--fSize) * 2.5)!important;
}
._sSize {
    width: calc(var(--fSize) * 4)!important;
}
._msSize {
    width: calc(var(--fSize) * 6)!important;
}
._mSize {
    width: calc(var(--fSize) * 8)!important;
}
._lSize {
    width: calc(var(--fSize) * 20)!important;
}
._xlSize {
    width: calc(var(--fSize) * 30)!important;
}
._xsFont {
    font-size: calc(var(--fSize) * 0.7)!important;    
}
._sFont {
    font-size: calc(var(--fSize) * 0.85)!important;    
}

._lessBottom {
    margin-bottom: -1px;
}
._gapped {
    gap: 10px!important;
}
._smallGapped {
    gap: 4px!important;
}
._marginTop {
    margin-top: 4px;
}
._marginLeft {
    margin-left: 4px;
}
._marginRight {
    margin-right: 4px;
}
._center {
    text-align: center;
}
._center2 {
    text-align: center;
    display: flex;
    justify-content: center;
}
._right {
    text-align: right;
}
._expanded {
    width: 100%;
    justify-content: flex-end;
}
._bold {
    font-weight: 900;
}
._italic {
    font-style: italic;
}
._pointer {
    cursor: pointer;
}
._med {
    font-size: calc(var(--fSize)*1.25);
}
._big {
    font-size: calc(var(--fSize)*1.5);
}
._noBorder {
    border-color: #00000000 !important;
}
input._sInput {
    width: 6rem;
}
._scrolled {
    height: 100%;
    overflow-y: auto;
}

._bad {
    background: #ff000033;
}
._good {
    background: #40893333;
}

._100 {
    width: 100%;
}
._50 {
    width: 50%;
}

._2columns {
    display: flex;
    flex-direction: row;
}
._1columns {
    display: flex;
    flex-direction: column;
}

table._table {
    background: none;
    border: 1px solid #0000002e;
    padding: 3px;
}
table._table thead {
    background: none;
    border-radius: 0;
    background: var(--aqDarkRed);
    color: var(--aqText2);
}
._vyc table._table thead {
    background: var(--vcDarkGreen);
    color: var(--vcText2);
}
table._table tr:nth-child(odd) {
    background: var(--aqBackRed);
}
._vyc table._table tr:nth-child(odd) {
    background: var(--vcBackGreen);
}
table._table th, 
table._table td {
    padding: 0.25rem;
}
table._table th {
    padding-left: 0.5rem;
    font-family: var(--fFont2);
    font-size: calc(var(--fSize) * 1.15);
    font-weight: 100;
}
._vyc table._table th {
    font-family: var(--vcfFont2);
}
table._table th._button,
table._table td._button {
    width: 20px;
}
table._table input,
table._table select {
    font-size: calc(var(--fSize) * 1);
    height: calc(var(--fSize) * 1.6);
    line-height: calc(var(--fSize) * 1.6);
    padding: 0 0.25rem;
}


/** --- PACKS --- */
._systemPack a.entry-name i,
._systemPack .compendium-name i {
    display: none;
}
._systemPack footer {
    display: none;
}
._systemPack a.entry-name.compendium-name,
._systemPack .compendium-name strong.ellipsis {
    font-family: var(--fFont1);
    font-size: calc(var(--fSize) * 1.3);
}
._systemPack .compendium-name strong.ellipsis {
    font-size: calc(var(--fSize) * 2);
}
._systemPack .compendium-name strong {
    line-height: 1em;
}
._systemPack._vyc .compendium-name strong,
._systemPack._vyc .compendium-name strong.ellipsis {
    font-family: var(--vcfFont1);
    font-size: calc(var(--fSize) * 2.35);
}

section.directory._extend._vyc section.window-content {

    font-family: var(--vcfFont1);
    font-size: calc(var(--fSize) * 1.15);
}
section.directory._extend._vyc li.directory-item img.thumbnail {
    border-right: 0.3rem solid #286744d9;
    padding-right: 1px;
}

/** EFFECTS */
.blink {
  animation: blinker 0.5s linear infinite;
}
.blink1 {
  animation: blinker 1s linear infinite;
}
.glowBlink {
  animation: color-pulse 1s infinite alternate;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
@keyframes color-pulse {
  0% { color: #000000; }
  50% { color: #b21414; }
  100% { color: #000000; }
}