
/** --- ARC BARS --- */
arcBar {
    --arcFrom: 0deg;
    --arcTo: 360deg;

    position: absolute;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%;
    display: block;
    aspect-ratio: 1;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 50%;
    background: #000000;
    transform: rotate(var(--arcFrom));
    mask:
      linear-gradient(#0000 0 0) content-box intersect,
      conic-gradient(#000 calc(var(--arcTo) - var(--arcFrom)), #0000 0);
}


statBarBack {
    content: ' ';
    width: 100%;
    height: 100%;
    position: relative;
    margin-right: -100%;
    margin-bottom: -100%;
    left: 0;    
    background: #ffffff2e;
    border-radius: 3px;
    border: 1px solid #ffffff42;
}
statBar {
    width: var(--statValue);
    height: 100%;
    position: relative;
    left: 0;
    background: var(--statColor);
    transition: 0.5s;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 0px var(--statColor);
    opacity: 0.75;
}

/** --- BUTTONS --- */

._bar {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    border: 1px solid var(--custo-border);
    padding: 6px;
}

button[disabled] {
    opacity: 0.4;
    cursor: auto;
}

._sheetButton {
    min-width: 30px;
    min-height: 30px;
    position: absolute;
    opacity: 0.8;
    border: 1px solid #ffffff4a;
    border-radius: 0;
    background-color: #ffffff78;
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.5s;
}
._sheetButton:hover {
    opacity: 1;
    background-color: #ffffffc9;
}

._menu {
    display: flex;
}
._menu ._option {
    margin-left: calc(var(--frFont)* 0.2);
    padding: 0;
    font-size: calc(var(--frFont)* 0.7);
    line-height: calc(var(--frFont)* 0.7);
    color: var(--custo-fontColor);
    display: flex;
    align-content: center;
    align-items: center;
}
._menu ._option i {
    cursor: pointer;
    margin: 0 calc(var(--frFont)* 0.2) 0 0;
}
._menu ._option input[type="checkbox"] {
    cursor: pointer;
    margin: 0 calc(var(--frFont)* 0.2) 0 0;
}
._menu ._option:hover,
._menu ._option:hover i {
    text-shadow: 0 0 8px var(--color-shadow-primary);
}

a._iconButton i {
    font-size: calc(var(--custo-fontSizeM)* 1.65);
}
a._iconButton {
    padding: 1px 3px;
    margin-left: 4px;
    height: 100%;
    border: 1px solid var(--custo-border);
}
a._iconButton:hover {
    background: #ff0000b0;
}

/** --- COMMONS --- */
._hideControl {
    display: none!important;
    position: absolute!important;
}
warning {
    background: #F00;
    color: #FFF;
    padding: 4px 10px;
    border: 1px solid #ffffff7d;
}
label._title {
    font-size: var(--custo-fontSizeL);
}
._noVisible {
    display: none!important;
}
._marginLeft {
    margin-left: 5px;
}
._marginRight {
    margin-right: 5px;
}
._noMargin {
    margin: 0!important;
}
._leftAlign {
    justify-content: flex-start;
}
._rightAlign {
    justify-content: flex-end;
}
._rightText {
    text-align: right !important;    
}
._centerAlign {
    justify-content: center;
}
._spaced {
    justify-content: space-between;    
}
._center {
    text-align: center;
}
._italic {
    font-style: italic;    
}
._columns {
    flex-direction: column;
}
._rows {
    flex-direction: row;
}
._whiteBorder {
    text-shadow: rgb(255 255 255 / 10%) 1px 0px 0px,rgb(255 255 255 / 10%) 0.540302px 0.841471px 2px, rgb(255 255 255 / 10%) -0.416147px 0.909297px 2px,
                 rgb(255 255 255 / 10%) -0.989992px 0.14112px 2px, rgb(255 255 255 / 10%) -0.653644px -0.756802px 4px,  rgb(255 255 255 / 10%) 0.283662px -0.958924px 0px, 
                 rgb(255 255 255 / 10%) 0.96017px -0.279416px 5px;
}
._whiteBorderHard {
    text-shadow: rgb(255 255 255 / 40%) 1px 0px 0px, rgb(255 255 255 / 40%) 0.540302px 0.841471px 0px, rgb(255 255 255 / 40%) -0.416147px 0.909297px 0px, 
                rgb(255 255 255 / 40%) -0.989992px 0.14112px 0px, rgb(255 255 255 / 40%) -0.653644px -0.756802px 0px,  rgb(255 255 255 / 40%) 0.283662px -0.958924px 0px, 
                rgb(255 255 255 / 40%) 0.96017px -0.279416px 0px;
}
._stellar {
    color: #6f3c3c!important;
    text-shadow: #FFF 0px 0px 5px,
                 #FFF 0px 0px 10px,
                 #FFF 0px 0px 15px,
                 #FF2D95 0px 0px 20px, 
                 #FF2D95 0px 0px 30px,
                 #FF2D95 0px 0px 40px,
                 #FF2D95 0px 0px 50px,
                 #FF2D95 0px 0px 75px;    
}
._shadowText {
    color: #ffffff!important;
    text-shadow: -2px -2px 2px #00000091, 
                 2px 2px 2px #00000091, 
                 -2px 2px 2px #00000091, 
                 2px -2px 2px #00000091;    
}
._100 {
    width: 100%!important;
}
._95 {
    width: 95%!important;
}
._90 {
    width: 90%!important;
}
._85 {
    width: 85%!important;
}
._80 {
    width: 80%!important;
}
._75 {
    width: 75%!important;
}
._70 {
    width: 70%!important;
}
._66 {
    width: 66.6%!important;
}
._65 {
    width: 65%!important;
}
._60 {
    width: 60%!important;
}
._55 {
    width: 55%!important;
}
._50 {
    width: 50%!important;
}
._45 {
    width: 45%!important;
}
._40 {
    width: 40%!important;
}
._35 {
    width: 35%!important;
}
._33 {
    width: 33.3%!important;
}
._30 {
    width: 30%!important;
}
._25 {
    width: 25%!important;
}
._20 {
    width: 20%!important;
}
._15 {
    width: 15%!important;
}
._10 {
    width: 10%!important;
}
._05 {
    width: 5%!important;
}

h1 {
    line-height: 1em;
    padding-left: 0.25em;
    font-weight: 900;
}

._hcombo {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

/** --- SHOWED & HIDED --- */
._hoverToggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
showed {
    display: block;
    height: auto;
    opacity: 1;
    transition: opacity 0.3s;
}
hided {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.3s;
    z-index: 1;
}
hidden {
    display: none!important;
}
._hoverToggle:hover showed {
    height: 0px;
    opacity: 0;
}
._hoverToggle:hover hided {
    height: auto;
    opacity: 1;
}

._zoom,
._zoom label  {
    cursor: zoom-in;
}
._pointer,
._pointer label {
    cursor: pointer;
}

/** --- RIGHT CLICK --- */
._contextButton {
    cursor: zoom-in;
}
._contextButton:hover {
    background: #ffffff94;
    border-radius: 5px;
}

/** --- ROLLING --- */
._textRoll {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;    
}

/** --- TEXT EDITOR --- */
.editor {
    width: 100%;
    height: 100%;
    font-size: var(--custo-fontSizeM);
    line-height: calc(var(--custo-fontSizeM)* 1.5);
    padding: var(--custo-fontSizeM);
    text-align: justify;
    transition: 0.5s;
}
.editor-container {
    min-height: 500px;
}
.editor h1 {
    margin-top: 10px;
    padding-bottom: 4px;
    border-bottom: 2px solid #991414;
}

/** --- PROGRESS BARS --- */
progressbar {
    position: absolute;
    width: 96.4%;
    height: 45%;
    left: 1.5%;
    top: 27%;
}
._vertical progressbar {
    width: 45%;
    height: 96.4%;
    left: 30%;
    top: 2.2%;
}
progressHBar {
    position: absolute;
    overflow: hidden;
    width: 56%;
    height: 96.4%;
    left: 21%;
    top: 1.80%;    
}
._vertical progressHBar {
    width: 96.4%;
    height: 56;
    left: 1.80%;
    top: 21%; 
}
._pBBack {
    position: absolute;
    width: 97.5%;
    height: 75%;
    left: 1.5%;
    top: 14%;
    border-radius: 50px;
    background: #412a23e8;
    border: 1px solid #ffdd0087;
}
._vertical ._pBBack {
    width: 75%;
    height: 97.5%;
    left: 14%;
    top: 1.5%;
}
._pHBBack {
    position: absolute;
    width: 56%;
    height: 96.4%;
    left: 21%;
    top: 1.80%;
    overflow: hidden;
}
._vertical ._pHBBack {
    position: absolute;
    width: 96.4%;
    height: 56%;
    left: 1.80%;
    top: 21%;
}
._pBar {
    height: 100%;
    top: 0.5px;
    left: 3px;    
    background: #ffdd007a;
    border-radius: 50px;
    position: absolute;
    overflow: hidden;
}
._vertical ._pBar {
    width: 100%;
    top: 0px;
    left: 0px;
}
._pBar ._gloss {
    content: '';
    top: 0;
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.25;
    z-index: 1;
    animation: slidePB 3s infinite;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%);
}
._vertical ._pBar ._gloss {
    transform: translateY(100%);
    left: 0;
    animation: slideVPB 3.3s infinite;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
}
@keyframes slidePB {
	0% {transform:translateX(-100%);}
	100% {transform:translateX(100%);}
}
@keyframes slideVPB {
	0% {transform:translateY(-100%);}
	100% {transform:translateY(100%);}
}
._pHBar1 {
    width: 100%;
    background: #ffdd007a;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: absolute;
    overflow: hidden;
}
._pHBar2 {
    width: 100%;
    background: #ffdd007a;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: absolute;
    overflow: hidden;
}
._pHBar1 ._gloss,
._pHBar2 ._gloss {
    content: '';
    top: 0;
    transform: translateY(100%);
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.25;
    z-index: 1;    
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%);
}
._pHBar1 ._gloss {
    animation: slideHPB1 3s infinite;
}
._pHBar2 ._gloss {
    animation: slideHPB2 3s infinite;
}
@keyframes slideHPB1 {
	0% {transform:translateY(-100%);}
	100% {transform:translateY(100%);}
}
@keyframes slideHPB2 {
	0% {transform:translateY(100%);}
	100% {transform:translateY(-100%);}
}
._pB {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.7;
}
._pHB {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.65;
}
/*
._pBBackMiddle {
    background-size: auto 100%;
    background-repeat: repeat-x;
    background-image: url(../assets/texture/progressMiddle.png);
    width: 91.2%;
    height: 100%;
    position: absolute;
    left: 4%;
}
._pHBBackMiddle {
    background-size: 100% auto;
    background-repeat: repeat-y;
    background-size: 100% 100%;
    background-image: url(../assets/texture/progressHMiddle.png);
    width: 100%;
    height: 91%;
    position: absolute;
    top: 4%;
    left: 0;
}
._pBBackInit {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/texture/progressLeft.png);
    width: 5.5%;
    height: 100%;
    position: absolute;
    left: 0;
}
._pHBBackInit {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(../assets/texture/progressHMiddle.png);
    width: 100.5%;
    height: 5%;
    position: absolute;
    top: 1.7%;
    left: 0;
}
._pBBackEnd {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/texture/progressRight.png);
    width: 5.5%;
    height: 100%;
    position: absolute;
    left: 95%;
}
._pHBBackEnd {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(../assets/texture/progressHRight.png);
    width: 100%;
    height: 5%;
    position: absolute;
    top: 95%;
}
*/
._pbMark {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #00000085;
    position: absolute;
}
._pbLabelMark {
    position: absolute;
    width: 150%;
    left: -76%;
    margin-top: 6%;
    padding-right: 10%;
    height: auto;
    color: #FFF;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    font-size: calc(var(--vFont)* 0.65);
    line-height: calc(var(--vFont)* 0.55);
    color: #000000cf;
    background: linear-gradient(270deg, #ffffff6e, transparent);
    white-space: nowrap;
    border-bottom: 1px solid #ffffff85;
}
._pbLabelMark:last-child {
    margin-top: -50%;
}

/* COMPENDIUM */
li.directory-item._packTrait {
    padding-bottom: 24px !important;
}
li.directory-item._packTrait img {
    margin-top: 12px!important;
    margin-bottom: -12px!important;
}
.entry-name ._small,
.entry-name ._sticker,
.entry-name ._points {
    width: 70px;
    height: 20px;
    display: flex;
    overflow: hidden;
    position: absolute;
    top: 4px;
    left: calc(100% - 74px);
    justify-content: flex-end;
}
.entry-name ._sticker {
    top: calc(100% - 32px);
    left: 54px;
    text-align: left;
    justify-content: start;
    width: calc(100% - 60px);
}
.entry-name ._points {
    top: calc(100% - 32px);
    left: calc(100% - 74px);
}
.entry-name ._points label {
    background: #aaa166b0 !important;
    color: #000;
    font-weight: 900;
}
._sticker label._red {
    background: #b13a3a!important;
    color: #FFF !important;
}
._sticker label._green {
    background: #25492f!important;
    color: #FFF !important;
}
._sticker label._yellow {
    background: #d8b041!important;
    color: #FFF !important;
}
._sticker label._white {
    background: #cfd7d1!important;
    color: #333 !important;
}
.entry-name ._small label,
.entry-name ._sticker label,
.entry-name ._points label {
    font-size: 16px;
    line-height: 18px;
    height: 20px;
    background: #0000004f;
    border: 1px solid #00000052;
    border-radius: 2px;
    padding: 0 4px;
}
.directory-header input[type="search"] {
    color: #000;
}


/* SLIDERS... */
    input[type="range"]._aqSlider {
        -webkit-appearance: none;
        appearance: none;
        background: transparent;
        cursor: pointer;
    }
    input[type="range"]._aqSlider:focus {
        outline: none;
    }
    input[type="range"]._aqSlider::-webkit-slider-runnable-track {
        background-color: #cdbab099;
        border-radius: 0;
        height: 0.3rem;
        border-radius: 0.3rem;
        box-shadow: none;
        border: 1px solid #00000063;
    }
    input[type="range"]._aqSlider::-moz-range-track {
        background-color: #cdbab099;
        border-radius: 0;
        height: 0.3rem;
        border-radius: 0.3rem;
        box-shadow: none;
        border: 1px solid #00000063;
    }
    input[type="range"]._aqSlider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        margin-top: -6px;
        background-color: #e5ae13;
        border-radius: 0%;
        height: 0.75rem;
        width: 0.75rem;
        border: 1px solid #0000005c;
        box-shadow: #b18c1e99 0px 0px 13px 6px;
    }
    input[type="range"]._aqSlider::-moz-range-thumb {
        background-color: #eeb61b;
        border: none;
        border-radius: 0%;
        height: 0.75rem;
        width: 0.75rem;
        border: 1px solid #0000005c;
        box-shadow: #b18c1e99 0px 0px 13px 6px;
    }
    input[type="range"]._aqSlider:focus::-webkit-slider-thumb {
        outline: 3px solid #eeb61b;
        outline-offset: 0.125rem;
    }  
    input[type="range"]._aqSlider:focus::-moz-range-thumb{
        outline: 3px solid #eeb61b;
        outline-offset: 0.125rem;
    }

/* Tours */
.tour-center-step {
    font-family: var(--custo-font0);
}
.tour._aqTour {
    font-family: var(--custo-font0);
    min-width: 30em;
    width: 30em;
    min-height: 20em;
    font-size: 1.5em;
    line-height: 1.25em;
    border: 1px solid #ffc40080;
    box-shadow: #ffa3002b 0px 0px 17px 9px;
    background-image: url(../assets/texture/tileLined01.png);
}
.tour._aqTour .content {
    text-align: justify;
    padding: 0 0.75em;
}
.tour._aqTour .content a {
    color: #e07c17;
    font-weight: 900;
    padding: 0 0.15em;
}
.tour._aqTour .content spam._special {
    font-style: italic;
    color: #ffffff;
    font-weight: 100;
}
.tour._aqTour .content spam._sign {
    font-style: italic;
    font-weight: 900;
    font-size: 1.7em;
    line-height: 2em;
}
.tour._aqTour a.step-button[data-action="next"] {
    background-image: url(../assets/texture/seal.png);
    background-size: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 2em;
    min-width: 2em;
    height: 2em;
    min-height: 2em;
    background-position: left;
}
.tour._aqTour a.step-button[data-action="next"] i {
    font-size: 1.1em;
    padding: 0.4em;
    opacity: 0.75;
}
.tour._aqTour span.progress {
    color: #0000000a !important;
}

/* COMPENDIUMS */
.compendium[data-pack="aquelarre.skills"] h3.entry-name.compendium-name,
.compendium[data-pack="aquelarre.actions"] h3.entry-name.compendium-name,
.compendium[data-pack="aquelarre.weapons"] h3.entry-name.compendium-name,
.compendium[data-pack="aquelarre.armors"] h3.entry-name.compendium-name,
.compendium[data-pack="aquelarre.context"] h3.entry-name.compendium-name,
.compendium[data-pack="aquelarre.feints"] h3.entry-name.compendium-name,
.compendium[data-pack="aquelarre.actors"] h3.entry-name.compendium-name,
.compendium[data-pack="aquelarre.spells"] h3.entry-name.compendium-name {
    display: none;
}