.chat-message {
    border: 0px solid #333;
    border-radius: 3px;
    padding: 0px;
}
.chat-message .message-header {
    background: #333;
    color: #ffffffa6;
}
.chat-message .message-header .message-sender {
    font-family: var(--font2-aq);
    font-size: 11px;
    color: #FFF;
    margin-top: 3px;
}
.chat-message .message-header .message-sender::first-letter {
    font-size: 16px;
    background: #b119199c;
    color: #FFF;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-top-left-radius: 3px;
    margin-right: 1px;    
}
.chat-message .message-header .message-metadata {
    padding-right: 4px;
    font-family: 'MedievalSharp';
}
.chat-message .message-content {
    background: var(--paper-aq);
    background-size: 100% 100%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 2px solid #333;
    font-family: var(--font-aq);
    padding: 5px;
    color: #000;    
}
.chat-message .message-content::first-letter {
    color: #a53434;
    font-weight: 900;
    font-size: 20px;
}
._chatBox {
    margin: -7px;
    width: calc(100% + 14px);
    height: 140px;
    background: #252323;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
._chatBox ._chatPaper {
    background: var(--paper-aq);
    background-size: 100% 100%;
    width: 100%;
    height: 100%;       
}
._chatBox ._chatShadow {
    background: url(/systems/conventum/image/texture/shadow.png);
    background-size: 100% 100%;
    width: 100%;
    height: 100%; 
    position: relative;      
    top: -100%;
}
._chatBox ._chatFrame {
    background: url(/systems/conventum/image/frame/chatFrame.png);
    background-size: 100% 100%!important;
    width: 100%;
    height: 100%;    
    position: relative;      
    top: -200%;    
}
._chatBox ._chatContent {
    position: relative;      
    top: -300%;
    width: calc(100% - 40px);
    margin-top: 20px;
    margin-left: 20px;
    font-family: var(--font-aq);
    color: #000000b5;  
}
._chatBox ._messageFrame {
    display: flex;    
    flex-wrap: wrap;
}
._chatBox ._messageImg {
    width: 60px;
    margin-right: 5px;
    margin-bottom: 5px;    
}
._chatBox ._messageImg img {
    border: 1px solid #4213133b!important;
    border-radius: 50%!important;   
    width: 60px;
    height: 60px; 
}
._chatBox ._vertical {
    width: calc(100% - 65px);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
._chatBox ._title {
    width: 100%;
    text-align: left;
    font-size: 16px;
    line-height: 18px;
    z-index: 10;
    position: relative;
    top: -8px;
}
._chatBox ._title::first-letter {
    color: #a53434;
    font-weight: 900;
    font-size: 20px;
}
._chatBox ._skill {
    width: calc(100% - 72px);
    position: relative;
    left: -29px;
    top: -11px;
    font-size: 16px;
    font-weight: 900;
    text-align: left;
    z-index: 10;
    line-height: 13px;
}
._chatBox ._skill._characteristic {
    position: relative;
    top: -43px;
    font-size: 24px;
    width: 270px;
    text-align: left;
    left: -4px;
}
._chatBox ._itemCaption {
    width: 140px;
    position: absolute;
    left: -1px;
    top: 112px;
    font-size: 17px;
    font-weight: 900;
    text-align: left;
    z-index: 10;
    line-height: 15px;
}
._chatBox ._itemCaption::first-letter {
    color: #9e0c0c;
    font-size: 30px;
}
._chatBox ._bonif {
    border-radius: 2px;
    width: 40px;
    text-align: center;
    font-size: 15px;
    line-height: 22px;
    font-weight: 900;
    margin-right: 6px;
    border: 4px solid #d7ceb8c4!important;
    height: 31px;
    position: absolute;
    top: 64px;
    left: 145px;  
}
._chatBox span._bonifText {
    position: relative;
    font-size: 11px;
    width: 85px!important;
    text-align: center;
    display: flex;
    height: 23px;
    top: 23px;
    left: -26px;
    justify-content: center;
    margin-bottom: -23px;
}
._chatBox ._result {
    font-size: 60px;
    font-weight: 900;
    line-height: 25px;
    margin-top: -3px;
    width: 90px;
    text-align: center;
    margin-left: 10px;
    position: absolute;
    top: 65px;
    left: 33px;
}
._chatContent ._resultOver {
    font-size: 18px;
    font-weight: 900;
    position: relative;
    left: 107px;
    top: -28px;
    border: 1px solid #3333331a;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 27px;
    background: #eee0e042;
    z-index: 10;
}
._chatBox ._success,
._chatBox ._failed {
    font-size: 15px;
    line-height: 22px;
    margin-top: -3px;
    margin-left: 41px;
    width: 60px;
    text-align: center;
    border: 4px solid #d7ceb8c4;
    border-radius: 1px;
    border-bottom-right-radius: 11px;
    position: absolute;
    top: 67px;
    left: 149px;
}
._chatBox ._failed {
    background: #b7454578; 
}
._chatBox ._success {
    background: #3e684b78;; 
}
._chatBox ._critSuccess,
._chatBox ._critFailure {
    position: absolute;
    top: 70px;
    left: -6px;
    text-align: center;
    border: 1px solid #d7ceb87d;
    border-radius: 1px;
    border-radius: 11px;
    font-size: 15px;
    line-height: 22px;
    padding-left: 7px;
    padding-right: 7px;
    font-weight: 900;
}
._chatBox ._critFailure {
    background: #e6090982;
    color: #000;
}
._chatBox ._critSuccess {
    background: #0a871382;
    color: #000;
}
._chatBox ._subItem ._penals {
    position: relative;
    width: 300px;
    left: -253px;
    top: 47px;
    font-size: 15px;
    font-weight: 900;
}

._chatContent ._Img {
    position: absolute;
    top: 0px;
    height: 70px;
    left: 190px;
    width: 60px;
    padding: 0px;
}
._chatContent ._Img img {
    width: 100%;
    border: 4px solid #3a1c0b40;
    border-radius: 2%;
    border-top-right-radius: 50%;
    opacity: 0.7;
    margin: 0px;
    padding: 0px;
}
._chatContent ._ItemImg img {
    position: absolute;
    top: 102px;
    left: 145px;
    width: 104px;
    height: 162px;
    border: 4px solid #d0c0b0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 36px;
}
._chatContent ._boxItems {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    width: 145px;
    height: 46px;
    padding: 0px;
    position: absolute;
    left: -1px;
    top: 145px;
}
._chatContent ._boxItems ._subItem {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
._chatContent ._boxItems ._subItem img {
    max-width: 25px;
    height: 40px;
    max-height: 40px;
    border: 3px solid #89867b7d;
}
._chatContent ._boxItems ._subItem ._caption {
    font-size: 15px;
    line-height: 18px;
    font-family: var(--font-aq);
    font-weight: 900;
    padding-left: 5px;
}
a._infoSkill {
    z-index: 15;
}

._chatContent ._messageAction {
    position: absolute;
    left: calc(100% - 124px);
    top: 100px;
    display: flex;
    flex-direction: row-reverse;
    width: 120px;
}
._chatContent ._messageAction img {
    width: 42px;
    height: 62px;
    border: 4px solid #9a8e736e;
}
._chatContent ._messageAction ._name {
    font-size: 13px;
    line-height: 11px;
    width: 78px;
    height: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    padding-right: 8px;
    position: relative;
    top: 18px;
}

._chatContent ._messageWeapon {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-start;
    position: absolute;
    top: 148px;
    left: 8px;
}
._chatContent ._messageWeapon img {
    width: 30px;
    height: 45px;
    border: 4px solid #ece3d0;
}
._chatContent ._messageWeapon ._name {
    width: 140px;
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 17px;
    line-height: 19px;
    font-weight: 900;
}

._chatContent ._messageSpell{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-start;
    position: absolute;
    top: 0px;
    left: 55px;
}
._chatContent ._messageSpell img {
    width: 30px;
    height: 45px;
    border: 4px solid #ece3d0;
}
._chatContent ._messageSpell ._name {
    width: 190px;
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 17px;
    line-height: 13px;
    font-weight: 900;
}

._chatContent ._messageDamage {
    position: absolute;
    top: 91px;
    left: -4px;
    font-size: 28px;
    line-height: 30px;
    font-family: var(--font-aq);
    font-weight: 900;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 4px;
}
._chatContent ._messageDamage ._name {
    width: 150px;
    line-height: 12px;
    font-size: 18px;
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
    top: 5px;
    z-index: 100;
}
._messageDamage a._rollDamage {
    display: flex;
    align-content: center;
    align-items: center;
}
._messageDamage ._name._finalDamage {
    font-size: 80px;
    line-height: 84px;
    height: 100px;
    top: -24px;
    left: -14px;
    width: 100px;
    padding-left: 20px;
    padding-bottom: 14px;
    text-align: center;
    position: relative;
    background: #9b1b1b2b;
    border-top-right-radius: 50%;
    color: #9a3737b8;
}
._damageBubble {
    font-size: 50px!important;
    height: 60px!important;
    line-height: 60px!important;
    font-family: var(--font-aq);
    background: #a98383;
    color: #9b2d2d;
    width: 100%;
    text-align: center;
}
._chatContent ._messageDamage img {
    width: 48px;
    border: 0px;
    margin-right: 4px;
}
._chatContent ._infoMods {
    display: block;
    position: absolute;
    top: -17px;
    left: -17px;
    border-bottom-right-radius: 9px;
    background: #ffffffde;
    width: 20px;
    height: 20px;
    line-height: 19px;
    font-size: 16px;
    font-family: var(--font-aq);
    text-align: center;
    font-weight: 900;
    border: 1px solid #333333b3;
    cursor: pointer;
}
._chatContent ._infoMods:hover {
    background: #7a0c0c;
    color: #FFF;
}
._chatContent ul._messageMods {
    display: none;
    background: #f6eedee6;
    border: 1px solid #333;
    position: absolute;
    top: -17px;
    left: -11px;
    width: calc(100% + 24px);
    height: 180px;
    z-index: 3000;
    padding-top: 5px;
    overflow-y: scroll;
}
._chatContent ._showMods:hover ._messageMods {
    display: block;
}

._chatContent ul._messageTargets {
    display: flex;
    position: absolute;
    top: 33px;
    left: -36px;
    width: 262px;
    z-index: 25;
    flex-direction: column;
}
._chatContent ._messageTargets li {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: 30px 30px;
    margin-right: 5px;
    margin-bottom: 3px;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 93%);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.93);
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 93%);
}
._chatContent ._messageTargets li:hover ._targetName {
    display: block;
}
._chatContent ._messageTargets label._targetName {
    display: none;
    width: 150px;
    position: absolute;
    left: 44px;
    margin-top: 17px;
    font-weight: 900;
    background: #ffffffed;
    border-radius: 4px;
    line-height: 19px;
    padding-left: 5px;
}

._chatContent ul._msgDamInfo {
    position: absolute;
    left: 53px;
    top: 23px;
    padding: 10px;
    font-size: 15px;
}
._chatContent ._msgDamLocation {
    position: absolute;
    top: -2px;
    left: calc(100% - 83px);
    width: 100px;
    padding-right: 10px;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    border-bottom: 1px solid #33333347;
    font-weight: 900;
}
._chatContent ._msgDamTotal {
    position: relative;
    font-size: 80px;
    font-weight: 900;
    line-height: 63px;
    padding-bottom: 11px;
    width: 100px;
    text-align: center;
    margin-top: -72px;
    top: 48px;
    left: 56px;
    color: #994545;
    border: 8px solid #a55f5f26;
    border-radius: 50%;
}
._messageDamage ._damagePoints {
    font-size: 14px;
    line-height: 15px;
    width: 100px;
    height: 20px;
    margin-top: -20px;
    position: relative;
    top: -95px;
    left: -8px;
    color: #7c4b4b75;
}

._chatContent ._hitPoints {
    width: 60px;
    text-align: center;
    margin-left: -61px;
    position: relative;
    left: 128px;
    top: 31px;
}

._chatBox ._bigContent {
    line-height: 90px;
    font-size: 90px;
    font-weight: 900;
    text-align: center;
}

._targetDialogs {
    height: auto!important;
    width: auto!important;
    display: flex!important;
    flex-direction: column!important;
    align-content: center!important;
    align-items: center!important;
    flex-wrap: nowrap!important;
    justify-content: space-around!important;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
._targetDialogs header.window-header.flexrow.draggable {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 16px;
    border-top: 6px solid #111;
    border-left: 6px solid #111;
    border-right: 6px solid #111;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: #c51919cc;
    border-color: #3c3a3afa!important;
    padding-bottom: 2px;
}
._targetDialogs h4.window-title::first-letter {
    background: none!important;
    font-size: 13px!important;
    margin-right: -1px!important;
    padding-left: 7px!important;
}
._targetDialogs section.window-content {
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    padding-bottom: 65px;
    min-width: 156px;
    border-color: #3c3a3afa!important;
    background: var(--tile2-aq)!important;
    background-size: 140px 140px!important;    
}
._targetDialogs h4.window-title {
    margin-top: -3px!important;
    padding-left: 1px;
}
._targetDialogs .dialog-content {
    display: none;
}
._targetDialogs .dialog-buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
._targetDialogs button {
    max-width: 80px!important;
    width: 80px!important;
    max-height: 85px!important;
    height: 85px!important;
    padding: 0px;
    margin: 0px;
    border-radius: 50%;
    border: 5px solid #3b415c!important;
    margin-bottom: 35px!Important;
    background: #3b415c!important;
}
._targetDialogs button img {
    width: 80px;
    height: 76px;
    border-radius: 50%;
    border: 0px;
    -webkit-box-shadow: 0px 0px 11px 4px rgb(0 0 0 / 52%);
    box-shadow: 0px 0px 11px 4px rgb(0 0 0 / 52%);
}
._targetDialogs label {
    font-size: 17px;
    line-height: 23px!important;
    position: relative;
    display: flex;
    background: #3b415c;
    width: 150px;
    top: -13px;
    left: -36px;
    color: #000;
    padding-top: 5px;
    text-shadow: 2px 0 #ffffff63, -2px 0 #ffffff63, 0 2px #ffffff63, 0 -2px #ffffff63, 1px 1px #ffffff63, -1px -1px #ffffff63, 1px -1px #ffffff63, -1px 1px #ffffff63;
    justify-content: center;
}
._targetDialogs .dialog-button img._mount {
    width: 45px;
    height: 45px;
    margin-left: -45px;
    margin-top: -45px;
    position: relative;
    top: -50px;
    left: 64px;
}

._targetDialogsExpress section.window-content {
    overflow: inherit;
}
._targetDialogsExpress .dialog-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
._targetDialogsExpress button.dialog-button {
    width: 150px;
    min-width: 150px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    background: #ffffff8c;
    margin-bottom: 6px;
    border: 1px solid #3333334a;
}
._targetDialogsExpress button img {
    width: 35px;
    height: 35px;
    border: none;
    padding: 2px;
    margin-left: -4px;
    margin-right: 7px;
}