/* Roll and Dices */
.imgDice {
    border: 0px;
    width: 20px;
    height: 20px;
    background-image: url(/systems/conventum/image/texture/dice2.png);
    background-position: center;
    background-size: 20px 20px;
}
a._dice:hover {
    background: #a94d4a38;
    border-radius: 20px;
}
.dialog-buttons button.level1,
.dialog-buttons button.level2,
.dialog-buttons button.level3,
.dialog-buttons button.level4,
.dialog-buttons button.level5,
.dialog-buttons button.level6,
.dialog-buttons button.level7,
.dialog-buttons button.level8,
.dialog-buttons button.level9 {
    font-size: 12px;
    line-height: 12px;
    padding: 3px;
    margin: 1px!important;
    border: 1px solid #6057574f!important;
    font-family: var(--font2-aq);
    max-width: 24%;
}
.dialog._levelRoll,
.dialog._charRoll {
    width: auto!important;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    z-index: 10000!important;
}
._levelRoll section.window-content,
._charRoll section.window-content {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
}
._charRoll button.dialog-button {
    border: 1px solid #333;
    background: #c5a2a2;
}