/** --- CONTENT --- */
form._extend section.window-content {
    padding: 0;
    background-image: url(../assets/ui/paper.png);
    background-repeat: repeat;    
}
form._extend._actor section.window-content {
    justify-content: space-between;
    box-shadow: inset 0px 0px 3px 2px #000000c9;    
}
form._extend {
    font-family: var(--fFont0);
    font-size: var(--fSize);
}
form._extend._vyc {
    font-family: var(--vcfFont0);
}
form._extend.minimized {
    background: var(--aqDarkRed);
}
form._extend._vyc.minimized {
    background: var(--vcDarkGreen);
}
form._extend header.window-header {
    justify-content: flex-end;
    margin-bottom: -35px;
    background: none;
    border: none;
}
form._extend ._main {
    height: 100%;
    position: relative;
    overflow: hidden;
}
form._extend ._sheetContent {
    overflow-y: auto;
    height: calc(100% - 40px);
    padding: 0 10px;
    color: var(--aqText);
    box-shadow: inset 0px 0px 3px 2px #000000c9;
}
form._extend._actor ._sheetContent {
    box-shadow: none;
}
form._extend._vyc ._sheetContent {
    color: var(--vcText);
}
form._extend._actor ._sheetContent ._sheetWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    overflow-x: hidden;
    width: 100%;
    padding: 0;
    margin: 0; 
}
form._extend._actor ._sheetContent {
    height: 100%;
}
form._extend ._sheetFooter {
    width: 100%;
    height: 40px;
}

/** --- TABS --- */
form._extend nav.tabs {
    gap: none;
    line-height: calc(var(--fSize) * 1.5);
    border: none;
}
form._extend section.tab.active {
    height: calc( 100% - 10px);
}
form._extend._actor section.tab.active {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch; 
    overflow-x: hidden;
    overflow-y: auto;       
}


/** --- CONTROLES GENERAL --- */
form._extend input:disabled, 
form._extend select:disabled, 
form._extend textarea:disabled, 
form._extend code-mirror:disabled, 
form._extend formula-input:disabled, 
form._extend color-picker:disabled, 
form._extend file-picker:disabled {
    background: none!important;
    --input-background-color: none;
    --input-border-color: none;
    --input-text-color: var(--aqTextDisabled);
}
form._extend._vyc input:disabled, 
form._extend._vyc select:disabled, 
form._extend._vyc textarea:disabled, 
form._extend._vyc code-mirror:disabled, 
form._extend._vyc formula-input:disabled, 
form._extend._vyc color-picker:disabled, 
form._extend._vyc file-picker:disabled {
    --input-text-color: var(--vcTextDisabled);
}

form._extend ._sheetContent input,
form._extend ._sheetContent select,
form._extend ._sheetContent textarea {
    color: var(--aqText);
    background: #0000001a;
    border-radius: 0;
}
form._extend._vyc ._sheetContent input,
form._extend._vyc ._sheetContent select,
form._extend._vyc ._sheetContent textarea {
    color: var(--vcText);
}

button._checked {
    background: var(--aqRed2);
    color: #000;
    border: 1px solid var(--aqRed1);
}
._vyc button._checked {
    background: var(--vcGreen2);
    border: 1px solid var(--vcGreen1);
}

form._extend input[type="checkbox"]::before {
    color: #3402021c;
}
form._extend input[type="checkbox"]::after {
    color: var(--aqRed);
}
form._extend._vyc input[type="checkbox"]::after {
    color: var(--vcDarkGreen);
}

form._extend h1.divider::before, 
form._extend h2.divider::before, 
form._extend h3.divider::before, 
form._extend h4.divider::before,
form._extend h1.divider::after, 
form._extend h2.divider::after, 
form._extend h3.divider::after, 
form._extend h4.divider::after {
    border-top: 4px ridge var(--aqRed);
}
form._extend._vyc h1.divider::before, 
form._extend._vyc h2.divider::before, 
form._extend._vyc h3.divider::before, 
form._extend._vyc h4.divider::before,
form._extend._vyc h1.divider::after, 
form._extend._vyc h2.divider::after, 
form._extend._vyc h3.divider::after, 
form._extend._vyc h4.divider::after {
    border-top: 4px ridge var(--vcGreen);
}

form._extend input[name="name"]:disabled {
    color: var(--aqText2);
}
form._extend._vyc input[name="name"]:disabled {
    color: var(--vcText2);
}

/** --- SECCIONES --- */
._box {
    display: flex;
    flex-direction: column;
    width: fit-content;
    row-gap: 2px;
    border: 1px solid var(--aqRed);
    padding: 8px;
}
._vyc ._box {
    border: 1px solid var(--vcGreen);
}
._box ._title {
    width: 100%;
    text-align: center;
}
._box ._title h4.divider {
    margin: 0 0 4px 0;
}
._box ._title h4.divider::before,
._box ._title h4.divider::after {
    border-top: 2px ridge var(--aqRed);
}
._vyc ._box ._title h4.divider::before,
._vyc ._box ._title h4.divider::after {
    border-top: 2px ridge var(--vcGreen);
}

._box ._title label {
    font-family: var(--fFont1);
    font-size: calc(var(--fSize) * 1.5);
    line-height: calc(var(--fSize) * 1.5);
}
._vyc ._box ._title label {
    font-family: var(--vcfFont1);
}
._box ._row {
    gap: 2px;
}
._box._table ._row:nth-child(even) {
    background: #ffffff12;
}
._box ._row input,
._box ._row select {
    background: none;
    border-radius: 0;
}
._box input:focus,
._box select:focus,
._table input:focus,
._table select:focus {
    outline: 2px solid var(--aqRed);
}
._vyc ._box input:focus,
._vyc ._box select:focus,
._vyc ._table input:focus,
._vyc ._table select:focus {
    outline: 2px solid var(--vcGreen);
}
._box ._row label._input {
    height: calc(var(--fSize) * 2);
    line-height: calc(var(--fSize) * 2);
}
._box option,
._combo option,
._table option {
    background: #000000e0;
    color: #FFF;
}

._combo {
    display: flex;
    align-content: center;
    align-items: center;
    min-height: 2em;    
}
._combo label {
    white-space: nowrap;
}
form._extend._actor ._mainHeader ._combo label {
    color: var(--color-light-3);    
}
form._extend._actor ._mainHeader ._combo label._field {
    color: #ece2d4;
}
form._extend._actor ._mainHeader ._menu {
    position: absolute;
    width: calc(100% - var(--fSize) * 10);
    top: calc(100% - var(--fSize) * 1.5);
}
form._extend._actor ._mainHeader ._menu .tabs a,
form._extend._actor ._sheetContent .tabs._subMenu a {
    background-image: url(../assets/ui/paper.png);
    padding: calc(var(--fSize) * 0) calc(var(--fSize) * 0.5);
    color: #00000094;
    border: 1px solid var(--aqRed2);
    text-transform: uppercase;
    box-shadow: #00000080 0 0 8px 3px;
}
form._extend._actor ._mainHeader ._menu .tabs a.active,
form._extend._actor ._sheetContent .tabs._subMenu a.active {
    color: #000000;
    font-weight: 900;
    box-shadow: #000000AA 0 0 8px 3px;
}
form._extend._actor ._mainHeader ._menu .tabs,
form._extend._actor ._sheetContent .tabs._subMenu {
    gap: calc(var(--fSize) * 0.4);
}
form._extend._actor ._sheetContent .tabs._subMenu {
    margin-bottom: calc(var(--fSize) * 0.8);
}
form._extend._vyc._actor ._sheetContent .tabs._subMenu {
    margin-top: -6px;
}
form._extend._actor ._sheetContent .tabs._subMenu a {
    background: #673a31;
    color: #ffffff4d;
}
form._extend._vyc._actor ._sheetContent .tabs._subMenu a {
    background: #4d604c;
}
form._extend._actor ._sheetContent .tabs._subMenu a.active {
    color: #FFF;
    font-weight: 100;
}
._combo label._field {
    color: var(--aqText2);
    font-size: calc(var(--fSize) * 1.1);
    padding: 0 4px;
}
._vyc ._combo label._field {
    color: var(--vcText2);
}
._combo input,
._combo select {
    margin-left: 4px;
    font-size: var(--fSize);
    line-height: calc(var(--fSize) * 1.5);
    height: calc(var(--fSize) * 1.5);
    background: #ffffff0d;
    border-bottom: 1px solid #ffffff21;
    border-radius: 0;
}
._combo._fields input, 
._combo._fields select {
    font-size: calc(var(--fSize) * 1.1);
    color: var(--aqText2);
}
._combo img._fieldImg {
    width: calc(var(--fSize) * 1.5);
    height: calc(var(--fSize) * 1.5);
    margin: 0 5px;
}

form._extend ._sheetContent ._combo input,
form._extend ._sheetContent ._combo select {
    background: #6565651f;
}
._combo._fields {
    margin-right: 6px;
}
._combo._rowed {
    width: 100%;
}

/** --- CABECERA --- */
form._extend ._sheetHeader {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    overflow-x: auto;
    overflow-y: hidden;
    flex-direction: row;
    align-items: center;
}
form._extend ._sheetHeader ._headerBackground {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    opacity: 0.5;    
}
form._extend._actor ._sheetHeader ._headerBackground {
    opacity: 0.45;
}
form._extend ._sheetHeader,
form._extend ._sheetFooter {
    border: none;    
    background: var(--aqDarkRed);
}
form._extend._vyc ._sheetHeader,
form._extend._vyc ._sheetFooter {
    background: var(--vcDarkGreen);
}
form._extend ._sheetHeader {
    padding: 20px 10px 10px 10px;
    border-bottom: 1px solid var(--aqRed);
    position: relative;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;    
}
form._extend._vyc ._sheetHeader {
    border-bottom: 1px solid var(--vcGreen);
}
form._extend._item ._sheetHeader {
    padding: 20px 10px 20px 10px;
}
form._extend._actor ._header._sheetHeader {
    box-shadow: 1px 8px 7px 2px var(--aqBackRed);
}
form._extend._actor._vyc ._header._sheetHeader {
    box-shadow: 1px 8px 7px 2px var(--vcBackGreen);
}
form._extend ._mainHeader {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
form._extend._actor ._mainHeader {
    width: 100%;
    height: 100%;
}
form._extend._rasgo ._mainHeader input.h4 {
    font-size: calc(var(--fSize) * 1.25);
    height: calc(var(--fSize) * 1.25);
    line-height: calc(var(--fSize) * 1.25);
}

form._extend ._sheetFooter {
    border-top: 1px solid var(--aqRed);
}
form._extend._vyc ._sheetFooter {
    border-top: 1px solid var(--vcGreen);
}

form._extend ._sheetHeader .portrait {
    height: 150px;
    width: 150px;
}
form._extend._actor ._sheetHeader .portrait {
    height: 100%;
    width: calc(var(--fSize) * 8);
}
form._extend ._sheetHeader .portrait {
    width: 75px;
    height: 75px;
}
form._extend ._sheetHeader ._info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(100% - 150px);
}
form._extend ._sheetHeader ._info {
    width: calc(100% - 75px);
    padding-left: 10px;
}
form._extend._actor ._sheetHeader ._info {
    width: calc(100% - 120px);
}

/** --- TEXTOS --- */
form._extend .editor {
    height: calc(100% - 10px);
    text-align: justify;
}
form._extend input._fuente {
    text-align: right;
}
form._extend .editor h4 {
    color: var(--aqText);
}
form._extend._vyc .editor h4 {
    color: var(--vcText);
}
form._extend._vyc blockquote p,
dialog._extend._vyc blockquote p {
    font-family: var(--vcfFont0);
    text-align: right;
    color: var(--vcRed);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}
form._extend ._sheetContent ._properties {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}
form._extend ._sheetContent ._buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.15rem;
    margin-bottom: 0.5rem;
    background: #35080821;
    padding: 0.35rem;
    justify-content: flex-end;
    border: 1px solid #0000002b;
}
form._extend ._sheetContent ._properties button.icon {
    display: none;
}

form._extend ._sheetContent ._properties button.icon._checked,
form._extend ._editable ._sheetContent ._properties button.icon {
    display: flex!important;
}
form._extend ._sheetContent ._properties ._row {
    align-items: center;
    align-content: center;
}
form._extend ._sheetContent ._properties ._row label:nth-child(1) {
    min-width: calc(var(--fSize) * 7);
    text-align: right;
}
form._extend ._sheetContent ._properties input, 
form._extend ._sheetContent ._properties ._input, 
form._extend ._sheetContent ._properties select {
    height: calc(var(--fSize) * 1.5);
}
form._extend ._sheetContent ._properties ._menu {
    background: #000000ab;
    padding: 0.15rem 0.5rem;
    border: 1.5px solid #ffffffd9;
}
form._extend ._sheetContent h4 {
    font-family: var(--fFont1);
    color: var(--aqText);
    font-size: calc(var(--fSize) * 0.9);
}
form._extend._vyc ._sheetContent h4 {
    font-family: var(--vcfFont1);
    color: var(--vcText);
    font-size: calc(var(--fSize) * 1.25);
}

form._extend ._box._exper {
    margin-top: calc(var(--fSize) * 1);
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
}

form._extend label._subTitle {
    font-size: calc(var(--fSize) * 1.2);
    line-height: calc(var(--fSize) * 1.15);
    color: var(--aqRed2);
    font-weight: 100;
}
form._extend ._stats ._box._exper ._subTitle._pta {
    width: calc(var(--fSize) * 8);
    white-space: break-spaces;
    font-size: calc(var(--fSize) * 1.1);
    line-height: calc(var(--fSize) * 1);
    text-align: center;
    padding: 0;
    margin: 0;
}
form._extend ._stats ._box._exper ._logo {
    width: 100%;
    height: calc(var(--fSize) * 10);
    position: absolute;
    top: calc(var(--fSize) * 8);
    z-index: -1;
    opacity: 0.2;
}
form._extend ._stats ._box._exper input._pta {
    width: calc(var(--fSize) * 5);
    height: calc(var(--fSize) * 2.2);
    font-size: calc(var(--fSize) * 2.3);
}
form._extend ._stats ._box._exper label._stat._pta {
    margin: 5px 0;
    border: 2px solid #000;
    font-size: calc(var(--fSize) * 2);
    line-height: calc(var(--fSize) * 2.2);
    height: calc(var(--fSize) * 2.2);
    padding: 0 0 calc(var(--fSize) * 0.2) 0;
    text-align: center;
    width: calc(var(--fSize) * 6);    
}

/** --- TIRADAS --- */
._roll {
    position: relative;
    cursor: pointer;
}
._roll span._value,
._roll span._dice {
    position: absolute;
    display: inline;
    left: 0;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    line-height: calc(var(--fSize) * 1.6);
}
._roll span._dice {
    opacity: 0;
}
._roll:hover span._dice {
    opacity: 1;
    color: #79151547;
}
._roll:hover span._value {
    z-index: 1;
}

/** --- CARACTERÍSTICAS --- */
form._extend ._stats {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
    height: fit-content;

    width: calc(var(--fSize) * 27);
    height: 100%;    
}
form._extend ._stats ._wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    min-height: 100%;
    /* width: calc(var(--fSize) * 25); */
}
form._extend ._stats h4._title {
    width: 100%;
    margin: 0;
    font-size: calc(var(--fSize) * 1.3);
}
form._extend ._stats ._attrs {
    padding-left: 20px;
}

    /** --- CUSTO PARA AQ3 --- */
    form._extend._aq3 ._stats ._row._char._header label:first-child,
    form._extend._aq3 ._stats ._row._char label._charTitle {
        width: calc(var(--fSize) * 8);
        text-align: left;
        padding-left: 5px;
    }
    form._extend._aq3 ._stats ._row._char label._charTitle span._bold {
        margin-right: 1px;
    }
    form._extend._aq3 ._stats ._box {
        border: none;
        padding: 0;
    }

    /** --- CUSTO PARA AQ4 --- */
    form._extend._aq4 h4.divider::before,
    form._extend._aq4 h4.divider::after {
        border: 0;
        background-size: contain;
        background-repeat: no-repeat;
        mask: none;
        height: calc(var(--fSize) * 1);
    }    
    form._extend._aq4 h4.divider::before {
        background-image: url(../assets/ui/aq4_flower1.png);
    }
    form._extend._aq4 h4.divider::after {
        background-image: url(../assets/ui/aq4_flower2.png);
    }    
    form._extend._aq4 ._stats ._box {
        border: none;
    }    
    form._extend._aq4 ._stats ._table {
        row-gap: 0;
    }
    form._extend._aq4 ._stats h4._title {
        margin: calc(var(--fSize) * 1) 0 calc(var(--fSize) * 0.25) 0;
        font-size: calc(var(--fSize) * 1);
        border-bottom: 1px solid #000;
        padding-bottom: calc(var(--fSize) * 0.3);
    }    
    form._extend._aq4 ._table._chars ._row {
        gap: 0;
        justify-content: flex-end;
    } 
    form._extend._aq4 ._table._chars ._row._char._header label {
        height: calc(var(--fSize) * 1.7);
        width: calc(var(--fSize) * 3);
    }
    form._extend._aq4 ._table._chars ._row._char label._charTitle {
        color: var(--aqRed2);
        font-weight: 900;        
        width: calc(var(--fSize) * 4);
        padding-right: calc(var(--fSize) * 0.75);        
    }
    form._extend._aq4 ._table._chars input._charTotal, 
    form._extend._aq4 ._table._chars input._charValue,
    form._extend._aq4 ._table._chars label._charValue {
        margin: 0;
        border: none;
        border-top: 1.5px solid #000000b0;
        border-left: 1.5px solid #000000b0;
        width: calc(var(--fSize) * 3.2);
        font-size: calc(var(--fSize) * 1.6);
        line-height: calc(var(--fSize) * 1.6);
        height: calc(var(--fSize) * 1.8);
        text-align: center;
    }       
    form._extend._aq4 ._table._chars ._row:last-child input._charTotal,
    form._extend._aq4 ._table._chars ._row:last-child input._charValue,
    form._extend._aq4 ._table._chars ._row:last-child label._charValue {
        border-bottom: 1.5px solid #000000b0;
    }
    form._extend._aq4 ._table._chars label._charValue {
        border-right: 1.5px solid #000000b0;
    }
    form._extend._aq4 ._table._subChars input, 
    form._extend._aq4 ._table._subChars ._input {
        width: calc(var(--fSize) * 3.35);
        height: calc(var(--fSize) * 2);
        line-height: calc(var(--fSize) * 2);
    }    
    form._extend._aq4 ._table._subChars label._charTitle {
        width: calc(var(--fSize) * 7.25)!important;
        padding: 0;
        text-align: center;
        text-transform: uppercase;
    }    
    form._extend._aq4 ._table._chars._subChars {
        padding-top: 0;
    }
    form._extend._aq4 ._table._chars._subChars input._charValue {
        border-right: 1.5px solid #000000b0;
    }
    form._extend._aq4 ._table._percents {
        margin-top: calc(var(--fSize) * 2);
    }    
    form._extend._aq4 ._table._percents ._row label {
        font-size: calc(var(--fSize) * 1);
        width: calc(var(--fSize) * 3.5);
    }    
    form._extend._aq4 ._table._percents ._row._header {
        border-bottom: 2px solid var(--aqRed);
    }    
    form._extend._aq4 ._table._percents ._row._header label {
        font-weight: 900;
    }    
    form._extend._aq4 ._table._percents ._row:nth-child(even) {
        background: #691f1726;
    }    
    form._extend._aq4 ._stats ._note {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: calc(var(--fSize) * 1);
    }
    form._extend._aq4 ._stats ._note ._strong {
        width: 43%;
        text-align: right;
        padding-right: calc(var(--fSize) * 0.5);
        font-weight: 900;
    } 
    form._extend._aq4 ._stats ._logo {
        height: calc(var(--fSize) * 8);
        position: relative;
        margin-bottom: calc(var(--fSize) * -2);
        top: calc(var(--fSize) * -1);        
        transition: 0.8s;
    }
    form._extend._aq4 ._stats ._logo._clickable:hover {
        cursor: pointer;
        filter: blur(2px) grayscale(0.8);
    }       
    form._extend._aq4 ._rrirr {
        display: flex;
        flex-direction: column;
        position: relative;
        top: calc(var(--fSize) * -2.5);        
    }
    form._extend._aq4 ._rrirr label._title {
        font-size: calc(var(--fSize) * 1.5);
        font-family: var(--fFont1);
        font-weight: 900;
        width: 100%;
        text-align: center;        
    }    
    form._extend._aq4 ._rrirr label._title._xsSize {
        width: calc(var(--fSize) * 3.5) !important;
        font-size: calc(var(--fSize) * 0.75);
    }    
    form._extend._aq4 ._rrirr label._input, 
    form._extend._aq4 ._rrirr input {
        border: 2px solid var(--aqRed);
        border-radius: calc(var(--fSize) * 0.4);
        text-align: center;
        font-size: calc(var(--fSize) * 2);
        line-height: calc(var(--fSize) * 2);
        padding: 0;
        margin: 0;
        height: calc(var(--fSize) * 2);
        margin-bottom: calc(var(--fSize) * 0.75);
    }
    form._extend._aq4 ._rrirr label._charHG {
        height: calc(var(--fSize) * 1.8);
        font-size: calc(var(--fSize) * 1.35);
        line-height: calc(var(--fSize) * 1.35);
        border-radius: 0;
    }    
    form._extend._aq4 ._healthWrap {
        margin-right: calc(var(--fSize) * 1);
    }         
    form._extend._aq4 ._health,
    form._extend._aq4 ._status {
        display: flex;
        flex-wrap: wrap;
        width: calc(var(--fSize) * 10);
        align-content: flex-start;
        align-items: flex-start;        
    }
    form._extend._aq4 ._health ._numberBox {
        width: calc(var(--fSize) * 2);
        line-height: calc(var(--fSize) * 1.25);
        display: flex;
        align-content: center;
        justify-content: center;
        transition: 0.5s;
        border-radius: 0;
    }
    form._extend._aq4 ._health ._row {
        justify-content: center;
    }
    form._extend._aq4 ._health ._numberBox label {
        font-size: calc(var(--fSize) * 1.25);
        width: 100%;
        text-align: center;        
    } 
    form._extend._aq4 ._health a,
    form._extend._aq4 ._health a ._numberBox,
    form._extend._aq4 ._health a label {
        cursor: pointer!important;
    }
    form._extend._aq4 ._health label._disabled {
        opacity: 0.35;
    }  
    form._extend._aq4 ._health a:hover label::before,  
    form._extend._aq4 ._health label._selected::before {
        background-image: url(../assets/ui/aq3_comp_primaria.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        content: ' ';
        width: calc(var(--fSize) * 2);
        height: calc(var(--fSize) * 1.5);
        display: block;
        position: relative;
        margin-bottom: calc(var(--fSize) * -1.5);
        margin-right: calc(var(--fSize) * -2);
        z-index: -1;
    }
    form._extend._aq4 ._health ._central label {
        text-align: center;
        padding: calc(var(--fSize) * 0.35) 0 0 0;
        margin: 0;
    }    
    form._extend._aq4 ._health a:hover ._central label::before,
    form._extend._aq4 ._health ._central label._selected::before {
        left: calc(50% - var(--fSize));
    }
    form._extend._aq4 ._status label, 
    form._extend._aq4 ._status input {
        height: var(--fSize);
        line-height: var(--fSize);
        display: flex;
        align-content: center;
        align-items: center;
    } 
    form._extend._aq4 ._status {
        margin-right: calc(var(--fSize) * 0.75);
        margin-top: calc(var(--fSize) * 1.5);
    }       
    form._extend._aq4 ._status input._statusValue {
        text-align: right;
        border-bottom: 1.5px solid #000;
    }    

    /** --- CUSTO PARA VYC --- */
    form._extend._vyc h4.divider {
        font-weight: 100;
    }    
    form._extend._vyc h4.divider::before,
    form._extend._vyc h4.divider::after {
        border: 0;
        background-size: contain;
        background-repeat: repeat-x;
        height: calc(var(--fSize) * 1);
    }    
    form._extend._vyc h4.divider::before {
        background-image: url(../assets/ui/vyc_flower.png);
    }
    form._extend._vyc h4.divider::after {
        background-image: url(../assets/ui/vyc_flower.png);
    }    
    form._extend._vyc ._stats,
    form._extend._vyc ._skills {
        margin-top: 5px;
    }
    form._extend._vyc ._stats ._row._char._header label:first-child,
    form._extend._vyc ._stats ._row._char label._charTitle {
        width: calc(var(--fSize) * 8);
        text-align: left;
        padding-left: 5px;
        font-size: calc(var(--fSize) * 1.1);
        line-height: calc(var(--fSize) * 1.5);
        height: calc(var(--fSize) * 1.5);        
    }
    form._extend._vyc ._stats ._row._char label._charTitle {
        color: #000000d9;
        font-family: var(--vcfFont1);
        font-style: italic;
    }
    form._extend._vyc ._stats ._row._char label._charTitle span._bold {
        font-weight: 100;
        color: #000000;      
        font-style: normal;
    }
    form._extend._vyc ._stats ._box {
        border: none;
        padding: 0;
    }   
    form._extend._vyc ._row._char input._charTotal, 
    form._extend._vyc ._row._char ._input._charTotal, 
    form._extend._vyc ._row._char input._charValue, 
    form._extend._vyc ._row._char ._input._charValue,
    form._extend._vyc ._row._char input._charValue, 
    form._extend._vyc ._row._char ._input._charValue {
        border: 1.5px solid #7817171c;
        border-bottom: 1.5px solid #7817176e;
        border-right: 1.5px solid #4a0e0e52;
        font-size: calc(var(--fSize) * 1.4);
        line-height: calc(var(--fSize) * 1.5);
        height: calc(var(--fSize) * 1.6);     
    }
    form._extend._vyc ._table._chars ._row:nth-child(even) {
        background: #691f1712;
    }   
    form._extend._vyc ._aspect {
        margin-top: calc(var(--fSize) * 1.5);
    }    
    form._extend._vyc ._aspect label._charTitle {
        width: auto!important;
        font-size: calc(var(--fSize) * 1.05)!important;
    }
    form._extend._vyc ._aspect label._mod {
        text-align: right;
        margin-right: calc(var(--fSize) * -0, 5);
    }    
    form._extend._vyc ._rrirr {
        display: flex;
        flex-direction: row;
        width: calc(var(--fSize) * 13.5);
        margin-top: calc(var(--fSize) * 1); 
    }
    form._extend._vyc ._rrirr label._charTitle {
        width: calc(100% - var(--fSize) * 3)!important;
        line-height: calc(var(--fSize) * 1.8);
        -webkit-mask-image: linear-gradient(270deg, transparent 0%, black 60%);
        mask-image: linear-gradient(270deg, transparent 0%, black 60%); 
        font-style: normal !important;
        font-weight: 900;       
    }
    form._extend._vyc ._rrirr ._input,
    form._extend._vyc ._rrirr input {
        width: calc(var(--fSize) * 3);
    }
    form._extend._vyc ._rrirr label._rr {
        border-bottom: 4px solid #263e9c63
    }
    form._extend._vyc ._rrirr label._irr {
        border-bottom: 4px solid #d40b0b69;
        margin-left: 0.5rem;
    }    
    form._extend._vyc ._attr label._attrTitle {
        font-size: calc(var(--fSize) * 1.15);
        line-height: calc(var(--fSize) * 2);
        width: calc(var(--fSize) * 8);
        font-family: var(--vcfFont1);
        font-style: italic;
    }    
    form._extend._vyc ._attrs label._xsSize._charTitle {
        width: calc(var(--fSize) * 6.4) !important;
        font-size: calc(var(--fSize) * 1) !important;
        padding-left: 0 !important;
    }    
    form._extend._vyc ._table._percents {
        margin-top: calc(var(--fSize) * 2);
    }    
    form._extend._vyc ._table._percents ._row label {
        font-size: calc(var(--fSize) * 0.9);
        width: calc(var(--fSize) * 3.5);
    }    
    form._extend._vyc ._table._percents ._row._header {
        border-bottom: 2px solid #b9888852;
    }      
    form._extend._vyc ._table._percents ._row:nth-child(even) {
        background: #6d1d1d14;
    } 
    form._extend._vyc ._stats ._note {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: calc(var(--fSize) * 1);
    }
    form._extend._vyc ._stats ._note ._strong {
        width: 43%;
        text-align: right;
        padding-right: calc(var(--fSize) * 0.5);
    } 
    form._extend._vyc ._attrs ._table._status label {
        font-size: calc(var(--fSize) * 0.9);
        font-family: var(--vcfFont1);
        font-style: italic;
    }    
    form._extend._vyc ._attrs ._table._status input._statusValue {
        border: 1px solid #00000000;
        border-bottom: 1.5px solid #490b0b4a;
        border-right: 1.5px solid #490b0b4a;
        font-size: calc(var(--fSize) * 1.2);
        padding-bottom: calc(var(--fSize) * 0.3);
        color: #8b3535;
    }    

form._extend section.tab[data-tab="rasgos"] {
    width: 100%;
    min-height: 100%;
}
form._extend section.tab[data-tab="rasgos"] ._orgullos,
form._extend section.tab[data-tab="rasgos"] ._verguenzas,
form._extend section.tab[data-tab="rasgos"] ._secuelas {
    width: 100%;
    min-height: 30%;
}
form._extend section.tab[data-tab="rasgos"] table._list label._name {
    font-weight: 100;
}

form._extend ._fog {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000bf;
    z-index: 1;    
}
form._extend ._fog ._explain {
    width: 70%;
    height: 60%;
    position: absolute;
    left: 15%;
    top: 25%;
    background: #000000a6;
    padding: 2rem;
    border: 2px solid #ffa500cf;
    box-shadow: #e197285c 0 0 12px 9px;
    font-size: 1.25rem;
    text-align: justify;
    color: #ffffffdb !important;
}
form._extend ._fog ._buttons {
    height: 3rem;
    display: flex;
    gap: 0.5rem;
    width: 100%;
    position: absolute;
    top: calc(100% - 3rem);
    left: 0;
    padding: 0 1rem;
    justify-content: flex-end;
}
form._extend ._fog ._boxPointer {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid #ffa500cf;
    box-shadow: #e197285c 0 0 12px 9px;
    background: #ffdd007d;
    top: 4px;
}
form._extend ._fog ._boxPointer._firstTime01 {
    left: calc(100% - 63px);
}
form._extend ._fog ._boxPointer._firstTime02 {
    left: calc(100% - 90px);
}
form._extend ._fog ._boxPointer._firstTime03 {
    left: calc(100% - 118px);
}

/** COMBATE **/
form._extend section.tab.active._combate {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    position: relative;
}
form._extend section.tab._combate ._left {
    width: 65%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding-top: 10px;
}
form._extend section.tab._combate ._right {
    width: 35%;
    display: flex;
    min-height: 100%;
}
form._extend section._combate ._left ._weapons {
    min-height: calc(50% - var(--fSize) * 2);
}
form._extend section.tab._combate ._location {
    width: 100%;
    height: 100%;
    display: flex;
    padding: calc(var(--fSize) * 1) 0;
    position: relative;
}
form._extend section.tab._combate ._location ._maniqui {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
form._extend section.tab._combate ._location ._frontal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
form._extend section.tab._combate ._location ._escudo {
    width: 20%;
    height: 16%;
    border: 3px solid #0000005c;
    box-shadow: #00000059 0px 0px 8px 1px;
    position: absolute;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background: #ffffff4a;
}
form._extend section.tab._combate ._location ._escudo ._title {
    white-space: nowrap;
    width: 100%;
    font-size: 87%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #00000012;
    background: #5c1414d1;
    color: #FFF;
}
form._extend._vyc section.tab._combate ._location ._escudo ._title {
    font-size: 76%;
    padding-top: 3px;
}
form._extend section.tab._combate ._location ._escudo ._input {
    display: flex;
    width: 100%;
    height: 73%;
    margin-top: -8%;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 259%;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}
._escudo.cabeza {
    top: 3%;
    left: 22%;
}
._vyc ._escudo.cabeza {
    top: 4%;
    left: 18%;
}
._escudo.brazoDerecho {
    top: 30%;
    left: 73%;
}
._aq4 ._escudo.brazoDerecho {
    top: 36%;
    left: 73%;
}
._vyc ._escudo.brazoDerecho {
    top: 28%;
    left: 75%;
}
._escudo.brazoIzquierdo {
    top: 23%;
    left: 8%; 
}
._aq4 ._escudo.brazoIzquierdo {
    top: 24%;
    left: 11%;
}
._vyc ._escudo.brazoIzquierdo {
    top: 38%;
    left: 6%;
}
._escudo.pecho {
    top: 14%;
    left: 58%;
}
._vyc ._escudo.pecho {
    top: 11%;
    left: 57%;
}
._escudo.abdomen {
    top: 43%;
    left: 19%;
}
._aq4 ._escudo.abdomen {
    top: 44%;
    left: 24%;
}
._vyc ._escudo.abdomen {
    top: 37%;
    left: 52%;
}
._escudo.piernaDerecha {
    top: 58%;
    left: 63%;
}
._vyc ._escudo.piernaDerecha {
    top: 58%;
    left: 63%;
}
._escudo.piernaIzquierda {
    top: 62%;
    left: 17%;
}
._aq4 ._escudo.piernaIzquierda {
    top: 66%;
    left: 19%;
}
._vyc ._escudo.piernaIzquierda {
    top: 69%;
    left: 11%;
}

section._combate button[data-path="system.enUso"],
section._combate button[data-path="system.manoAuxiliar"],
section._combate button[data-path="system.manoPrincipal"] {
    background: #00000014;
}
section._combate button[data-path="system.enUso"]._checked,
section._combate button[data-path="system.manoAuxiliar"]._checked,
section._combate button[data-path="system.manoPrincipal"]._checked,
section._combate button._checked[data-action="_showPenals"] {
    background: var(--aqRed2);
    color: #e5d6c0;
}

/** TABLAS */

._table._status ._row {
    align-content: center;
    align-items: center;
}
._table._status ._row input[type="checkbox"] {
    margin-right: 4px;
}
._table._status label,
._table._status input {
    font-size: calc(var(--fSize) * 1);
    line-height: calc(var(--fSize) * 1);
    padding: 0;
    margin: 0;
    height: calc(var(--fSize) * 1);
}
._attrs ._table._status label {
    width: calc(var(--fSize) * 9);
    display: flex;
}
._attrs ._table._status input[type="number"] {
    width: calc(var(--fSize) * 2);
    font-size: calc(var(--fSize) * 1.25);
    line-height: calc(var(--fSize) * 1.25);
    height: calc(var(--fSize) * 1.25);
    padding-bottom: calc(var(--fSize) * 0.1);
    border-bottom: 2px solid #000;
    text-align: center;
}
._attrs ._table._status {
    margin-top: calc(var(--fSize) * 1);
}
._attrs ._table._rrirr {
    margin-top: calc(var(--fSize) * 2.9);
}
._attrs ._table._rrirr ._row label, 
._attrs ._table._rrirr ._row input {
    width: calc(var(--fSize) * 3)!important;
    text-align: center!important;
    margin: 0;
}
._attrs ._table._rrirr ._row {
    gap: 7px;
}
._attrs ._table ._row._lines {
    height: 1rem;
    line-height: 1rem;
}
._attrs ._table ._row._lines label {
    height: 10px;
}
._attrs label._ptf {
    border-bottom: 6px solid #45698d;
    margin-top: 2px;
    margin-bottom: 2px;
}
._attrs label._ptc {
    border-bottom: 6px solid #8d4545;
    margin-top: 2px;
    margin-bottom: 2px;
}


._extend table._list {
    background: none;
}
._extend table._list thead {
    background: none;
    border: none;
    border-bottom: 1px solid #00000021;
}
._extend table._list thead tr,
._extend table._list tr:nth-child(even) {
    background: #80525224;
}
._extend table._list th, 
._extend table._list td {
    padding: calc(var(--fSize) * 0.3) calc(var(--fSize) * 0.5);
}
._extend table._list th label {
    font-size: calc(var(--fSize) * 0.9);
    font-style: italic;
}
._extend table._list label._name {
    font-size: calc(var(--fSize) * 1);
    font-weight: 900;
}
._extend table._list ._skillValue,
._extend table._list ._damageValue {
    border: 2px solid #7a12122e;
    height: calc(var(--fSize) * 1.65);
    font-size: calc(var(--fSize) * 1.5);
    margin-top: calc(var(--fSize) * -0.1);
    margin-bottom: calc(var(--fSize) * -0.2);
    padding-bottom: calc(var(--fSize) * 1.7);
    display: flex;
}
._extend table._list ._damageValue {
    width: calc(var(--fSize) * 6);
    font-size: calc(var(--fSize) * 1.25);
}  

form._extend input._stat {
    margin: 5px;
    border: 2px solid #000;
    font-size: calc(var(--fSize) * 2);
    line-height: calc(var(--fSize) * 2.2);
    height: calc(var(--fSize) * 2.2);
    padding: 0 0 calc(var(--fSize) * 0.2) 0;
    text-align: center;
}
._table._chars ._row:nth-child(even) {
    background: #691f1726;
}
._table._noRowsColor ._row:nth-child(even) {
    background: none!important;
}
._row._char label,
._row._char input {
    font-size: calc(var(--fSize) * 1.8);
    height: calc(var(--fSize) * 1.8);
    width: calc(var(--fSize) * 2.5);
    padding: 0;
}
._row._char label._charTitle {
    font-size: calc(var(--fSize) * 1.2);
    line-height: calc(var(--fSize) * 2);
    padding-right: 5px;
    text-align: right;
}
._row._char input._charTotal,
._row._char ._input._charTotal, 
._row._char input._charValue,
._row._char ._input._charValue {
    text-align: center;
    border: 2px solid #000000c2;
}
._row._char input._charValue,
._row._char ._input._charValue {
    border: 2px solid #00000047;
    margin-left: 5px;
}

._row._char._header label {
    padding: 0;
    font-size: calc(var(--fSize) * 1);
    height: calc(var(--fSize) * 1.3);
    text-align: center;
    margin-right: 2px;
}
._table._extraChars {
    margin-top: 3px;
}
._box._extraChars ._row {
    margin-bottom: 2px;
}
._table._extraChars ._row:nth-child(even) {
    background: none;
}
._box._extraChars ._row._char label,
._box._extraChars ._row input {
    line-height: calc(var(--fSize) * 1.5);
    height: calc(var(--fSize) * 1.5);
}
._box._extraChars ._row._char label {
    padding-top: calc(var(--fSize) * 0.2);
}
._box._extraChars ._row label._input {
    font-size: calc(var(--fSize) * 1);
    padding-top: calc(var(--fSize) * 0.3);
}
._box._extraChars ._row input {
    border: none;
    text-align: right;
}
._box._extraChars ._row ._input, 
._box._extraChars ._row input {
    border-bottom: 2px solid #000000ab;
    font-size: calc(var(--fSize) * 1.4);
}
._row._extra {
    margin-top: calc(var(--fSize) * 1);
    gap: calc(var(--fSize) * 0.5);
    align-content: center;
    align-items: center;
}

/** --- COMPETENCIAS --- */
form._extend ._skills {
    display: grid;
    grid-auto-flow: dense;
    align-content: start;
    align-items: stretch;
    justify-items: stretch; 
    padding-top: 10px;
}
form._extend ._skills._sided {
    padding-left: 10px;    
}
form._extend ._skills._down {
    margin-top: 15px;
    padding-top: 10px;   
}
form._extend ._skills ._skill {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    min-width: calc(var(--fSize) * 15);
    padding-right: 0.75rem;
    padding-left: calc(var(--fSize) * 0.25);
    position: relative;
}
form._extend ._skills ._skill a._name,
form._extend ._skills ._skill label._name {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}
form._extend ._skills ._skill._folder label._name {
    font-weight: 900;
}
form._extend ._skills ._skill h4._title {
    width: calc(100% - 1rem);
    padding: 0;
    margin: 0;
    margin-bottom: calc(var(--fSize) * 0.2);
}
form._extend ._skills ._skill img._skillIcon, 
form._extend ._skills ._skill a._skillIcon {
    min-width: var(--fSize);
    height: var(--fSize);
}
form._extend ._skills ._skill a._skillIcon:hover img {
    filter: invert(1);
}
form._extend input._skillValue,
form._extend label._skillValue {
    display: flex;
    font-size: calc(var(--fSize) * 1.25);
    width: calc(var(--fSize) * 4);
    white-space: nowrap;
    line-height: calc(var(--fSize) * 1.4);
    height: calc(var(--fSize) * 1.4);
    text-align: center;
    border-bottom: 2px solid #000;
}
form._extend input._skillValue:focus,
form._extend ._properties input:focus,
form._extend ._properties select:focus {
    outline: 4px solid #b72727;
}
form._extend ._skills ._skill input._skillCheck {
    height: calc(var(--fSize) * 1);
}
form._extend ._skills ._skill._back {
    background: #53080817;
}
form._extend ._skills ._skill._subSkill {
    padding-left: calc(var(--fSize) * 0.25);
    border-left: calc(var(--fSize) * 1.4) solid #53080817;
}
form._extend ._skills button.icon.showPenals {
    background: none;
    height: calc(var(--fSize) * 1.5);
}
form._extend ._skills button.icon.showPenals {
    height: calc(var(--fSize) * 0.65);
    width: calc(var(--fSize) * 0.65);
    font-size: calc(var(--fSize) * 0.6);
    line-height: calc(var(--fSize) * 0.5);
    background: #b53838;
    position: absolute;
    left: calc(100% - var(--fSize) * 6.5);
    top: 3px;
}
form._extend ._skills ._skill button[data-action="_deleteItem"] {
    font-size: calc(var(--fSize) * 0.6);
    line-height: calc(var(--fSize) * 0.6);
    margin: 0 calc(var(--fSize) * -0.3);
}


/** --- OTROS --- */
form._extend .window-resize-handle {
    width: 20px;
    height: 20px;
    background-image: url(../assets/ui/resizable.png);
    filter: none;
}

a[data-action="_showItem"] label,
a[data-action="_showDescr"] label,
a[data-action="_showStatus"] label {
    cursor: var(--cursor-pointer);
    transition: 0.5s;
}
a[data-action="_showItem"]:hover label,
a[data-action="_showDescr"]:hover label,
a[data-action="_showStatus"]:hover label {
    background: linear-gradient(45deg, #cf7f1b4a, transparent);
    color: #7f2a2a;
}
._logo {
    background-image: url(../assets/ui/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
label._advert {
    border: 1px solid #00000063;
    padding: 0 0.5rem;
    margin: 0 0.5rem;
    background: #510808a8;
    color: #FFF;
}

/** DESCRIPCIONES */
._item._extend table {
    background: none;
}
._item._extend img {
    /*border: 1.5px solid #00000042;*/
    border: none;
}
._item._extend img.item-portrait {
    border: none;
}
._item._extend table td {
    padding: 0.5rem 0.5rem 0 0;
    align-content: flex-start;
}

/** TOURS **/
.tour ._tourWrap {
    display: flex;
    flex-direction: column;
    margin-bottom: -50px;
}
.tour ._tourHeader {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
}
.tour ._tourWrap p:empty {
    display: none;
}
.tour ._tourWrap h1,
.tour ._tourWrap h4 {
    font-family: "corvux", serif;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
}
.tour ._tourWrap h4 {
    font-size: 1.5rem;
}
.tour ._vyc {
    font-family: "IM Fell English SC", serif;
    color: #4e975d;
    font-size: 1.75rem;
}
.tour ._tourWrap p.content {
    text-align: justify;
    padding: 0 1rem;
    color: #ffffffd6;
    font-family: "Almendra", serif;
    font-size: 1.1rem;
    line-height: 1.25rem;
}
.tour ._tourWrap p.content strong {
    color: #e94040;
}