aside.tour {
    background: var(--paper-aq)!important;
    background-repeat: repeat!important;
    background-size: 250px!important;
    border: 2px solid #251d1d!important;
    color: #333;
    padding: 20px;
    min-width: 450px!important;
    padding-left: 15px;
    padding-right: 15px;    
}
.tour header h3 {
    color: #333!important;
    font-family: var(--font-aq);
}
.tour header h3::first-letter {
    color: #b92b2b;
    font-size: 60px;
    line-height: 50px;
}
.tour a i {
    color: #333!important;
}
.tour p {
    font-family: var(--font-aq);
    color: #333!important;
    text-align: justify!important;
    font-size: 16px!important;
    line-height: 23px!important;
    portant: ;
    line-height: 15px;
}
.tour footer.step-controls .progress {
    color: #111111d1!important;
}